@import url("./lib/jquery.jgrowl.css");

.office-auth-login-wrapper, .office-auth-register-wrapper {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.office-auth-register-wrapper {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.office-message-success  {background-color: green !important;}
.office-message-error  {background-color: brown !important;}
.office-message-info  {background-color: black !important;}

#office-auth-form .red {
    color: darkred;
}
/*----new style¸------*/
.wind.prof,.wind.prof>* {
    display: inline-block;
}

.wind.prof {
    text-align: center;
    margin: 20px auto;
    /* width: 400px; */
    display: block;
    padding: 20px;
    /* background: rgb(34, 34, 34); */
    /* max-width: 80%; */
    min-width: 320px;
    max-width: 1100px;
}

.wind.prof >* {
    text-align: center;
    /* color: #fff; */
    vertical-align: middle;
    margin: 5px;
}

.wind.prof.logOut .avat img {
    width: auto;
    max-width: 100%;
}

.wind.prof.logOut span.ha-info b {
    color: #cd263f;
    display: block;
}

.wind.prof.logOut span.ha-info a,.butt
{
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #cd263f;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    border: none;
    }
    
    .wind.prof.edit > * {
    margin: 0px;
    max-width: 100%;
}

.wind.prof.edit .header {
    padding: 0px!important;
    font-size: 20px;
}
.wind.prof.edit .form-group {
    margin: 10px 0px;
    padding: 10px 0px;
    /* border-top: 1px solid #eca5bf; */
}
.wind.prof.edit .form-group.avatar .wind >* {
    display: inline-block;
    width: auto;
    /* background: #f00; */
    vertical-align: middle;
}
.wind.prof.edit .form-group.avatar .wind .avat img {
    width: auto;
    max-width: 100%;
}

.wind.prof.edit .form-group.avatar .wind .avat {
    width: 25%;
}

.wind.prof.edit .form-group.avatar .wind .info {
    width: 74%;
    text-align: center;
}

.wind.prof.edit .form-group.avatar .wind .info a {
    color: #cd263f;
    text-decoration: none;
}
.wind.prof.edit .form-group.avatar .wind .info p {
    margin: 0px;
    margin-bottom: 10px;
}
.wind.prof.edit .form-group.avatar {
    display: block;
}

.wind.prof.edit .form-group.avatar label.control-label {
    width: 100%;
}

.wind.prof.edit .form-group.avatar .wind {
    width: auto;
    text-align: center;
}


.wind.prof.edit .form-group:last-child {
    border: none;
}

.wind.prof.edit .form-group > * {
    display: inline-block;
    vertical-align: middle;
}

.wind.prof.edit .form-group .wind {
    text-align: right;
}

.wind.prof.edit .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}


 

.wind.prof.edit .form-group label.control-label {
    width: 40%;
}

.wind.prof.edit .form-group .wind {
    width: 110%;
}

.wind.prof.edit .form-group.social a {
    font-size: 0px;
}
.wind.prof.edit .form-group:last-child .wind {
    width: 100%;
    text-align: center;
}

.wind.prof {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width:388px)
{
    .wind.prof.edit div.form-group
    {
        display: block;
    }

    .wind.prof.edit .form-group label.control-label, .wind.prof.edit .form-group .wind, .wind.prof.edit .form-group.avatar .wind, .wind.prof.edit .form-group.avatar label.control-label, .wind.prof.edit .form-group.avatar .wind .avat,.wind.prof.edit .form-group.avatar .wind .info {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    .form-group .butt {
        margin: 10px 0px;
        display: inline-block;
    }
}

/*---pink table---*/
.x-form-field-wrap .x-form-trigger.x-form-trigger-over,
.x-form-field-wrap .x-form-trigger:hover,
.x-form-field-wrap .x-form-trigger.x-form-trigger-over, 
.x-form-field-wrap .x-form-trigger:hover,
.x-btn:hover
{
    -webkit-box-shadow: 0 0 0 1px #df476e;
    box-shadow: 0 0 0 1px #df476e;
    background-color:#a8434e;
}
 
.x-combo-list .x-combo-list-inner,
.x-field-search-clear,
.x-field-search-go,
.x-grid3,
.x-menu-floating
{
    border-color:#a8434e!important;
}

.x-combo-list .x-combo-list-inner:hover,.x-field-search-clear:hover, .x-field-search-go:hover,
{
    border-color:#df476e;
}

div#ext-gen36:hover,.x-toolbar .x-form-field-trigger-wrap:hover,
div#ext-gen36:hover,div#ext-gen42:hover
{
    -webkit-box-shadow: 0 0 0 1px #df476e;
    box-shadow: 0 0 0 1px #df476e;
}

div#ext-gen36,div#ext-gen42,
.x-item-disabled.x-btn,
.actions button.x-item-disabled,
.x-item-disabled.inline-button,
.x-item-disabled.x-superboxselect-item,
.x-item-disabled.x-form-trigger,
.x-item-disabled.x-date-mp-ok,
.x-item-disabled.x-date-mp-cancel,
.x-item-disabled.x-btn:hover,
.actions button.x-item-disabled:hover,
.x-item-disabled.inline-button:hover,
.x-item-disabled.x-superboxselect-item:hover,
.x-item-disabled.x-form-trigger:hover,
.x-item-disabled.x-date-mp-ok:hover,
.x-item-disabled.x-date-mp-cancel:hover,
.x-item-disabled.x-btn:active,
.actions button.x-item-disabled:active,
.x-item-disabled.inline-button:active,
.x-item-disabled.x-superboxselect-item:active,
.x-item-disabled.x-form-trigger:active,
.x-item-disabled.x-date-mp-ok:active,
.x-item-disabled.x-date-mp-cancel:active,
.x-panel-bbar .x-toolbar .x-form-text.x-tbar-page-number,
.x-panel-bbar .x-toolbar .x-form-text.x-tbar-page-size,
.x-btn,
.actions
button,
.inline-button,
.x-superboxselect-item,
.x-form-trigger,
.x-date-picker .x-btn,
.x-date-mp-ok,
.x-date-mp-cancel
{
    box-shadow: 0 0 0 1px #a8434e;
    -webkit-box-shadow: 0 0 0 1px #a8434e;
}

.x-combo-list-item.x-combo-selected {
    background-color:#f00;
}

.x-combo-list .x-combo-list-item.x-combo-selected {
    background-color: rgba(168, 67, 78, 0.27);
}

div#ext-gen24 {
    background-color: #f6e7f6;
}

div#ext-gen24 * {
    color: #df476e;
    text-align: center;
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    background: #8e0b19;
}

td.x-grid3-hd-over *,
td.sort-desc *,
td.sort-asc *,
td.x-grid3-hd-menu-open * {
color:#fff!important;
}

.x-grid3-hd-btn,.x-grid3-hd-btn:hover {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #cd263f;
    border: none;
}

 
.x-grid3-hd-row td
{
     border-bottom: 1px solid;
     border-color: #a8434e;
}


.x-menu-list li.x-menu-item-active {
    background: rgba(142, 11, 25, 0.42);
}

.x-menu-sep
{
    background-color: #a8434e;
}
.wind.prof input[type="text"],.wind.prof input[type="password"] {
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-size: 120%;
    line-height: 140%;
    padding: 4px 10px 4px;
    box-sizing: border-box;
}
form#office-profile-form {
    width: 100%;
}


