/***********************************************
 * radio
 */
select, input {
    border: black solid 1px;
    outline: none;
}
button {
    cursor: pointer;
    outline: none;
}


.second .details .button-small--accent:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(197, 32, 54, 0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.radio-wrap {
    margin: 10px 0;
}


#table-main {
    margin: auto;
}
#table-info {
    width: calc(100% - 20px);
    background: rgba(197, 32, 54, 1);
    height: 20px;
    padding: 10px;
    margin: 20px 0;
}
.good-block {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px; padding-top: 25px;
    margin: 0;

    border-bottom: #ccc dotted 1px;
    border-top: #fff dotted 1px;
}
.cell {
    position: relative;
    float: left;
    color: white;
    font-size: 16px;
    text-align: center;
}
#table-main .first {
    width: 60%;
}
.first .photo {
    width: 30%;
    position: relative;
    float: left;
}
.first .photo img {
    height: 150px;
    width: 150px;
    border: 1px solid #ccc;
}
.first .details {
    width: 70%;
    position: relative;
    float: left;
    color: black;
}
.first .details .name {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.first .details .options {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
}
.first .details .options .select {
    position: relative; margin-bottom: 30px;
}
.first .details .options .select label {
    display: block; position: absolute; z-index: 1; top: -22px;
    padding: 2px 3px; font-size: 13px;
    /* color: #fff;
    border: 1px solid rgba(197, 32, 54, 1);
    background: rgba(197, 32, 54, 0.8);
    background: #2a2a2a;border: 1px solid #2a2a2a;
    */
}

.first .details .options select {
    max-width: 100%; width: 90%; height: 34px;
    float: none;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
}
.first .details .options .select {
    
}
.first .details .comment {
    position: relative;
    width: 50%;
    float: left;
    margin: 5px 0;
}
.first .details .comment input {
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
}
.first .details .additional-options {
    position: relative;
    float: left;
    text-align: left;
    vertical-align: bottom;
    margin-top: 20px;
}
.help {
    background: black;
    border-radius: 60px;
    color: white;
    border: none;
    margin-left: 5px;
}
.second {
    width: 20%;
}
.second .details {
    color: black;
    text-align: center;
    font-size: 14px;
}
.additional-good {
    width: 100%;
    display: inline-block;
}
.additional-good .options {
    width: 70%;
    display: inline-block;
    float: right;
}

.product .info .article{
    text-align: center !important;
}
.additional-good .options .details {
    margin: auto;
    display: inline;
    width: 100% !important;
}
.additional-good .options .details .options {
    width: 50% !important;
}
.additional-good .options .details .comment{
    width: 40% !important;
}

.button-small--accent {
    background: rgba(197, 32, 54, 0.8);
    width: 30px; font-weight: bold;
    color: white;
    border: 1px solid rgba(197, 32, 54, 1);
    text-align: center;
    
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
}
.quantity {
    background: white;
    width: 20px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
    text-align: center;
}
.second .details .notice {
    padding: 10px;
    margin-top: 10px;
    border: black solid 1px;
    border-radius: 10px;
}
.discard-good {
    background: rgba(197, 32, 54, 0.8);
    border: 1px solid rgba(197, 32, 54, 1);
    color: #fff; font-weight: bold;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
    float: right;
    margin-left: 80%;
}

.deleteForm {
    display: block; position: relative;
}
.deleteForm:after {
    display: block; position: relative; content: '';
    clear: both;
}
.third {
    width: calc(20% - 5px);
}
.third .details {
    color: black;
}
.third .details .price-normal {
    text-decoration: line-through;
    color: gray; font-size: 13px;
    margin: 5px 0;
}
.third .details .rub {
    font-size: 13px;
}
.third .details .price-result {
    margin: 5px 0;
}
#table-main .wrap {
    display: inline-block;
    width: 100%;
    max-width: none;
    border-bottom: black dotted 1px;
    padding: 10px 0;
}
.wrap .radios {
    position: relative;
    float: left;
    width: 80%;
}
.wrap .price {
    position: relative;
    float: right;
    font-size: 16px;
    text-align: center;
    width: 20%;
}
#continue-shopping {
    padding: 0px 0;
    display: inline-block;

    border-bottom: black dotted 1px;
    margin-bottom: 10px;
    width: 100%;
}

#continue-shopping a {
    text-decoration: none;
    color: black;
}
#continue-button {
    color: black;
    background: white;
    border-radius: 60px;
    border: black solid 1px;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: left;
}
#total-result {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}
#total-result .promo {
    width: calc(40% - 40px);
    padding-left: 40px;
    position: relative;
    float: left;
}
#total-result .details {
    width: 60%;
    position: relative;
    float: right;
    text-align: center;
}
#total-result .details .make-order button{
    border: none;
    background: rgba(197, 32, 54, 0.8);
    width: auto;
    font-size: 22px;
    padding: 10px;
    color: white;
}
#total-result .details .make-order-1-click button{
    border: black solid 1px;
    background: white;
    width: auto;
    margin: 10px 0;
    padding: 10px;
    color: black;
}
#delivery-info {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.delivery-name{
    width: 100%;
    display: block;
}
.delivery-name h3 {
    width: 100%;
    margin: auto;
}
.name {
    text-align: center;
}
#confirm-order {
    background: rgba(197, 32, 54, 0.8);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    color: white !important;
}
#delivery-info {
    margin: auto;
}
#delivery-info .users-info {
    position: relative;
    float: left;
    width: 50%;
}
.tabs-choice {
    width: 100%;
    margin: 0 auto;
}
.tabs-choice button {
    background: white;
    border: black solid 1px;
    padding: 4px 10px;
    color: black;
    width: calc(50% - 4px);
}
.tabs-choice .active {
    background:  rgba(197, 32, 54, 0.8);
    color: white;
    border: white solid 2px;
}
.tabs-choice-container {
    width: 50%;
}

@media (max-width: 650px) {
    .tabs-choice-container {width: 100%;}
}
#delivery-info .users-info .users-data .input {
    width: calc(100% - 10px);
    text-align: left;
    padding: 10px 0;
    padding-left: 10px;
}
#delivery-info .users-info .users-data .input input {
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    border: black solid 1px;
}
#delivery-info .users-info .users-data .input i {
    color: green;
    margin-top: 8px;
    display: none;
    font-weight: bolder;
}
#delivery-info .special-info {
    width: 50%;
    position: relative;
    float: left;
}


#delivery-info .special-info .time-choice .input {
    width: calc(100% - 10px);
    padding: 10px 0;
    padding-left: 10px;
}

#delivery-info .special-info .time-choice {
    width: 100%;
    text-align: left;
}
#delivery-info .special-info .time-choice .input input {
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    border: black solid 1px;
}
#delivery-info .special-info .time-choice .input input[type="checkbox"] {
    width: auto;
    padding: 0 5px;
    margin-top: 2px;
}
#delivery-info .special-info .time-choice .input textarea {
    width: 90%;
    padding: 5px;
    border: black solid 1px ;
    min-height: 60px; margin-top: 5px;
}
#delivery-info .special-info .comment {
    width: 100%;
}/*
.opentip-container {
    height: auto !important;
    background: lightgoldenrodyellow;
    border-radius: 10px;
}

canvas {
    height: 100px !important;
}*/
@media (max-width: 375px) {
    #table-info {
        display: none !important;
    }
    
    .wrap {
        min-width: unset;
    }
    .wrap .price {
        margin-top: -2%;
    }
    .third .details {
        font-size: 12px;
    }
    .wrap .radios {
        width: 70%;
    }
    /*
    .second .details .button-small--accent {
        background: rgba(197, 32, 54, 0.8);
        width: 20px !important;
        height: 20px !important;
    }
    .second .details .quantity {
        background: white;
        border: black solid 1px;
        width: 30% !important;
        font-size: 15px;
        border-radius: 20px;
        height: 25px;
        text-align: center;
    }
    .first .details .additional-options {
        width: 200%;
    }
    */
    #total-result .details h2 {
        font-size: 20px !important;
    }
}
@media (max-width: 600px) {
    /*.additional-good {
        width: 200%;
    }
    .first .details {
        width: 100% !important;
    }

    .radio-wrap {
        line-height: 25px;
    }
    .additional-good .options {
        width: 100%;
    }
    .first .details .comment .quantity {
        border-radius: 20px !important;
        width:20px !important;
        height: 25px !important;
        padding: 0px 5px 3px 5px;
    }
    */
    #count {
        left: initial;
    }
    #phone {
        left: 25%;
        top: 127px;
    }
    #search {
        left: 0;
    }
    #table-main {
        width: 100%;
    }
    #table-info {
        display: block;
    }
    /*
    .good-block {
        display: inline-block;
        border-bottom: black dotted 1px;
    }
    .cell {
        color: white;
        font-size: 16px;
        text-align: center;
    }
    .first {
        display: block;
        width: 50% !important;
    }
    #continue-shopping {
        border-bottom: black dotted 1px;
    }
    .first .photo {
        width: 30%;
        position: relative;
        float: left;
    }
    .first .photo img {
        display: none;
    }
    .first .details {
        color: black;
    }
    .first .details .name {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .first .details .options {
        position: relative;
        width: 100%;
        float: left;
        text-align: left;
    }
    .first .details .options select {
        width: 80px;
        float: right;
    }
    .first .details .options .select {
        margin: 5px 0;
    }
    .first .details .comment {
        position: relative;
        width: 50%;
        float: left;
        margin: 5px auto;
    }

    .first .details .comment input {
        padding: 9px;
        border: black solid 1px;
        border-radius: 10px;
        width: 180%;
    }
    .first .details .additional-options {
        position: relative;
        float: left;
        text-align: left;
        vertical-align: bottom;
        margin-top: 20px;
    }
    .help {
        background: black;
        border-radius: 60px;
        color: white;
        border: none;
        margin-left: 5px;
    }
    .second {
        width: 30%;
        display: block;
    }
    .second .details {
        color: black;
        margin-top: 20%;
        text-align: center;
        font-size: 14px;
    }
    .second .details .button-small--accent {
        background: rgba(197, 32, 54, 0.8);
        width: 30px;
        height: 30px;
        color: white;
        border: none;
        text-align: center;
    }
    .second .details .quantity {
        background: white;
        border: black solid 1px;
        width: 20px;
        font-size: 15px;
        height: 25px;
        padding: 0px 5px 3px 5px;
        text-align: center;
    }
    .second .details .notice {
        display: none;
    }
    .discard-good {
        background: white;
        color: black;
        border-radius: 80px;
        float: right;
        border: black solid 1px;
        margin-left: 80%;
        margin-bottom: 20px;
    }
    .third .details {
        color: black;
    }
    .third .details .price-normal {
        text-decoration: line-through;
        color: gray;
        margin: 5px 0;
    }
    .third .details .price-result {
        margin: 5px 0;
    }
    */
    #total-result {
        display: block;
    }
    #total-result .promo {
        width: calc(100% - 40px);
        padding-left: 40px;
        position: relative;
        float: left;
    }
    #total-result .details {
        width: 100%;
        position: relative;
        float: left;
        text-align: center;
    }
    #delivery-info {
        display: block;
    }
    #delivery-info .users-info {
        width: 100%;
    }
    #delivery-info .special-info {
        width: 100%;
    }
    #delivery-info .users-info .users-data .input input {
        width: 80%;
    }

}
@media (max-width: 899px) {
    #search {
        position: absolute;
        top: 245px;
        left: 0%;
        width: 100%;
    }
    #phone{
        right: 26%;
        left: auto;
    }
    #table-main {
        width: 100%;
    }
    .first .photo img {
        height: calc(150px - 20%);
        width: calc(150px - 20%);
    }
    .first .details .comment {
        width: auto;
    }
}
@media (max-width: 1200px) and (min-width: 899px) {

}
@media screen and (min-width: 1200px) {
    #search {
        left: 40%;
        top: 70%;
        width: 200px;
    }
    #phone {
        right: 13%;
    }
    #count {
        left: 35%;
    }
    #table-main {
        margin: auto;
        width: 80%;
    }
}

#msCart {
    display: block; position: relative;
}
#megaCart { display: block; position: relative;}
#msMegaCartOver,
#msCartOver {
    display: none; overflow: hidden;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 101; cursor: progress;
    background: rgba(0,0,0,0.7);
}
#msMegaCartOver.active,
#msCartOver.active {
    display: block;
}
#msMegaCartOver .loadText,
#msCartOver .loadText {
    color: #fff; text-align: center; font-size: 14px;
    position: fixed; top: 45%; left: 50%;
    width: 100px; margin-left: -50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#msMegaCartOver .loadText { top: 20%;}
#fountainTextG {
    width: 100px !important;
}


.product .order_new, .product .detail_link, .trigger-order {
    background: #222;
    padding: 5px 7px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.price-order .order_new {
    float: right;
    margin: 22px 10px 22px 0;
}

.jQtooltip {
    position: relative;
    cursor: pointer;
}
.jQtooltip div {
    display: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 1000;
    width: 190px;
    padding: 8px 12px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    box-shadow: 0 1px 3px #C4C4C4;
    border: 1px solid #DBB779;
    background: #FFF6BD;
    border-radius: 2px;
}


.promote-sale {
    border: purple solid 1px;
    width: 60%;
    display: block;
    margin: auto; margin-bottom: 15px;
    padding: 10px;
}

@media (max-width: 600px) {
    #office-auth-form {
        right: 0 !important;
        width: 100% !important;
    }

    .forms {
        width: calc(100% - 40px) !important;

    }
    #office-auth-form.inCart.pos_fix {
        margin-right: 0 !important;
    }
}

@media (max-width: 800px) {
    #msMiniCart {
        position: absolute;
        right: 0%;
        font-size: 20px;
        color: #52352c;
        top: 125px !important;
        margin-left: -3%;
        line-height: 25px;
        transform: scale(0.8);
        text-align: center;
        width: 55%;
    }

}
#msMiniCart {
    display: block;
    z-index: 88;
    background: url('../assets/img/cart.png') no-repeat;
    width: 115px;
    height: 67px;
    position: absolute;
    top: 20px;
    right: 1%;
    padding-left: 77px;
    color: #df476e;
    line-height: 16px;
}
#msMiniCart .title {
    margin: 0; padding: 0;
    text-align: left;
    font-size: 16px; color: #df476e;
}
#msMiniCart .descr {
    font-size: 13px; color: #515151;
}
#msMiniCart .overCart {
    display: none; position: absolute;
    width: 300px;
    right: 0; top: 60px;
    background: #fff; border: 1px solid #333;
    padding: 10px 15px; font-size: 13px;
}
#msMiniCart .overCart.hide { display: none; }
#msMiniCart:hover .overCart { display: block; }
#msMiniCart .overCart .productsContainer {
    max-height: 150px; overflow: auto;

}
#msMiniCart .overCart .productsContainer a.one {
    display: table; position: relative;
    width: 100%; text-decoration: none;
    margin-bottom: 10px;
}
#msMiniCart .overCart .productsContainer a.one .descr,
#msMiniCart .overCart .productsContainer a.one .photo {
    display: table-cell; position: relative; vertical-align: top;
}
#msMiniCart .overCart .productsContainer a.one .title {
    text-decoration: underline;
}
#msMiniCart .overCart .productsContainer a.one .photo {
    width: 80px;
}
#msMiniCart .overCart .productsContainer a.one .photo img {
    width: 90%;
}
#msMiniCart .overCart .buttons {
    margin-top: 10px;

}
#msMiniCart .overCart .buttons .one {
    display: block; position: relative; cursor: pointer;
    text-decoration: none; font-size: 15px;
    padding: 12px 10px;
    background: rgba(197, 32, 54, 0.8); color: #fff;
    text-align: center; font-weight: bold;
    border-radius: 20px;
    margin-bottom: 10px;
}
#msMiniCart .overCart .buttons .one.oneClick {
    padding: 0; display: block;
    background: none; color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}
#msMiniCart .overCart .buttons .one.oneClick span {
    border-bottom: 1px dotted #333;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#msMiniCart .overCart .buttons .one.oneClick:hover,
#msMiniCart .overCart .buttons .one.oneClick:hover span {
    color: #208baf; border-color: #208baf;
}

.intro-price-new {
    margin-left: 133px;
}

.trigger-order-new {
    background: #222;
    padding: 5px 7px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.productOrderForm .field  {
    font-size: 13px !important;
}

.users-data {
    overflow: hidden;
}

.users-data .pos_fix {
    position: relative; top: auto; right: auto;
    z-index: auto;
    text-align: left;
}
.users-data .upload-photo {
    width: auto; max-width: 90%;
}
.users-data .upload-photo .product.shk-item {
    position: relative; width: auto; height: auto;
}
.users-data .upload-photo .product.shk-item .forms {
    display: block; width: auto; background: none;
    box-shadow: none; padding: 0;
}
.users-data .upload-photo .product.shk-item  .forms * { color: #111; }


#office-auth-form.inCart.pos_fix {
    top: 100px;
    right: 50%; margin-right: -216px;
}
.deliveryPickUp {
    display: none;
}
.msEmptyCart {
    padding-top: 25px;
    text-align: center; font-size: 16px;
}

#orderSubmitGo #phone {
    position: relative;
    right: auto; top: auto;
    font-size: 13px; line-height: normal;
    color: #000;
    text-align: left;
}
#continue-button {
    display: inline-block; position: relative;
    color: black;
    background: white;
    border-radius: 60px;
    border: black solid 1px;
    height: 30px; line-height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
}
.orderCompleteButton {
    border: none;
    background: rgba(197, 32, 54, 0.8);
    width: auto;
    font-size: 22px;
    padding: 10px;
    color: white;
}

#msOrder .error {
    border: 0; color: #000;
}
#msOrder input.error { border: 1px solid brown;}

#delivery-info .input i.status {
    color: brown; font-weight: bold; font-style: normal;
    display: none;
    width: 24px; height: 24px;
    background: red; margin: 0; margin-bottom: -7px;
}
#delivery-info .users-info .users-data .input i.status.done {
    color: green;
}


#delivery-info .input.error i.status.notdone {
    display: inline-block;
    background: url('./img/verify-cancel.png') center center no-repeat;
}
#delivery-info  .statusOk i.status.done {
    display: inline-block;
     background: url('./img/verify-ok.png') center center no-repeat;
}
#delivery-info .input .hint { display: none; }
#delivery-info .input.error .hint { display: inline; }


.button-menu-order {
    right: 70px;
}

.opentip-container {
    background: lightyellow;
    border: solid black 1px;
    border-radius: 10px;
}
#fastOrderForm {
    position: absolute; top: 100px; z-index: 99999; display: none;
    width: 400px; left: 50%; margin-left: -200px;
    max-width: 100%;
    background: rgba(42,42,42,0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    padding: 20px 35px; padding-bottom: 35px;
    color: #fff; text-align: left;
}
#fastOrderForm .titleForm {
    margin: 15px 0;
    text-align: center;
    font-size: 15px; font-weight: bold;
}
#fastOrderForm .input {
    display: block; position: relative;
    margin-bottom: 5px;
}
#fastOrderForm .input .caption {
    margin-bottom: 5px;
}
#fastOrderForm .input .caption .required { color: red;}
#fastOrderForm .input input,
#fastOrderForm .input textarea{
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-size: 120%;
    line-height: 140%;
    padding: 4px 10px 4px;
    box-sizing: border-box;
    color: #000;
}
#fastOrderForm .input input.error,
#fastOrderForm .input textarea.error { border: 1px solid red;}
#fastOrderForm .submit {
    text-align: center;
}
#fastOrderForm .submit button {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}
.first .details .comment input.quantity {
    width: 20px;
}
 .hidden { display: none; }
 
.good-block .productChangeQuantityBlock,
.good-block .productChangeQuantityBlock .details {
     line-height: 0; font-size: 0;
 }
 .productChangeQuantity.productChangeQuantityMinus {
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
 }
 .productChangeQuantity.productChangeQuantityPlus {
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
 }
 
 .discard-good {
     border-radius:  4px;
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;
    -khtml-border-radius: 4px;
 }
 
 .third .details .price-result {
    margin: 5px 0;
}
.third .details .price-result .priceDiscount {
    font-weight: bold; font-size: 18px;
}


/* test cart to table */
/*
.good-block {
    display: table; position: relative;
}
.cell {
    display: table-cell; position: relative;
    float: none; vertical-align: middle;
}
*/
.deleteForm {
  position: absolute; right: 0; top: 60px;
}
.first .details .name {
    text-align: left;
    width: 100%; font-size: 18px;
    margin-bottom: 40px;
}
.first .details .comment {
    margin-top: 0;
}
.cell.second,
.cell.third {
    padding-top: 60px;
}
.cell.third {
    padding-top: 55px;
}
.third .details .price-result .priceDiscount {
    padding-top: 5px;
}

#table-info .cell.second,
#table-info .cell.third {
    padding-top: 0;
}

.additional-good .options {
}
.third .details .price-normal {
    margin-top: 0;
}
.first .details .name .parentTitle {
    font-size: 14px; color: #555;
}
.first .details .comment input {
    width: 90%;
}
.third .details .price-result {
   
}
.good-block { display: block; }
.good-block:after { display: table;content: ''; position: relative; clear: both; }
#table-info {
    position:relative;
    margin: 0; padding-top: 20px;
}
.table-main-info-bg {
    display: none;
    position: absolute; left: 0; right: 0; z-index: 0;
    padding-bottom: 10px;
    padding-top: 20px; height: 20px; background: rgba(197, 32, 54, 1);
}
#table-info { z-index: 2;}
#table-info .first {
    text-align: left;
    
}
#table-info .fixPadding {
    padding-left: 29.5%;
}
.pricePrepare {
    display: block; /*opacity: 0;*/
    font-size: 14px; line-height: 18px;
    padding-top: 10px; color: #333;
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/*
 .first .additional-good .details .name {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.good-block:hover .first .additional-good .details .name,*/
.good-block:hover .pricePrepare { opacity: 100; }

#deliveryPriceResultInfo.wrap,
#table-main .wrap.motPraseSelector {
    display: block; position: relative;
    padding: 0; border: 0;
    background: #2a2a2a; padding-top: 20px; padding-bottom: 20px !important;
}
#deliveryPriceResultInfo  .promote-sale,
#table-main .wrap.motPraseSelector .promote-sale {
   display: block; position: relative; margin: 0 auto;
   border: 2px solid rgb(211, 116, 164); color: #fff;
   font-size: 14px;
}
.first .photo img {
    margin-top: 38px;
}
#table-main .wrap {
    border: 0;
    /*padding-bottom: 30px;*/
}
#table-main .wrap h3 {
    padding: 0; margin: 0;text-transform: none;
    padding-bottom: 5px;
}
#table-main .wrap .table-immitate {
    display: table; position: relative;
    width: 60%; margin: 0 auto;
}
#table-main .wrap .table-immitate .radios,
#table-main .wrap .table-immitate .price {
    display: table-cell; float: none; position: relative;
    vertical-align: middle;
}
#packPriceResult,
#deliveryPriceResult {
    font-weight: bold;
    font-size: 18px;
}
#msOrder { margin-top: 0px !important; }
#total-result .details {
    float: none; margin: 0 auto;
}
#total-result .details h2 {
    font-size: 24px; text-transform: none;
}
#total-result .details h2 .ms2_order_cost {
    font-size: 30px; color: #000;
}
#total-result .details .make-order button {
    background: rgba(205, 38, 63, 1);
    font-size: 20px; padding: 15px 30px;
}
#total-result .details .make-order-1-click {
    padding-top: 10px;
}
#total-result .details .make-order-1-click .fastOrderOpenForm {
    
}
#total-result .details .make-order-1-click .fastOrderOpenForm span {
    font-size: 18px; border-bottom: 1px dotted rgba(205, 38, 63, 1); cursor: pointer;
    color: rgba(205, 38, 63, 1);
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#total-result .details .make-order-1-click .fastOrderOpenForm span:hover {
    color: #208baf; border-color: #208baf;
}
#total-result .details .make-order-1-click .ili {
    margin-bottom: 10px;
}
#total-result {
    padding-top: 30px;
}
.deliveryPickUp{
    padding-left: 34px;
}
#continue-shopping {
    display: block; position: relative;
    margin: 0px auto; border: 0; text-align: left;
    margin-left: 201px; width: 280px;
}
.good-block select:focus,
.good-block input:focus,
#delivery-info input:not(.error):focus,
#delivery-info select:not(.error):focus {
    border: 1px solid #8bade4 !important; outline: 1px solid #8bade4;
}
/*
.good-block select,
.good-block input:not(.quantity) {
     border-radius:  4px;
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;
    -khtml-border-radius: 4px;
}*/
.quantity,
.discard-good,
.button-small--accent,
.first .details .comment input {
        padding: 7px 10px;
}
.third .details .price-normal,
.third .details .price-result {
    margin: 0;
}
.third .details .price-result.toggle {
    padding-top: 6px;
}
.radio:not(checked) + label:after {
    background: rgba(197, 32, 54, 1);
}
.radio-wrap {  }
.cell.third { padding-top: 60px;}
.discard-good {
    top: 9px;
    background: #fff; color: #333; border-color: #eca5bf;
    border-radius:  4px 0 4px 0;
    -moz-border-radius:  4px 0 4px 0;
    -webkit-border-radius:  4px 0 4px 0;
    -khtml-border-radius: 4px 0 4px 0;
    
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.07);
    -moz-box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.07);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.07);
}
.quantity { width: 30px;}
.first .details .name a {
    color: rgba(197, 32, 54, 1);
     font-size: 20px; font-family: 'Roboto';
    
    
}
.first .details .name a:hover { color: #409FA8;}
.first .details .options select {
    color: #a9a9a9;
}
.first .details .options select:focus {
    color: #000;
}

#fountainTextG{
	width:234px;
	margin:auto;
}

.fountainTextG{
	color:rgb(255,255,255);
	font-family:Arial;
	font-size:24px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
#fountainTextG_8{
	animation-delay:1.79s;
		-o-animation-delay:1.79s;
		-ms-animation-delay:1.79s;
		-webkit-animation-delay:1.79s;
		-moz-animation-delay:1.79s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

/* fixes adaptive big viewport start */
#mse2_results:after {
    display: table; position: relative; content: ''; clear: both;
}
#trust-us, #reviews, .products.reasonsMove {
    margin: 0 auto; max-width: 1500px;
}
/*
#trust-us { text-align: center;}
#trust-us img.trust-us-img { float: none;display: inline-block;  }
#reviews { text-align: center; }
#reviews .review { float: none; display: inline-block; }

.product.reason {
    float: none; display: inline-block;
}
.products {
    text-align: center;
}  */

/* fixes adaptive big viewport end */
.mobileShow { display: none; }
@media (max-width: 890px) {
    .first .details .comment,
    .first .details .options {
        float: none; width: 100%; margin: 0; text-align: left;
    }
    .additional-good .options .details .options {
        float: none; width: 100% !important;
    }
    .first .details .comment input { width: 83%;}
}
@media only screen and (max-width: 767px){
    .mobileShow { display: block; }
    .first .details .comment,
    .first .details .options {
         width: auto;   
    }
    #table-info, .table-main-info-bg { display: none; }
    .good-block .first .photo {
        display: block;
        width: auto; float: none;
    }
    .good-block .additional-good .options { float: none; width: auto; }
    .good-block {
        padding: 0 10px; width: auto; padding-bottom: 20px;
    }
    .good-block .cell {
        width: auto !important; float: none;
    }
    .good-block .first .details .name  { text-align: center; padding-top: 20px;}
    .good-block .first .details { width: auto; float: none; }
    .good-block .additional-good .options {display: block; }
    .good-block .additional-good .options .details .comment { width: auto !important;}
    .good-block .quantity { width: 30px !important; height: 18px; }
    .good-block .first .details .comment {
        
    }
    .good-block .productChangeQuantityBlock { text-align: center !important; }
    .good-block .pricePrepare { opacity: 1; }
    .first .photo img { width: 200px; height: auto;}
    .additional-good .options .details .options,
    .first .details .comment, .first .details .options {
        width: 280px !important; margin: 0 auto;
    }
    .good-block .mobileShow {
        font-size: 14px; line-height: 18px;padding-bottom: 10px;
    }
    .good-block .deleteForm {
        position: relative; top: auto; right: auto;
        padding-top: 20px;
    }
    .good-block .discard-good { float: none; margin: 0 auto;}
    .cell.second,
    .cell.third { padding-top: 10px; }
    
    .first .details .options select { width: 100%;}
    .good-block .first .details .comment input { width: 91%; }
    #table-main .wrap .table-immitate .radios,
    #table-main .wrap .table-immitate .price,
    #table-main .wrap .table-immitate {
        display: block;
        width: auto;
    }
    #table-main .wrap .table-immitate {
        padding: 0; width: 280px; margin: 0 auto;
    }
    #table-main .wrap .table-immitate  label { display: inline-block; }
    #continue-shopping { margin: 0px auto;}
    
    
    #fastOrderForm {
        width: 280px; padding-left: 10px; padding-right: 10px;
        margin-left: -150px;
    }
    
}
.cart-price-end h3 {
        font-size: 24px;
    text-transform: none;
}
.cart-price-end .ms2_order_cost {
    font-size: 30px;
    color: #000;
}
.ms2_order_cost { white-space: nowrap; }

body { position: relative;}

.first .details .options .select .checkboxed {
    padding-top: 5px; font-size: 14px;
}
.first .details .options .select .checkboxed label {
    display: inline-block; position: relative; top: auto; left: auto;
    background: transparent; color: #333; border: 0; line-height: 20px; height: 20px;
    cursor: pointer; vertical-align: middle;
}
.first .details .options .select .checkboxed input[type="checkbox"] {
    width: 20px; height: 20px; outline: 0; margin: 0; padding: 0; position: relative;
}
.first .details .options .select .checkboxed .descr {
    display: inline-block; position: relative; height: 20px; top: -5px;
}



.orderCompleteButton {
    background: rgba(205, 38, 63, 1)
}
#delivery-info .users-info .users-data .input input {
    width: calc(90% - 25px) !important;
}
#delivery-info .users-info .users-data .input input {
    padding: 7px 10px;
    border: 1px solid #ccc;
}
#delivery-info .special-info .time-choice .input input {
    padding: 7px 10px;
    border: 1px solid #ccc;
}
#delivery-info .special-info .time-choice .input textarea {
        border: 1px solid #ccc;

}

#office-auth-login .bord { padding: 15px;}

.product .info .article {
    margin-top: 10px;
}

.product-form .heading { margin-bottom: 5px !important; }

.metrik {
    font-size: 13px; line-height: 13px;
    position: relative; margin-bottom: 5px;
}
.cell.second { padding-top: 43px; }
.additional-good .options .details .comment { margin-top: -18px; }


/* 15.08.2016 */
.product-form .form-data .productChangeQuantity,
.product-form .form-data .label1 {
-ms-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select:none;
}
/*
.cell.second {
    padding-top: 0px;
}
.cell.third {
    padding-top: 17px;
}

.deleteForm {
    top: 17px;
}

.first .photo img {
    margin-top: 0px;
}
.good-block .first {
    padding-top: 25px;
}
.first .details .name { text-align: center;}*/

#deliveryPriceResultInfo.wrap,
#table-main .wrap.motPraseSelector {
    background: transparent;
}
#deliveryPriceResultInfo .promote-sale,
#table-main .wrap.motPraseSelector .promote-sale {
    color: #000;
}
#delivery-info .special-info .time-choice .input input[type="text"],
#delivery-info .special-info .time-choice .input textarea {
    width: calc(90% - 25px) !important;
        padding: 7px 10px;
}
#auth .logout_menu {
    margin-top: -7px;
}

/* 16.08.2016 */
.cell.second {
    padding-top: 42px;
}

.products.reasonsMove .content .product.reason {
    margin: 25px; padding-left: 0; padding-right: 0;
}

/* 17.08.2016 */
.price.price-result.toggle {
    position: relative;
}
.third { width: 20%; }
.third .details { position: relative; }
.deleteForm { top: 0; }