/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');

    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmgpAmOCqD37_tyH_8Ri5MM.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxsPNMTLbnS9uQzHQlYieHUU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgyhumQnPMBCoGYhRaNxyyY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxhUVAXEdVvYDDqrz3aeR0Yc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxlf4y_3s5bcYyyLIFUSWYUU.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnywqdtBbUHn3VPgzuFrCy8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp6iIh_FvlUHQwED9Yt5Kbw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi_vZmeiCMnoWNN9rHBYaTc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxiFaMxiho_5XQnyRZzQsrZs.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxgalQocB-__pDVGhF3uS2Ks.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxmhQUTDJGru-0vvUpABgH8I.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxujkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    line-height: 18px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #208baf;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.page-title {
    padding: 20px 0 5px;
    max-width: 1980px;
    background: radial-gradient(ellipse at center,#fffffd 35%,#f4e0f4 100%);
    position: relative;
    min-width: 320px;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    color: #df476e;
    font-size: 32px;
}

.delivery-text-more {
    display: none;
}
h2 a,
h2,
.reviews_title,
.reviews_title a {
    text-align: center;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    color: #df476e;
}

.page h2 {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}
.page.about h2 {
    text-align: center;
}

.clear {
    clear: both;
}

.wrap {
    width: auto;
    min-width: 320px;
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
}

#header {
    box-shadow: 0 0 2px #ccc;
    min-width: 370px;
    width: 100%;
    height: 140px;
    background: radial-gradient(ellipse at center,#fffffd 35%,#f4e6f4 100%);
    background-size: cover;
}

#home {
    background: url(/assets/img/home.jpg) no-repeat center;
    height: 135px;
    background-size: cover;
    width: 100%;
    padding-top: 0;
}

#home h1 {
    color: #fff;
    margin: 0;
    background: rgba(0, 0, 0, 0.56);
    padding: 0;
    font-size: 46px;
    height: 80px;
    padding-top: 55px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#content {
    background: radial-gradient(ellipse at center,#fffffd 35%,#f4e0f4 100%);
    min-height: 700px;
    min-width: 320px;
    width: 100%;
}

#content .production {
    text-align: center;
}
#content .production a {
    position: relative;
    float: left;
    display: block;
    width: 22%;
    margin: 20px 1.5%;
}
#content .production a:nth-child(4n+4):after {
    content: " ";
    clear: both;
    display: block;
}
#content .production a img {
    width: 100%;
}
#content .production a span {
    display: block;
    height: 45px;
}

#footer {
    text-align: center;
    color: #fff;
    background: #222;
    font-weight: 300;
    min-width: 320px;
    box-sizing: border-box;
    position: relative;
    padding: 10px 0 20px;
}

#instagram .heading {
    width: 24px;
    height: 24px;
    background: url(../img/instagram.png) no-repeat;
    padding-left: 32px;
    width: 100%;
    padding-top: 2px;
}

#vk .heading {
    width: 24px;
    height: 24px;
    background: url(../img/vk.png) no-repeat;
    padding-left: 32px;
    width: 100%;
    padding-top: 2px;
}

#instagram .heading a {
    color: #fff;
    text-decoration: none;
}

#vk .heading a {
    color: #fff;
    text-decoration: none;
}


#vk {
    float: left;
    width: 30%;
    margin-left: 2%;
    padding-bottom: 0px;
}

#instagram {
    float: left;
    width: 30%;
    margin-left: 3%;
    text-align: left;
    padding-bottom: 0px;
}

#instagram .feed {
    width: 264px;
    padding-top: 2px;
}


#footer p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#logo {
    position: absolute;
    top: 15px;
    left: 5%;
    font-size: 34px;
    color: #e17698;
    font-weight: 300;
    letter-spacing: 1px;
}
#logo img {
    width: 248px;
    height: 80px;
}
#logo .slogan {
    font-size: 12px;
    color: #515151;
    font-weight: 400;
    position: absolute;
    top: 55px;
    left: 48px;
}

#header .small-menu {
    position: absolute;
    top: 90px;
    left: -10%;
    font-size: 12px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#header .small-menu a {
    font-weight: 400;
    color: #208baf;
    padding: 0 3px;
    margin: 0;
    padding-right: 7px;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid #208baf;
}

#header .small-menu a:last-child {
    border-right: 0;
}

#header .wrap {
    height: 120px;
}


.logo {
    margin: 11px 10px 0px 11px;
    float: left;
}

.logo p {
    margin: 0;
    text-transform: uppercase;
    color: #e17698;
    font-size: 35px;
}

.logo span {
    *color: #CE76E1;
    font-size: 23px;
}

#slogan {
    position: absolute;
    top: 50px;
    left: 2%;
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
}

#callback {
    background: url('../img/phone.png') 10px 0 no-repeat;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 90%;
    top: 20px;
}

#cart {
    background: url('../img/cart.png') no-repeat;
    width: 67px;
    height: 67px;
    position: absolute;
    top: 35px;
    right: 1%;
    padding-right: 125px;
    color: #df476e;
    line-height: 16px;
}
#cart .cart-heading {
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 77px;
    font-size: 16px;
}
#cart .cart-info {
    cursor: pointer;
    position: absolute;
    top: 25px;
    color: #515151;
    left: 77px;
    width: 120px;
}

#count {
    text-align: center;
    font-size: 16px;
    color: #df476e;
    position: absolute;
    top: 30px;
    left: 30%;
    line-height: 16px;
    padding-left: 77px;
}
#count span {
    font-size: 13px;
    color: #515151;
    padding-top: 2px;
    display: block;
}

#search {
    position: absolute;
    top: 80%;
    left: 35.5%;
    width: 175px;
}
#search .searchBlock {
    position: relative;
    width: 100%;
    margin: 0px auto;
}
#search input {
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-size: 120%;
    line-height: 140%;
    padding: 4px 10px 4px;
    box-sizing: border-box;
}
#search button {
    position: absolute;
    top: 5px;
    right: 9px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/search_icon.png) no-repeat 0 0 #fff;
    border: 0;
    overflow: hidden;
    text-indent: -99px;
    cursor: pointer;
}
.ui-widget-content {
    box-sizing: border-box;
    min-width: 500px !important;
    max-height: 200px;
    overflow-y: auto;
}
.ui-menu .ui-menu-item {
    list-style-image: none;
}

.search_empty_cats {
    margin-top: 50px;
    text-align: center;
}
.search_empty_cats a {
    display: inline-block;
    width: 220px;
    margin: 10px 0;
    color: #333;
    font-size: 170%;
    line-height: 120%;
    text-align: left;
    vertical-align: middle;
}
.search_empty_cats a img {
    width: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
.search_empty_cats a span {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (min-width: 1200px) {
    #count {
        font-size: 24px;
        top: 23px;
    }
    #count span {
        padding-top: 6px;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }

    #search {
        left: 32%;
        width: 300px;
    }
}

#own-design-link {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding: 10px;
    white-space: nowrap;
    background-color: #350A17;
    display: block;
    border-radius: 3px;
}

#own-design-link:hover {
    color: #ffc;
}

.navi {
    width: 100%;
    text-align: center;
    border-top: 1px #6889C5 solid;
}

.navi li {
    display: inline-block;
    padding: 5px 0px;
}

.navi a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 10px;
}

.navi ul {
    margin: 0;
    padding: 0;
}

.navi .active a {
    color: #fff;
}

.navi .active {
    background: #e17698;
    border-bottom: 3px solid #3b7f8b;
}

.navi li:hover {
    background: #e17698;
    border-bottom: 3px solid #3b7f8b;
}

.navi li a:hover {
    color: #fff;
}

.title {
    text-align: center;
    margin-top: 60px;
}
.title span {
    font-size: 50px;
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
}

.categories {
    float: left;
    width: 250px;
    height: 250px;
}

.categories h2 {
    color: #c52036;
}

.categories p {
}

.categories img {
    float: left;
    width: 250px;
    height: 250px;
    opacity: 0.9;
}
.categories img:hover {
    opacity: 1;
}


.categories a {

}

.categories .hint {
    position: absolute;
    background: rgba(197, 32, 54, 0.8);
    color: #fff;
    padding: 6px 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    z-index: 100;
}

.categories:hover .hint {
    /*background: rgba(197, 32, 54, 1);*/
}

.pages li {
    display: inline-block;
    margin-right: 10px;
}

.header-top {
    height: 62px;
    width: 600px;
    margin: 0 auto;
}
/*
#phone {
    position: absolute;
    right: 23%;
    font-size: 18px;
    color: #52352c;
    top: 25px;
    line-height: 22px;
    text-align: center;
}
#phone a {
    color: #52352c;
    text-decoration: none;
}

#phone span {
    color: #666;
    font-weight: 300;
}

#phone .comment {
    font-size: 13px;
}*/

.count {
    float: left;
    position: relative;
    top: 3px;
    font-size: 16px;
    color: #6889C5;
}

.count p {
    margin: 0;
}

.count span {
    border-left: 1px solid #ECECEC;
    padding: 4px 6px;
}
/*
.review img {
	width: 120px;
}
*/
.shopProduct-image {
    float: left;
    margin: 15px 20px 15px 0px;
}

.shopProduct-information {
    float: left;
    margin: 0px 10px 10px 10px;
}

.shopProduct-information p {
    margin: 5px 0px;
    font-size: 17px;
}

.shopProduct-image img {
    width: 190px;
    box-shadow: 1px 1px 5px #ccc;
    opacity: 0.9;
}

.shopProduct-image img:hover {
    opacity: 1;
}





.reasons {
    margin: 30px auto 25px;
    width: 847px;
}


.review {
    width: 300px;
    height: 300px;
    float: left;
    background-image: linear-gradient(to bottom,#000000 0,#333333 100%);
    margin: 25px;
    position: relative;
}

.review .information {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.review .information .title {
    margin: 10px 0 5px;
    color: #df476e;
    font-size: 16px;
}

.review .information .title p {
    margin: 0;.review .about
}

.review .information .recall {
    margin: 0 20px;
    font-size: 13px;
    line-height: 17px;
}

.review:hover .information {
    display: none;
}

.review .hover {
    display: none;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
}

.review:hover .hover {
    display: block;
}

.review .about {
    width: 48%;
    box-sizing: border-box;
    padding: 20px 10px 0 0;
    text-align: right;
    float: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.review .photo {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px 0 10px;
}

.review .photo img {
    max-width: 100%;
    max-height: 150px;
    border-bottom: 2px solid #E3476E;
    border-radius: 3px 3px 0 0;
}

.review .button {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.review .button a {
    background: rgba(0, 0, 0, 0.59);
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid rgba(250, 250, 250, 0.6);
}

.review .button a:hover {
    background: rgba(205, 38, 63, 1);
    border: none;
}
.review-info {
    text-align: center;
    background: rgba(19, 135, 0, 0.74);
    color: #fff;
    padding: 6px 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    position: absolute;
    max-width: 166px;
}

.review-info a {
    text-decoration: none;
    color: #fff;
}

.review-recall {
    background: rgba(255, 255, 255, 0.84);
    padding: 5px;
}

.review-full {
    width: 250px;
    height: 250px;
    font-size: 12px;
    line-height: 15px;
}
.review-full p {
    margin: 0;
}



.review-info p {
    margin: 0;
}


.reviews {
    float: left;
    margin: 2px;
}

.review-text {
    background: rgba(255, 255, 255, 0.89);
    height: 100%;
    width: 100%;
}

.review-text p {
    margin: 0;
    padding: 10px 10px;
    font-size: 13px;
    line-height: 22px;
}

.review:hover .about-user {
    display: block;
}

.review:hover .review-text p {
    display: none;
}

.review .hover .about a {
    color: #ED4468;
    text-decoration: underline;
    font-size: 18px;
}

.review .hover .more {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.review .hover .more a {
    color: #D1476E;
}

.review .about span {
    font-size: 13px;
}

.review .about p {

}

.vklink img {
    width: 30px;
    opacity: 0.8;
}

.vklink img:hover {
    opacity: 1;
}

.about-user {
    display: none;
    width: 250px;
    height: 250px;
}

.about-user-info {
    background: rgba(0, 0, 0, 0.68);
    width: 170px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 0 0 10px 0;
}

.about-user-info a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.about-user-info a:hover {
    text-decoration: underline;
}

.about-user-info span {
    font-size: 12px;
    line-height: 15px;
}

/* main */
#shk_prodHelper {position: absolute; z-index:100; width:150px; padding:5px; background-color:#f5f5f5; border:1px solid #888; display:none; box-shadow: 2px 2px 8px #B2B2B2; border-radius:4px;}
#shk_prodHelper div {padding:2px 0; text-align: center;}
#shk_Loading {width:30px; height:30px; position: absolute; z-index:100; background:url(img/ajax-loader.gif) center center no-repeat #fff; border:1px solid #888; display: none; border-radius:4px;}

/* addit */
#shk_prodHelper input[type="text"] {box-shadow: 1px 1px 4px #B2B2B2 inset; border-radius:2px;}

.products {
    min-width: 320px;
    max-width: 1980px;
    width: 100%;
}


/* shop prod */
.product {
    width: 220px;
    height: 220px;
    float: left;
    padding: 0;
    margin: 1%;
    position: relative;
    background: #fff;
}

.upload-photo .product  {
    width: auto !important;
    height: auto !important;
    float: none;
    background: none;
}
.upload-photo .price-order {
    position: relative;
}

.upload-photo .product-form {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;
    height: auto;
    width: 100%;
    max-width: 400px;
    background: #2a2a2a;
    z-index: 100;
    text-align: left;
    padding: 20px 15px 40px;
    box-sizing: border-box;
}
.upload-photo .form-data {
    position: relative !important;
    padding: 0 !important;
}

.upload-photo .form-data select {
    width: 100%;
    background: #F4F4F4;
}

.upload-photo .form-data input[type="file"] {
    background: transparent;
    padding-left: 0px;
}

.upload-photo .form-data button {
    margin: 0 auto;
    display: block;
}


.content .product{
    padding: 5px 5px 80px 5px;
}

.product .background {
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.product:hover .background {
    opacity: 0.9;
}

.product .zoom a {
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    display: block;
    z-index: 100;
    padding: 5px;
}

.product .zoom {
    background: #222;
    position: absolute;
    bottom: 0;
    background: url('../img/zoom.png') 3px 0 no-repeat;
    left: 0;
    display: none;
    color: #fff;
    font-size: 18px;
    height: 18px;
    width: 25px;
    line-height: 20px;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
}

#cupcakes, #cakes {
    min-width: 320px;
}

.product.reason {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: url(/assets/img/bg1.jpg);
    background-size: cover !important;
    transition: all 0.2s ease-in-out;
}

.review {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #fff;
}

.product.reason:hover {
    background-image: url(/assets/img/bg2.jpg);
    background-size: cover;
}
/*
.product.reason .reason-title {
	font-size: 17px;
	font-weight: 300;
	padding: 0 10px;
	height: 35px;
	color: #aaa;
}
*/
.product.reason .reason-title {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    top: 48%;
    position: absolute;
    width: 100%;
}

.product.reason .reason-title p {
    margin: 0;
}

.product.reason:hover .reason-title {
    color: #fff;
    position: relative;
    top: 0;
}

.product.reason:hover .reason-title p {
    margin: 15px 0;
    color: #df476e;
    font-size: 16px;
}

.product.reason .reason-text {
    padding: 0 10px;
    color: #aaa;
    display: none;
    line-height: 20px;
}

.reason1 {
    background: url(/assets/img/reasons.jpg) 0 0 !important;
    position: relative;
}

.reason2 {
    background: url(/assets/img/reasons.jpg) 360px 0 !important;
    position: relative;
}

.reason3 {
    background: url(/assets/img/reasons.jpg) 720px 0 !important;
    position: relative;
}

.reason4 {
    background: url(/assets/img/reasons.jpg) 1080px 0 !important;
    position: relative;
}


.review:nth-child(4n) {
    background: url(/assets/img/reviews.jpg) 0 0 !important;
    background-size: cover !important;
}

.review:nth-child(4n+1) {
    background: url(/assets/img/reviews.jpg) 360px 0 !important;
    background-size: cover !important;
}

.review:nth-child(4n+2) {
    background: url(/assets/img/reviews.jpg) 720px 0 !important;
    background-size: cover !important;
}

.review:nth-child(4n+3) {
    background: url(/assets/img/reviews.jpg) 1080px 0 !important;
    background-size: cover !important;
}

.product.reason:hover .reason-text {
    display: block;
}

.product.reason:hover .reason-text {
    color: #fff;
}
/* remove style for price */
.product .price-old {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 300;
    background: rgba(100, 100, 100, 0.5);
}

.product .price span {
    font-size: 14px;
}

.product .price_cakes {
    position: absolute;
    bottom: 12px;
    right: 10px;
    display: none;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 24px;
    line-height: 18px;
    padding: 5px 10px;
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 300;
}

.product {
}

.product .price_cakes span {
    font-size: 16px;
}


#design-order {
    display: none;
}

#review-order {
    display: none;
}


#product-order {
    display: none;
}

#design-order-button {
    background: #222;
    padding: 5px 7px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    width: 150px;
}

.show {
    background: #222;
    padding: 5px 7px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.product .order,
.product .detail_link,
.trigger-order{
    background: #222;
    padding: 5px 7px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.product .detail_link {
    display: inline-block;
    text-decoration: none;
}

.product:hover .zoom,
.product:hover .price_cakes {
    display: block;
    transition: all 0.2s ease-in-out;
}

.product:hover .zoom,
.product:hover .price.price-list {
    transition: all 0.2s ease-in-out;
    display: block;
    z-index: 3;
}

.product:hover .background {
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}
.product:hover .price {
    color: #fff;
}


.product .info {
    position: absolute;
    text-align: left;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    top: 0;
    left: 0;
    line-height: 15px;
    display: none;
    width: 100%;
    color: #fff;
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
}

.product:hover .info.info-list {
    display: block;
}

.content {
    min-width: 320px;
}

.default {
    width: 90%;
    margin: 0 5%;
}

.product .info .name, .product .name {
    font-size: 16px;
    padding: 10px 20px 0;
    font-weight: 400;
    color: #ff7;
}
.product .name a{
    text-decoration: none;
}
.product .name a:hover{
    text-decoration: underline;
}
.selected-info .sname {
    color: #ff7;
}

.selected-info .sarticle {
    color: #bbb;
}

.selected-info .sarticle a {
    color: #bbb;
    text-decoration: none;
}



.product .info .article {
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 0 20px 10px;
    text-align: left;
    color: #bbb;
    text-decoration: none;
}

.product .info .article a {
    color: #bbb;
    text-decoration: none;
    cursor: default;
}


.product-b {
    padding: 0;
}

.product .shk-image {
    width: 100%;
    height: 100%;
}

.product .product-descr {
}

.product-descr h3 {
    margin: 0 0 5px 0;
    display: none;
}

.product .product-price {
    height:40px;
    text-align: center;
}

.product .product-price .shk-but {
    float: right;
    vertical-align: middle;
    border: none;
    padding: 5px 10px;
    background: #59AF40;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.product small {
    font-size:12px;
}

.product fieldset {
    padding:0;
    margin:0;
    border:0;
}

.product-tocart {
    margin:5px 0;
    padding:5px 0;
    border-top:1px dashed #888;
}

.product-tocart div {
    margin:5px 0;
}

.shk-price {
    font-weight:bold;
    font-size:1.3em;
}

.shk-but {
    margin:8px 0 0 0;
    /*padding:2px;
    background: url(img/grad.gif) bottom repeat-x #dfdfdf;
    border:1px outset #888;*/
}

/*
.shk-but:active {
	background: #A3A3A3;
	outline:none;}
*/

.price-add {
    color:red;
    padding-left:3px;
    line-height:0;
}

/* cart block */


.shop-cart {
    background-color: #fff;
    padding: 10px;
    background: rgba(225, 118, 152, 0.16);
    margin: 0 auto;
    padding: 15px 37px 30px;
}


.shop-cart-head {
    padding:5px 0 15px 0;
    text-align: center;
}

.shop-cart-body {
    padding:15px 0;
    text-align: center;
}

.shop-cart table {
    border-collapse:collapse;
    margin:5px 0;
}

.shop-cart td {
    padding:3px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

.shop-cart table small {
    font-size:11px;
    color:#595959;
}

.shop-cart-empty {
    height:50px;
    line-height:50px;
    text-align:center;
}

#shk_butEmptyCart {
    text-decoration: none;
    color:#000;
    border-bottom:1px dashed #000;
}

.cart-order {
    margin:5px 0;
    text-align: center;
}

.cart-order td {
    text-align: left;
}

.shop-cart .shk-count {
    width:30px;
}


.relative {
    width:100%;
    position:relative;
}

.error {
    color:red;
}

/* materials */
.materials {
    padding:5px 0;
}

.materials img {
    width:70px;
}

.materials input {
    cursor: pointer;
}

.product-info {
    transition: all 5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    display: none;
    height: 100%;

    background: rgba(205, 23, 30, 0.85);
    padding: 15px 11px;
    color: #fff;
}

.product-descr:hover .product-info {
    display: block;
}
.product-descr:hover .shk-image {
    display: none;
}
.product .product-descr {
    cursor: pointer;
}
.product-img a {
    text-decoration: none;
    color: #000;
}

.shopProduct {
    padding: 10px 25px;
}

.see_also {
    width: 100%;
    padding: 0px 25px;
    box-sizing: border-box;
}

.see_also img {
    width: 70px;
    margin: 0px 21px 10px 0px;
    box-shadow: 1px 1px 5px #ccc;
    opacity: 0.9;
}
.see_also a:last-child img {
    margin-right: 0px;
}

.see_also img:hover {
    opacity: 1;
}

.content {
    padding: 0 0;
}

.page {
    font-size: 14px;
    line-height: 22px;
    color: #555;
    min-width: 320px;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 15px 20px;
    margin: 0 auto;
}

.page ul {
    padding-left: 30px;
}

.product-info table {
    border-collapse: collapse;
}

.product-info td {
    line-height: 15px;
}

.product-info .article {
    font-size: 11px;
    line-height: 12px;
}

.product-info .name {
    font-size: 16px;
    color: #fff;
}

.product-info .price {
    text-align: right;
    font-size: 15px;
    margin: 0px 16px 5px 0px;
}

.product-info .zoom-img {
    float: right;
    position: relative;
    bottom: 15px;
    left: 8px;
}

.product-info .zoom-img a {
    color: #fff;
    font-size: 25px;
}

.page-text {
    max-width: 1980px;
    margin: 0 auto;
    padding: 10px 5% 20px;
    box-sizing: border-box;

    font-size: 14px;
    font-family: Open Sans, Arial;
    line-height: 20px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.page-text p,
.page-text ul,
.page-text ol
{
    line-height: 20px;
    color: #666;
    text-align: justify;
}

.page-text p {
    line-height: 20px;
    color: #666;
    text-align: justify;
    margin: 0;
    margin-bottom: 15px;
}

#shopCart {

}

.sub-menu {
    background: #252525;
    background: rgba(0, 0, 0, 0.56);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    line-height: 24px;
    min-width: 320px;
}

.sub-menu .wrap {
    padding: 0 5%;
    box-sizing: border-box;
}
.sub-menu ul {
    display: inline !important;
}
.sub-menu ul,
.sub-menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.sub-menu li {
    margin-right: 10px;
    white-space: nowrap;
}


.sub-menu a:hover {
    color: #fff;
}

.sub-menu .active,
.sub-menu .active a {
    color: rgb(205, 23, 30);
}


.sub-menu .title {
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.sub-menu a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    color: #BDBDBD;
}

.articles ul {
    list-style-position: inside;
}

.article .title {
    margin: 0;
    text-align: left;
}

.article:last-child {
    border: none;
}

.article .title a {
    font-size: 16px;
    text-decoration: none;
    color: #E57698;
}

.article .link {
    text-align: right;
}

.hidden-data {
    padding-top: 15px;
    display: none;
}

.review form .heading,
.reason form .heading,
.product-form .heading,
.product-form .heading-2
{
    color: #fff;
    min-height: 20px;
    font-size: 15px;
    margin: 15px 0;
    font-weight: 300;
    text-align: left;
}

.review form .form-data,
.reason form .form-data,
.product-form .form-data
{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    background: #2a2a2a;

}

.product-form .form-data .label1,
.product-form .form-data .label-stuffing,
.product-form .form-data .label-dough {
    width: 130px;
    display: inline-block;
}

.form-close1 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    z-index: 1000;
    right: 10px;
    cursor: pointer;
    background: url('../assets/img/close.png') no-repeat;
}
.form-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    z-index: 1000;
    right: 10px;
    cursor: pointer;
    background: url('../img/close.png') no-repeat;
}

.form-cash-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    z-index: 1000;
    right: 10px;
    cursor: pointer;
    background: url('../img/close.png') no-repeat;
}

.review form,
.reason form, .product-form {
    position: absolute;
    top: -50px;
    left: -25px;
    height: 100%;
    width: 100%;
    background: #2a2a2a;
    z-index: 100;
    text-align: left;
    padding: 50px 25px 75px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
}

.product-form {
    padding: 50px 20px 50px;
}



.review form .send-mail,
.product-form .send-mail,
.reason form .send-mail {
    padding-top: 10px;
}

.product-form .field-count-cupcake,
.product-form .field-count,
.product-form .field-weight {
    /*width: 60px;*/
    width: 40px;
    padding: 2px 4px;
    text-align: center;
}

#contacts-map {
    width: 100%;
    height: 500px;
}

.product-form p,
.review form p,
.reason form p {
    margin: 0;
    padding: 0;
}


.product-form .field,
.review form .field,
.reason form .field {
    padding: 6px 0;
}

.product-form .field {
    padding: 6px 0;
}

.review form button,
.reason form button {
    background: #222;
    padding: 5px 7px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    width: 150px;
}


.product-form button {
    background: #222;
    padding: 5px 7px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.product-form {
    color: #fff;
}

.product-form input,
.product-form textarea,
.reason form input,
.reason form textarea,
.review form input,
.review form textarea {
    border: 0;
    background: #f4f4f4;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
    width: 99%;
    box-sizing: border-box;
}


.product-form input,
.product-form textarea
{
    width: 100%;
}

.product.reason input[type=checkbox],
.product-form input[type=checkbox] {
    width: auto;
    padding: 0;
    margin: 0;
}

.reason form input[type=file],
.review form input[type=file] {
    background: inherit;
    padding-left: 0;
}

.review form .field-name,
.review form .field-phone,
.review form .field-count,
.review form .field-date,
.reason form .field-name,
.reason form .field-phone,
.reason form .field-count,
.reason form .field-date {
    width: 48%;
}

.review form .field-name,
.reason form .field-name {
    margin-right: 2%;
}

.review form .field-count,
.reason form .field-count {
    margin-right: 2%;
}

.product-form .field.decision {
    text-align: center;
    padding: 10px;
    padding-right: 25px;
}

.product-form .field.decision button {
    margin: 10px 0;
}


.reasons-bg img {
    width: 100%;
    height: 100%;
}

.info-reason {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.review form textarea {
    height: 60px;
}

.reason:hover .info-reason {
    background: rgba(0, 0, 0, 0.8);
}

/*
.product.reason:hover .info-reason {
	display: block;
}
*/

.additional {
    text-align: left;
    margin-left: 21px;
}

.additional div {
    margin: 7px 0;
}

#shk_butOrder {

}

.shop-cart .full fieldset {
    border: 1px solid #ccc;
}

.product .image {
    width: 100%;
    height: 100%;
}



/*
.home .reason {
	font-family: 'Open Sans';
	font-weight: 370;
	color: #fff;
	text-align: center;
	font-size: 13px;
	background: url(/assets/img/bg1.jpg) !important;
	background-size: cover;
	float: left;
	width: 250px;
	height: 250px;
}
*//*
.home .reason:hover {
	background-image: url(/assets/img/bg2.jpg);
	background-size: cover;
}

.product.reason .reason-title {
	font-size: 17px;
	font-weight: 300;
	padding: 0 10px;
	height: 35px;
	color: #aaa;
}

.home .reason .reason-title {
	font-size: 15px;
	font-weight: 370;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.66);
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}

.home .reason .reason-title p {
	margin: 0;
}

.home .reason:hover .reason-title {
	color: #fff;
	position: relative;
	background: none;
}

.home .reason:hover .reason-title p {
	/*margin: 15px 0;*/

/*
.home .reason .reason-text {
	padding: 0 10px;
	color: #aaa;
	display: none;

}

.home .reason:hover .reason-text {
	display: block;
}

.home .reason:hover .reason-text {
	color: #fff;
}
*/
.home {
    min-width: 320px;
    max-width: 1980px;
}

.home .info-reason {
    /*position: relative;
    top: 45%;
    */
}

.home .reason:hover .info-reason {
    /*
        top: 0;
        background: rgba(0, 0, 0, 0.66);
        height: 100%;
        width: 100%;
        */
}

.link-category {
    position: relative;
    top: 48%;
    text-align: center;
    display: none;
}

.link-category a {
    background: rgba(0, 0, 0, 0.59);
    padding: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 4px;
}

.categories:hover .link-category {
    display: block;
}

.link-category a:hover {
    background: rgba(205, 38, 63, 1);
}

.categories-dark {
    /*background: rgba(0, 0, 0, 0.45);*/
    width: 100%;
    height: 100%;
}

.categories-dark:hover {
    background: rgba(0, 0, 0, 0.45);
    transition: 0.5s;
}


#footer-menu {
    float: left;
    width: 23%;
    margin-left: 4%;
    text-align: left;
    line-height: 20px;
}
#page-product .product {
    width: 370px !important;
    height: 370px !important;
    box-sizing: border-box;
}

#footer-menu .contacts {

    padding: 5px 0 10px 0;
}

#footer-menu .phone {
    font-size: 22px;
    padding: 0 0 5px 0;
}

#footer-menu .email {
    padding: 0 0 5px 0;
}


#footer-menu ul {
    width: 90%;
}

#footer-feedback {
    width: 25%;
    margin-left: 2%;
    float: left;
    text-align: left;
}

#footer-menu ul {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    list-style: none;
}

#footer input,
#footer textarea {
    border: 0;
    width: 80%;
    background: #f4f4f4;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
}

#footer button {
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff;
    background: rgba(205, 38, 63, 1);
    cursor: pointer;
    padding: 7px 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}


#footer .field {
    padding: 5px 0;
}

#footer-menu li {
    text-align: left;
    margin: 0;
    padding: 5px;
    list-style: none;
    border-bottom: 1px solid #555;
}

#footer-menu li a {
    color: #fff;
    text-decoration: none;
}

#footer-menu li:before {
    content: ">";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 16px;
    color: #fff;
    margin: 0 8px 0 0;
}

#footer .heading {
    color: #fff;
    min-height: 20px;
    font-size: 16px;
    margin: 15px 0;
    font-weight: 300;
    text-align: left;
}


#contacts-feedback {
    width: 40%;
    float: left;
    text-align: left;
}

#contacts-feedback ul {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    list-style: none;
}

#contacts-feedback input,
#contacts-feedback textarea {
    border: 0;
    width: 96%;
    /* background: #f4f4f4; */
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 18px;
}

#contacts-feedback button {
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff;
    background: rgba(205, 38, 63, 1);
    cursor: pointer;
    padding: 7px 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}


#contacts-feedback .field {
    padding: 5px 0;
}

#contacts-feedback li {
    text-align: left;
    margin: 0;
    padding: 5px;
    list-style: none;
    border-bottom: 1px solid #555;
}

#contacts-feedback li a {
    color: #fff;
    text-decoration: none;
}

#contacts-feedback li:before {
    content: ">";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 16px;
    color: #fff;
    margin: 0 8px 0 0;
}

#contacts-feedback .heading {
    color: #000;
    min-height: 20px;
    font-size: 16px;
    margin: 15px 0;
    font-weight: 300;
    text-align: left;
}

.table-total {

}

.order-table {
    width: 100%; border-collapse: collapse;
}

.order-table .col1 {
    border-bottom: 1px solid #fff;
    padding: 2px 2px 4px;
    line-height: 16px;
    font-size: 12px;
}

.order-table .col2 {
    border-bottom: 1px solid #fff;
    /*width: 60px;*/
    width: 90px;
    padding: 2px 2px 4px;
    line-height: 16px;
    font-size: 12px;
}

.order-table .col2 input {
    padding: 1px 3px;
    display: inline-block;
    /*width: 36px;*/
    width: 25px;
    vertical-align: middle;
}

.order-table .col3 {
    border-bottom: 1px solid #fff;
    text-align: right;
    width: 58px;
    padding: 2px 2px 4px;
    line-height: 15px;
    font-size: 12px;
}

.order-table .col4 {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 22px;
    padding: 2px 2px 4px;
    line-height: 15px;
    font-size: 12px;
}


.order-table .last .col1,
.order-table .last .col2,
.order-table .last .col3 {
    padding: 6px 2px 2px;
    border-bottom: 0;
}

.menu-reason {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    float: none;
    z-index: 1000;
    background: none !important;
}

.cart-product {
    position: absolute;
    top: 100px;
    right: 0;
    float: none;
    z-index: 1000;
}

#trust-us img {
    width: 280px;
    margin: 0 16px;
    box-shadow: 0 0 1px #D374A4;
    float: left;
    transition: 0.3s;
}

#trust-us {
    min-width: 320px;
}

#trust-us img:hover {
    box-shadow: 0 0 5px #D374A4;
    transition: 0.3s;
}

a.sub-link {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

a.sub-link:hover {
    text-decoration: underline;
}

#title-link a {
    text-decoration: none;
    background: #FFF;
    padding: 3px 10px;
    color: #E04788;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    transition: 0.3s;
}

#title-link span {
    text-decoration: none;
    background: #A02C3E;
    padding: 3px 10px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
}

#title-link span {
    text-decoration: none;
    background: #A72B39;
    padding: 3px 10px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
}

#title-link a:hover {
    text-decoration: none;
    background: #A72B39;
    padding: 3px 10px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    transition: 0.3s;
}

#title-link a:focus{
    text-decoration: none;
    background: #A02C3E;
    padding: 3px 10px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
}

#title-link {
    padding-top: 30px;
    text-align: center;
}

/* text  18.06.2015*/


#mse2_sort {
    padding-top: 30px;
    text-align: center;
}
#mse2_sort li {
    display: inline-block;
    margin: 0 2px;
    height: 40px;
}
#mse2_sort a {
    text-decoration: none;
    background: #FFF;
    padding: 3px 10px;
    box-shadow: none;
    border-radius: 12px;
    border: 1px solid #EF7695;
    transition: 0.3s;
    text-align: center;
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
    color: #2f2f2f;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
}
#mse2_sort a:hover {
    border-color: #777;
    text-decoration: none;
    transition: 0.3s;
}
#mse2_sort a:focus {
    text-decoration: none;
    background: #A02C3E;
    padding: 3px 10px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
}
#mse2_sort .sort-label {
    color: #444;
    font-size: 110%;
    line-height: 100%;
}
#mse2_sort a span {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
/*#mse2_sort .sort[data-dir="asc"] span,
#mse2_sort .sort[data-dir="desc"] span,
#mse2_sort .sort.sort-number[data-dir="asc"] span,
#mse2_sort .sort.sort-number[data-dir="desc"] span {
    width: 20px;
    height: 18px;
    margin-right: 4px;
}
#mse2_sort .sort.sort-number[data-dir="asc"] span,
#mse2_sort .sort.sort-number[data-dir="desc"] span {
    height: 20px;
}
#mse2_sort .sort[data-dir="asc"] span:after,
#mse2_sort .sort[data-dir="desc"] span:after,
#mse2_sort .sort.sort-number[data-dir="asc"] span:after,
#mse2_sort .sort.sort-number[data-dir="desc"] span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: none no-repeat center center transparent;
    background-size: contain;
}
#mse2_sort .sort[data-dir="asc"] span:after {
    background-image: url(/assets/img/sort_desc.png);
}
#mse2_sort .sort[data-dir="desc"] span:after {
    background-image: url(/assets/img/sort_asc.png);
}
#mse2_sort .sort.sort-number[data-dir="asc"] span:after {
    background-image: url(/assets/img/sort_number_desc.png);
}
#mse2_sort .sort.sort-number[data-dir="desc"] span:after {
    background-image: url(/assets/img/sort_number_asc.png);
}*/

#mse2_results {
    color: #555;
}

.button1 {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    white-space: nowrap;
    background-color: #5D2B3A;
    display: inline-block;
    border-radius: 5px;
}

.page-text ul
{
    padding-left: 30px;
}
.main-text-block
{
    width: 100%;
    margin-left : 62px;
}

.main-page-text
{
    font-size : 14px;
    color: #666;
    line-height: 20px;
    text-align: justify;
    width: 680px;
    float : left;
    margin-left: 25px;
    margin-right: 25px;
}

.main-page-text ul
{
    padding-left: 30px;
    line-height: 2;
}


.formfile input[type=file]
{
    background: inherit;
    padding-left: 0;
}


.new-page-text
{
    font-size : 14px;
    color: #666;
    line-height: 20px;
    text-align: justify;
    width: 1300px;
    padding-left: 70px;

}


.new-page-text ul
{
    padding-left: 30px;
    line-height: 2;
}

#title-link li {
    display: inline-block;
    margin: 0 2px;
    height: 40px;
}

#title-link a {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 17px;
    color: #df476e;
}

#title-link .active a {
    text-decoration: none;
    background: #A72B39;
    padding: 5px 11px;
    color: #FFFFFF;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 18px;
}

.bg-sub-menu {
    background: url(/assets/img/home.jpg) no-repeat center;
    background-size: cover;
    min-width: 320px;
}

.contacts-left {
    width: 49%;
    float: left;
}

.contacts-right {
    float: right;
    width: 49%;
}

p.title-contacts {
    text-align: center;
    font-size: 16px;
}

#contacts-feedback {
    width: 100%;
}

.contacts-left span, .contacts-right span {
    font-size: 13px;
    text-align: center;
    display: block;
}

.product .info .name a {
    font-size: 16px;
    /* padding: 10px 20px 0; */
    font-weight: 400;
    color: #ff7;
    line-height: 20px;
    text-decoration: none;
}

.table-candy-bar {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.table-candy-bar table {
    background-color: #fff;
    width: 430px;
    border-collapse: collapse;
}

.table-candy-bar td {
    padding: 10px;
    border: 2px solid #F9ECF8;
}

td.cb-table-title {
    text-align: center;
    font-size: 16px;
}
.reviews_title a:hover{
    text-decoration: underline;
}
.additional_info{
    font-size: 13px;
    margin: 20px 0;
}
.additional_info .delivery{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    background: #fff url('/assets/img/delivery.png') top 10px right 30px no-repeat;
    background-size: 40px;
}
.additional_info .pay{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    background: #fff url('/assets/img/pay.png') top 10px right 30px no-repeat;
    background-size: 40px;
}
.additional_info .title{
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
}
/* page product */
.function-panel {
    float: right;
    width: 50%;
    margin: 20px 0;
}
.function-panel .price {

}

.function-panel .left {
    float: left;
    width: 45%;
    /*border-right: 1px solid #F4F4F4;*/
    padding-right: 25px;
}

.function-panel .right {
    float: left;
    width: 55%;
    padding-left: 35px;
    border-left: 1px solid #F4F4F4;
}

.function-panel .product-code{
    font-weight: bold;
    margin: 10px 0 0 0;
}
.options-content{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-size: 40px;
    background: #fff;
}
.options-content .title{
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
}
.options .trigger-order{
    margin-left: 0;
    display:block;
}
#product .price {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}
.option-price{
    display: inline-flex;
}
.option-price .uah{
    margin: 0 50px 0 0;
    line-height: 30px;
}
#page-product{
    background-color: #fff;
}
a.trigger-order{
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    text-decoration: none;
    display: inline-block;
}
.price-order{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}
.price-order .order{
    float:right;
    margin: 22px 10px 22px 0;
}
.price-order .price-list {
    max-width: 238px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 28px 0px 28px 10px;
    /* text-align: right; */
    /* font-family: 'Open Sans'; */
    font-weight: 300;

    /* background: rgba(100, 100, 100, 0.5); */
}
#page-product .price{
    display: none;

}
.action_header{
    color: #BDBDBD;
    padding: 5px 50px;
    font-size: 15px;
}

.helloween {
    position: absolute;
    right: 5%;
    top: -8px;
    z-index: 100;
}

.helloween img {
    width: 150px;
}

#home {
    position: relative;
}

.helloween.sub {
    top: 100px;
}

.helloween.sub {
    top: -12px;
    right: 114px;
}

.helloween.sub img {
    width: 110px;
}

.hlw {
    position: relative;
}
.breadcrumbs {
    text-align: center;
    font-weight: bold;
}
.breadcrumbs a, .breadcrumbs span {
    font-weight: bold;
    text-decoration: none;
}
.maphtml a {
    text-decoration: none;
}
.maphtml ul {
    list-style: none inside;
    font-size: 16px;
    margin: 10px 0;
}
.maphtml ul > li:before {
    content: '• ';
    color: #6a7383;
    font-size: 16px;
    line-height: 25px;
    vertical-align: -2px;
}
.maphtml ul > li {
    padding-left: 25px;
    font-size: 16px;
    line-height: 25px;
}
.neighbors {
    text-align: center;
    padding: 25px;
}
.neighbors a {
    font-size: 16px;
}
.no-image {
    background: url('/assets/images/no-image.jpg') no-repeat center center #FFF;
    background-size: contain;
}
h3 a, h3, .see_also p {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 300;
    font-size: 24px;
    color: #df476e;
}
noscript {
    display: none;
}

.page-text h2 {
    line-height: 30px;
}
div#page-product img {
    max-width: 100%;
    height: 100%;
}
.center {
    text-align: center;
}
select.stuffing {
    width: 140px;
}
.button-menu-order {
    position: absolute;
    right: 90px;
    top: 90px;
}
#loader_request {
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
    display: none;
    position: fixed;
    background-image: url(/assets/images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.nachinki-title {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin: 5px 0;
    margin: 0 20px 10px;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
    background: #fff url("/assets/img/fillings-icon.png") top 10px right 4px no-repeat;
    background-position-y: -4px;
    background-size: 45px;
}

#faq .question span {
    font-size: 22px;
    color: #DC6C89;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    line-height: 30px;
}

#faq .question {
    margin-top: 10px;
}

#faq .aswer p {
    margin: 0;
    padding: 6px 0;
}

#faq .aswer {
    padding: 5px 0 0 25px;
}

#faq {
    padding-bottom: 30px;
}

#faq .question.open span {
    color: #409FA8;
}

#faq strong {
    font-weight: 600;
}

#scrollup {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 32px;
    height: 140px;
    cursor: pointer;
    border: 1px solid #eca5bf;
    border-radius: 25px;
    padding-top: 12px;
    opacity: .7;
    background: #fff;
    z-index: 100;
    display: none;
}

#scrollup span {
    width: .7em;
    text-align: center;
    display: block;
    word-wrap: break-word;
    padding: 0 12px;
    line-height: 15px;
}

#scrollup img {
    width: 20px;
    padding: 0 6px 6px;
}

.product_description {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.product_description-title {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 15px;
    text-align: left;
    font-weight: 700;
    background: #fff url("/assets/img/desc.png") top 10px right 14px no-repeat;
    background-position-y: 0px;
    background-size: 27px;
}

.valentines-day p {
    font-size: 16px;
}

.valentines-day .button a {
    background: #E23A4C;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 20px;
}

.valentines-day .button a:hover {
    background: #C53141;
}

.valentines-day .button {
    text-align: center;
    margin: 70px 0;
}

.see-also-block div {
    width: 17%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 3.3%;
}

.see-also-block div:last-child {
    margin-right: 0;
}

.see-also-block a {
    text-decoration: none;
    color: #222;
}

.see-also-block img {
    width: 100%;
    opacity: .9;
}

.see-also-block div:hover img {
    opacity: 1;
}


@media (max-width: 899px) {
    .pad-block {
        display: block;
    }

    .ui-widget-content {
        min-width: 300px !important;
        max-width: 300px !important;
    }

    #footer-menu {
        float: none;
        width: 100%;
        padding-left: 4%;
        text-align: left;
        margin-left: 0%;
        line-height: 20px;
        box-sizing: border-box;
    }
    #vk {
        float: left;
        width: 50%;
        margin-left: 0%;
        padding-left: 2%;
        padding-bottom: 0px;
        box-sizing: border-box;
        overflow: hidden;
    }
    #instagram {
        float: left;
        width: 45%;
        margin-left: 3%;
        text-align: left;
        padding-bottom: 0px;
    }
    #header {
        box-shadow: 0 0 2px #ccc;
        min-width: 320px;
        width: 100%;
        height: 290px;
        background: radial-gradient(ellipse at center,#fffffd 35%,#f4e6f4 100%);
        background-size: cover;
    }
    #header .small-menu {
        left: -10%;
    }
    #logo {
        position: absolute;
        top: 15px;
        left: 5%;
        font-size: 34px;
        color: #e17698;
        font-weight: 300;
        letter-spacing: 1px;
    }
    #count {
        text-align: left;
        font-size: 16px;
        color: #df476e;
        position: absolute;
        top: 45px;
        left: auto;
        right: 4%;
        line-height: 16px;
        padding-left: 77px;
    }
    #search {
        position: absolute;
        top: 245px;
        left: 0%;
        width: 100%;
    }
    #search .searchBlock {
        width: 300px;
    }
    /*
    #phone {
        position: absolute;
        left: 0%;
        font-size: 20px;
        color: #52352c;
        top: 145px;
        margin-left: -2%;
        line-height: 25px;
        transform: scale(0.8);
        text-align: center;
        width: 50%;
    }
    */
    #cart {
        background: url('../img/cart.png') no-repeat;
        width: 67px;
        height: 67px;
        position: absolute;
        top: 151px;
        right: 3%;
        padding-right: 125px;
        color: #df476e;
        line-height: 16px;
    }

    .page-text {
        max-width: 1980px;
        margin: 0 auto;
        padding: 10px 5% 20px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Open Sans, Arial;
        line-height: 20px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }
    #page-product .product {
        width: 370px !important;
        height: 370px !important;
        box-sizing: border-box;
    }
    .button-menu-order {
        position: relative;
        right: 0px;
        top: 0px;
    }

    .valentines-day img {
        display: none;
    }

    .valentines-day h1 {
        padding: 0 !important;
        width: 100%;
        clear: both;
        padding-top: 25px !important;
    }

    .valentines-day img {
        /* display: none; */
        float: none !important;
        margin: 0 auto !important;
        display: block;
    }

    .valentines-day p {
        text-align: left !Important;
        padding: 0 !important;
    }

    .valentines-day .mob-hidden {
        display: none;
    }

    .see-also-block div {
        width: 47%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-right: 4.8%;
        margin-bottom: 20px;
    }

    .see-also-block span {
        padding-top: 6px;
        display: block;
    }

    .see-also-block div:nth-child(2n+1) {
        margin-right: 0;
    }

}
@media (max-width: 600px) {
    .mobile-block {
        display: block;
    }
    #logo {
        position: absolute;
        top: 9px;
        left: 5%;
        font-size: 34px;
        color: #e17698;
        font-weight: 300;
        letter-spacing: 1px;
    }
    #logo img {
        width: 160px;
        height: 52px;
    }
    #logo .slogan {
        font-size: 11px;
        line-height: 140%;
        top: 36px;
        left: 38px;
    }
    #header .small-menu {
        top: 84px;
        left: -5%;
    }

    #count {
        font-size: 16px;
        color: #df476e;
        position: absolute;
        top: 23px;
        left: initial;
        right: 2%;
        line-height: 16px;
        padding-left: 0;
    }
    /*
    #phone {
        position: absolute;
        left: 0%;
        font-size: 20px;
        color: #52352c;
        top: 117px;
        margin-left: -3%;
        line-height: 25px;
        transform: scale(0.8);
        text-align: center;
        width: 55%;
    }
    */
    #cart {
        background: url('../img/cart.png') no-repeat left 7px;
        background-size: 50px;
        width: 50px;
        height: 67px;
        position: absolute;
        top: 125px;
        right: 2%;
        padding-right: 110px;
        color: #df476e;
        line-height: 16px;
    }
    #cart .cart-heading {
        left: 57px;
    }
    #cart .cart-info {
        font-size: 12px;
        left: 57px;
        width: 109px;
    }

    #content .production a {
        width: 47%;
        margin: 10px 1.5%;
    }

    .sub-menu-hide {
        height: 0;
        padding: 0;
        overflow: hidden;
    }
    .sub-menu-btn {
        display: block !important;
    }

    #footer-menu {
        float: none;
        width: 100%;
        padding-left: 4%;
        text-align: left;
        margin-left: 0%;
        line-height: 20px;
        box-sizing: border-box;
    }
    #vk {
        float: none;
        width: auto;
        margin-left: 0%;
        padding-left: 3%;
        padding-bottom: 0px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }
    #instagram {
        float: none;
        width: auto;
        margin-left: 0%;
        padding-left: 3%;
        text-align: center;
        padding-bottom: 0px;
        overflow: hidden;
    }
    #page-product .product {
        width: 370px !important;
        margin: 0px !important;
        max-width: 100%;
        height: 100% !important;
        box-sizing: border-box;
    }
    .see_also {
        width: auto;
        padding: 0px 20px;
    }
    .see_also img {
        width: 70px;
        margin: 0px 3px 10px 6px;
        box-shadow: 1px 1px 5px #ccc;
        opacity: 0.9;
    }
    .function-panel {
        float: right;
        width: 95%;
        margin: 20px 0;
    }
    .page-text {
        max-width: 1980px;
        margin: 0 auto;
        min-width: auto;
        padding: 10px 5% 20px;
        box-sizing: border-box;
        min-width: auto;
        font-size: 14px;
        font-family: Open Sans, Arial;
        line-height: 20px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }
    .button-menu-order {
        position: relative;
        right: 0px;
        top: 0px;
        z-index: 0;
    }

    #scrollup span {
        display: none;
    }

    #scrollup {
        top: inherit;
        bottom: 10px;
        height: 32px;
        padding: 8px;
        display: none;
        opacity: .9;
    }

    #scrollup img {
        padding: 6.3px;
    }

    #scrollup:focus, #scrollup img:focus {
        outline: none;
    }

    /*.see-also-block div {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .see-also-block div:nth-child(2n+1) {
        margin-right: 0;
    }*/

    .product {
        box-sizing: border-box;
    }

    .product {
        max-width: 280px;
        margin: 20px auto;
        float: none;
    }
    .product:first-child {
        max-width: 280px;
        margin-top: 0px;
        float: none;
    }

    #mse2_sort .sort-label {
        display: block;
    }
}

#footer-menu .email a {
    font-size: 17.2px;
    text-decoration: none;
    color: #fff;
}
/*
#phone .email {
}

#phone .email a {
    font-size: 14px;
}
*/
div.pagination {
    text-align: center;
}
ul.pagination {
    margin: 0 auto;
    display: inline-block;
}
ul.pagination li {
    list-style: none;
    display: inline-block;

    color: #fff;

}
ul.pagination li > a, ul.pagination li > span{
    color: #fff;
    background: rgba(205, 38, 63, 1);
    padding: 7px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}
ul.pagination li:hover {
    color: #fff;
}
ul.pagination li a:hover,
ul.pagination li.active span,
ul.pagination li.active a{
    color: #fff;
    background: rgba(205, 38, 63, 0.71);
}
.alert_num{
    font-size: 13px !important;
    color:red;
    margin-top: 5px;
}


.intro-price {
    margin-left: 133px;
}


.page.delivery p, .page.delivery ol, .page.delivery ul {
    margin: 0;
}

.page.delivery ol {
    list-style-position: inside;
    padding: 0;
}

.page.delivery p.pink {
    color: #df476e;
    margin-top: 20px;
}

.page.delivery h2 {
    margin-bottom: 0;
    margin-top: 30px;
}

.page.delivery strong {
    font-weight: 600;
}


.btn-count-change {
    background-color: #CD263F;
    display: inline-block;
    padding: 2px 12px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
}
.order-table .col2 .btn-count-change {
    padding: 3px 4px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 100%;
}

.product-form .field-count-cupcake,
.product-form .field-count,
.product-form .field-weight {
    vertical-align: middle;
}

@media (max-width: 899px) {
    .btn-count-change {
        border-radius: 5px;
    }
    .btn-count-minus {
        margin-right: 1px;
    }
    .btn-count-plus {
        margin-left: 1px;
    }
}

.sub-menu-btn {
    display: none;
}
.hamburger-wrap {
    text-align: center;
}
.hamburger {
    color: #fff;
    line-height: 100%;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before {
    background-color: #fff;
}
.hamburger--accessible .hamburger-box {
    display: inline-block;
    vertical-align: middle;
}
.hamburger-label {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    text-transform: uppercase;
}

.float {
    height: 150px;
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
}

.page.about .clear {
    height: 30px;
}

.page.about h2 {
    margin-top: 25px;
}

.page.about .write a {
    text-decoration: none;
    background: #a72b39;
    padding: 5px 11px;
    color: #fff;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    font-size: 18px;
}

.page.about .write a:hover {
    background: #992230;
}

.page.about .write {
    margin: 25px 0 10px;
}

.page.about .write a:focus {
    background: #7A1924;
}

.page.about .center.appeal {
    text-transform: uppercase;
    font-weight: 400;
    color: #df476e;
    font-size: 18px;
    margin-bottom: 15px;
}

.center.call a {
    font-size: 18px;
    color: #df476e;
    text-decoration: none;
}

.page.cachback img.float-left {
    float: left;
    margin-right: 25px;
}

.page.cachback img.float-right {
    float: right;
    margin-left: 25px;
}

.page.cachback h1 {

}

.page.cachback .block-right {
    float: left;
    margin-top: 83px;
    border-bottom: 1px solid #DF476E;
    padding-bottom: 85px;
}

.page.cachback p.sm {
    font-size: 12px;
}

.page.cachback h2 {
    font-size: 23px;
    text-align: left;
    color: #df476e;
    font-weight: 300;
    text-transform: none;
    text-align: center;
}

.page.cachback .block-left {
    float: left;
    margin-top: 94px;
    border-bottom: 1px solid #df476e;
    padding-bottom: 85px;
}

.examples .false {
    width: 48%;
    float: left;
}

.examples .true {
    width: 48%;
    float: right;
}

.examples .border {
    border: 1px solid #ccc;
}

.examples .title {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 16px;
    font-size: 15px;
}

.examples .content img {
}

.examples .content img {
    width: 100%;
    height: 226px;
}

.false .content div {
    padding: 15px;
    background: #F4CCCC;
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.true .content div {
    padding: 15px;
    background: #D9EAD3;
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.examples .header {
    text-align: center;
}

.examples .header {
    text-align: center;
    padding: 10px 0 5px;
}

.nice-photos img {
    height: 200px;
    margin: 8px;
}

.nice-photos {
    text-align: center;
}

.nice-photos .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.h1-style {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

img.float-left, img.float-right {
    height: 290px;
}