
.product .order_new, .product .detail_link, .trigger-order {
    background: #222;
    padding: 5px 7px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #f92;
    border: 0;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(205, 38, 63, 1);
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.price-order .order_new {
    float: right;
    margin: 22px 10px 22px 0;
}
