body {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-size: 13px;
	font-family: Arial, sans-serif;
}

a {
	color: #208baf;
}

.clear {
	clear: both;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#header {
	height: 60px;
}

#logo {
	position: absolute;
	top: 5px;
}

#nav {
	position: absolute;
	top: 20px;
	left: 300px;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	padding: 0 20px;
	display: block;
	float: left;
	line-height: 20px;
}

#nav ul li a {
	text-decoration: none;
	color: #666;
}

#nav ul li.active a {
	color: #208baf;
}

#top {
	background: url('../img/header.jpg') no-repeat center 0;
	height: 130px;
}

#top .heading {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #fff;
	line-height: 42px;
	padding: 42px 0 42px;
}

#content .wrap {
	min-height: 500px;
}

#footer {
	background: #151717;
	height: 80px;
}


#footer-nav {
	position: absolute;
	top: 10px;
	right: 0;
}

#footer-nav a {
	color: #ccc;
	text-decoration: none;
}

#footer-nav ul {
	list-style: none;
}

#footer-nav li {
	color: #ccc;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	list-style: none;
	display: block;
	float: left;
	padding: 0 10px 0 0;
}


#footer-nav li:after  {
	content: "/";
	padding: 0 0 0 10px;
}


#footer-nav li.last {
	padding: 0;
}

#footer-nav li.last:after {
	content: none;
	padding: 0;
}


#copyrights {
	color: #777;
	font-size: 11px;
	position: absolute;
	top: 45px;
	right: 0;
}

#main-video {
	padding: 60px 0;
	background: url('../img/heading-top.jpg') no-repeat center;
	background-size: cover;
}

#how-it-works {
	background: #3686be;
}


#information {
	background: #eef1f2;
}

#information .content {
	color: #555;
	font-size: 14px;
	padding: 0 0 30px;
}

#main-video .form .heading {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #fff;
	line-height: 42px;
	padding: 20px 0 20px 0;
}

#main-video .form .heading .bottom {
	font-size: 24px;
}

#information .heading {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #333;
	line-height: 42px;
	padding: 20px 0 20px 0;
	text-align: center;	
}


#main-video .form {
	position: absolute;
	top: 35px;
	right: 0;
	width: 290px;
	padding: 20px 15px 20px 30px;
	background-color: rgba(0, 0, 0, 0.6);
}

#main-video .form input[type=text] {
	background: #fff;
	margin: 10px 0;
	padding: 8px 15px 8px 15px;
	width: 225px;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	color: #444444;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	box-shadow: 0 1px 1px #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.15) inset;
	text-shadow: 0 1px 0 rgba(235, 235, 235, 0.75);
	line-height: 18px;
	display: block;
}

#main-video .form input[type=submit] {
	border: 0;
	color: #fff;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	cursor: pointer;
	background: #474747;
	background-image: linear-gradient(to bottom, #E74C3C, #c73C3C);
	padding: 8px 36px 8px 36px;
	margin: 20px 0;
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
	display: block;
	box-sizing: border-box;
}


#how-it-works .heading {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #fff;
	line-height: 42px;
	padding: 20px 0 20px 0;
	text-align: center;
}

#how-it-works .content {
	padding: 10px 10px 30px;
}

#reviews .heading {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #333;
	line-height: 42px;
	padding: 20px 0 20px 0;
	text-align: center;
}

#reviews .content {
	padding: 10px 10px 30px;
	text-align: center;
}


#how-it-works .item {
	float: left;
	width: 290px;
	padding: 10px 20px 10px 10px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 15px;
}

#how-it-works .item .text {
	display: table-cell;
	height: 40px;
	vertical-align: middle;
}

#how-it-works .item .n {
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 100%;
	text-align: center;
	float: left;
	color: #346078;
	font-size: 16px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	padding-top: 9px;
	margin-top: 2px;
	box-sizing: border-box;
	margin-right: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#how-it-works .important {
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	line-height: 26px;
	background-color: rgba(0, 0, 0, 0.5);
}

#how-it-works .important .small {
	font-size: 15px;
}
.reviews-field {
	text-align: center;
	color: #717171;
	font-size: 25px;
	line-height: 1.4;
	margin: 0px 152px;
	width: 700px;
	height: 480px;
}
.reviews-field .img {
	border: 5px solid #e6e9eb;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.reviews-field h4 {
	color: #3686be;
	font-weight: 700;
	font-size: 23px;
	margin-bottom: 5px;
}
.reviews-field span {
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #717171;
	font-size: 16px;
}
#inner-content {
	min-height: 700px;
	font-size: 14px;
	line-height: 2.0;
}
#inner-content h1 {
	font-size: 28px;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #925da5;
	line-height: 42px;
}
#inner-content h2 {
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: #42738b;
}
#breadcrumbs {
	padding: 30px 0 0 0;
	font-size: 11px;
}
#breadcrumbs a {
	text-decoration: none;
	color: #777;
	font-family: Roboto, Arial, sans-serif;
}
#breadcrumbs li {
	display: inline-block;
}

#breadcrumbs li, 
#breadcrumbs ul {
	padding: 0 0 0 0;
	color: #777;
}
.home {
	position: relative;
	top: 3px;
}
.articles-img {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 1px #42738b;
	border-radius: 5px;
}
