/*-------pink table-------*/
.x-form-field-wrap .x-form-trigger.x-form-trigger-over,
.x-form-field-wrap .x-form-trigger:hover,
.x-form-field-wrap .x-form-trigger.x-form-trigger-over, 
.x-form-field-wrap .x-form-trigger:hover,
.x-btn:hover
{
    -webkit-box-shadow: 0 0 0 1px #df476e;
    box-shadow: 0 0 0 1px #df476e;
    background-color:#a8434e;
}
 
.x-combo-list .x-combo-list-inner,
.x-field-search-clear,
.x-field-search-go,
.x-grid3,
.x-menu-floating
{
    border-color:#a8434e!important;
}

.x-combo-list .x-combo-list-inner:hover,.x-field-search-clear:hover, .x-field-search-go:hover,
{
    border-color:#df476e;
}

div#ext-gen36:hover,.x-toolbar .x-form-field-trigger-wrap:hover,
div#ext-gen36:hover,div#ext-gen42:hover
{
    -webkit-box-shadow: 0 0 0 1px #df476e;
    box-shadow: 0 0 0 1px #df476e;
}

div#ext-gen36,div#ext-gen42,
.x-item-disabled.x-btn,
.actions button.x-item-disabled,
.x-item-disabled.inline-button,
.x-item-disabled.x-superboxselect-item,
.x-item-disabled.x-form-trigger,
.x-item-disabled.x-date-mp-ok,
.x-item-disabled.x-date-mp-cancel,
.x-item-disabled.x-btn:hover,
.actions button.x-item-disabled:hover,
.x-item-disabled.inline-button:hover,
.x-item-disabled.x-superboxselect-item:hover,
.x-item-disabled.x-form-trigger:hover,
.x-item-disabled.x-date-mp-ok:hover,
.x-item-disabled.x-date-mp-cancel:hover,
.x-item-disabled.x-btn:active,
.actions button.x-item-disabled:active,
.x-item-disabled.inline-button:active,
.x-item-disabled.x-superboxselect-item:active,
.x-item-disabled.x-form-trigger:active,
.x-item-disabled.x-date-mp-ok:active,
.x-item-disabled.x-date-mp-cancel:active,
.x-panel-bbar .x-toolbar .x-form-text.x-tbar-page-number,
.x-panel-bbar .x-toolbar .x-form-text.x-tbar-page-size,
.x-btn,
.actions
button,
.inline-button,
.x-superboxselect-item,
.x-form-trigger,
.x-date-picker .x-btn,
.x-date-mp-ok,
.x-date-mp-cancel
{
    box-shadow: 0 0 0 1px #a8434e;
    -webkit-box-shadow: 0 0 0 1px #a8434e;
}

.x-combo-list-item.x-combo-selected {
    background-color:#f00;
}

.x-combo-list .x-combo-list-item.x-combo-selected {
    background-color: rgba(168, 67, 78, 0.27);
}

div#ext-gen24 {
    background-color: #f6e7f6;
}

div#ext-gen24 * {
    color: #df476e;
    text-align: center;
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    background: #8e0b19;
}

td.x-grid3-hd-over *,
td.sort-desc *,
td.sort-asc *,
td.x-grid3-hd-menu-open * {
color:#fff!important;
}

.x-grid3-hd-btn,.x-grid3-hd-btn:hover {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #cd263f;
    border: none;
}

 
.x-grid3-hd-row td
{
     border-bottom: 1px solid;
     border-color: #a8434e;
}


.x-menu-list li.x-menu-item-active {
    background: rgba(142, 11, 25, 0.42);
}

.x-menu-sep
{
    background-color: #a8434e;
}

div#office-minishop2-grid {
    min-width: 320px;
    max-width: 1100px;
    margin: 0 auto;
}

.ta-center
{
    width:100%;
    text-align:center;
}
.butt-light
{
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
    background: #fff;
    padding: 3px 10px;
    color: #e04788;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    transition: .3s;
    display: inline-block;
}
.butt-light:hover
{
    text-decoration: none;
    background: #a72b39;
    padding: 3px 10px;
    color: #fff;
    box-shadow: 0 0 1px;
    border-radius: 3px;
    transition: .3s;
}
