id: 146
name: about_us
description: ''
properties: 'a:0:{}'

-----

<div class="page about">

<h1>ПРИВЕТСТВУЕМ ВАС, ДОРОГИЕ ДРУЗЬЯ!</h1>
<img src="/assets/img/about/08.png" height="150" style="float: right; margin-left: 15px;">
<div class="float">
<p>Мы рады видеть новых клиентов и тех, которые успели лично попробовать нашу сладкую и эксклюзивную продукцию!</p>

<p>Пироженка.рф, предлагает вашему вниманию оптом и в розницу вкусные макаронс, детские и свадебные торты, капкейки в Москве. По вашему желанию любое кондитерское изделие может быть изготовлено по индивидуальному дизайну.</p>
</div>
<div class="clear"></div>
<img src="/assets/img/about/9.png" height="150" style="float: left;margin-right: 15px;">
<div class="float">
<p>Наши кондитеры пекут ароматные и вкусные сладости, которые не оставят равнодушным ни одного человека на Земле. Мы знаем секреты классических неповторимых рецептов, привносим свою изюминку, добавляем щепотку любви и получаем шедевры, попробовав которые даже самый избалованный клиент получает неописуемое наслаждение и восторг от сочетания неповторимых вкусов.</p>
</div>
<div class="clear"></div>
<img src="/assets/img/about/029.png" height="150" style="float: right; margin-left: 15px;">
<div class="float">
<p>Если у вас в ближайшее время намечается торжественное событие, не нужно долго искать кондитерскую, думать, что выбрать из сладостей, звоните сразу нам – мы подберем наилучший вариант на день рождение, на новый год или на свадьбу. Обращаем внимание, на новомодную европейскую сладость – капкейк, который уже давно в западных странах неотъемлемый атрибут всех праздничных мероприятий. Ведь это не только очень вкусно, но и удобно, красиво. Для наших маленьких клиентов мы приготовим капкейки детские.</p>
</div>
<div class="clear"></div>
<img src="/assets/img/about/030.png" height="150" style="float: left; margin-right: 15px;">
<div class="float">
<p>Что касается цен, то мы не пытаемся их удешевлять при помощи некачественных продуктов, вредных для здоровья ингредиентов. Капкейки с начинкой, детские торты, иные изделия изготовляются только из самых качественных, свежих и лучших продуктов. Вместе с тем мы часто дарим нашим клиентам приятные сюрпризы, специальные предложения и бесплатную доставку.</p>
</div>
<div class="clear"></div>
<h2>НАШИ ПРЕИМУЩЕСТВА</h2>
<ul>
<li>более 2500 довольных клиентов;</li>
<li>мы уже изготовили более 71 000 сладостей;</li>
<li>огромный выбор капкейков, макарунс, тортов, кейкпопсов;</li>
<li>выполняем индивидуальные заказы. Вы можете заказать сладости с нужной вам тематикой и мы воплотим её в жизнь;</li>
<li>мы используем только качественные и натуральные продукты;</li>
<li>большой выбор различных начинок;</li>
<li>изготовим ваш заказ в короткие сроки;</li>
<li>вся продукция сертифицирована;</li>
<li>оперативная доставка по Москве и области.</li>
</ul>

<h2>НАША ПРОДУКЦИЯ</h2>

<div class="production">
	<a href="[[~22]]">
		<img src="/assets/img/about/production/ch.jpg" alt="Детские капкейки">
		<span>Детские капкейки</span>
	</a>
	<a href="[[~1595]]">
		<img src="/assets/img/about/production/bd.jpg" alt="Капкейки на День Рождения ">
		<span>Капкейки на День Рождения </span>
	</a>
	<a href="[[~24]]">
		<img src="/assets/img/about/production/lg.jpg" alt="Капкейки с логотипом">
		<span>Капкейки с логотипом</span>
	</a>
	<a href="[[~1819]]">
		<img src="/assets/img/about/production/ft.jpg" alt="Капкейки с фото">
		<span>Капкейки с фото</span>
	</a>
	<a href="[[~13]]">
		<img src="/assets/img/about/production/tr.png" alt="Торты ">
		<span>Торты </span>
	</a>
	<a href="[[~1353]]">
		<img src="/assets/img/about/production/kk.jpg" alt="Кейкпопсы">
		<span>Кейкпопсы</span>
	</a>
	<a href="[[~1286]]">
		<img src="/assets/img/about/production/mk.jpg" alt="Макаруны">
		<span>Макаруны</span>
	</a>
	<a href="[[~26]]">
		<img src="/assets/img/about/production/fk.jpg" alt="Фруктовые капкейки">
		<span>Фруктовые капкейки</span>
	</a>
	<div class="clear"></div>
</div>                                                              

<p>И помните, что порадовать себя и своих родных очень просто, необходимо всего лишь купить ванильные капкейки или заказать торт с капкейками по телефону <a href="tel:+74993222829">+7(499) 322-28-29</a> или связаться с нами посредством функции «обратный звонок» на сайте. И в точно назначенное время, наши курьеры доставят в офис, домой (по любому указанному адресу) ароматную и свежеиспеченную выпечку, которая, несомненно, украсит новогодний (капкейки новогодние), свадебный (свадебные капкейки) стол или просто порадуют без особого случая.</p>

<h2 class="center">Приобщитесь к европейской кондитерской, не выходя из дома. </h2>
<p class="center">Остались вопросы? Позвоните нам! </p>
<p class="center call"><a href="tel:+74993222829">+7(499) 322-28-29</a></p>
<p class="center write"><a href="javascript:jivo_api.open();">Отправить сообщение</a></p>

</div>