id: 85
source: 1
name: additional_info
description: ''
properties: 'a:0:{}'

-----

 <div class="additional_info">
            <div class="delivery">
                <div class="title">Доставка</div>
                <p>Мы доставляем заказ в указанное вами время +/- час. В период высокой загруженности интервал может быть увеличен.</p>
				<p>Стоимость доставки по Москве в пределах МКАД - 400 руб.</p> 
				<p>Стоимость доставки после 18:00 может быть увеличена до 499 руб, в связи с высоким трафиком.</p> 
				<p>При заказе на сумму свыше 10 000 руб - доставка бесплатно.</p> 
				<p>Стоимость доставки за пределами МКАД - + 50 руб/км.</p> 
				<p>Минимальная стоимость заказа - 1000 руб.</p> 
            </div>

            <div class="pay">
                <div class="title">Оплата</div>
                <p>При доставке - оплата производится курьеру наличными при получении.</p> 
				<p>При самовывозе - оплата производится картой минимум за день до даты получения (после оформления заказа с вами свяжется наш менеджер и подскажет доступные способы оплаты).</p>
				<p>Также вы можете оплатить заказ заранее и мы доставим ваш подарок-сюрприз получателю. Укажите об этом в комментариях при оформлении заказа. </p>
            </div>

        </div>