id: 227
source: 1
name: agregateOffer
description: ''
properties: 'a:0:{}'

-----

<div itemscope="" itemtype="http://schema.org/Product">
<meta itemprop="name" content="[[+categoryName]]">
		<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
		  <meta itemprop="lowPrice" content="[[+min]]">
		  <meta itemprop="priceCurrency" content="RUB">
		  <meta itemprop="availability" href="http://schema.org/InStock" content="В наличии">
		</div>
		<meta itemprop="description" content="[[+categoryDescription]]">
</div>
