id: 31
name: articlesTpl
description: ''
properties: 'a:0:{}'

-----

<div class="article">
	<div class="title">
		<a href="[[~[[+id]]]]">[[+pagetitle]]</a>
	</div>
	<div class="introtext">
		<p>[[+introtext]]</p>
	</div>
	<div class="link">
		<a href="[[~[[+id]]]]">Подробнее</a>
	</div>
</div>