id: 147
source: 1
name: cachback
description: ''
properties: 'a:0:{}'

-----

<div class="page cachback">
    <h1 class="center" style="margin-top: 40px;">Хотите вернуть до 10% от стоимости вашего заказа?</h1>
        <img class="float-left" src="/assets/img/cachback/001.png">
        <div class="block-right" style="padding-bottom: 40px;    padding-bottom: 25px;
    margin-top: 65px;">
 

  <ol>
	<li>Сфотографируйте сладости из вашего заказа и пришлите нам фото.</li>
	<li>Мы вернём вам 5% от стоимости текущего заказа или </li>
	<li>Подарим купон на 10% скидку на следующий заказ</li>
  </ol>
  <p class="sm">*Для заказов на сумму свыше 15 000 рублей условия читайте <a href="[[~[[*id]]]]#over">тут</a>.</p>
  </div>
  <div class="clear"></div>
  
  <img class="float-right" src="/assets/img/cachback/002.png" style="margin-right: 100px;margin-top: -50px;">
  <div class="block-left" style="padding-bottom: 20px;margin-top: 0;margin-left: 100px;">
  <h2>Способы получения  денег:</h2>
  <ol>
	<li>Купон на 10% скидку. Купоны можно накапливать и оплачивать ими будущие покупки.</li>
	<li>Пополнение мобильного телефона.</li>
	<li>Перевод на реквизиты физ. лица.</li>
	<li>Перевод электронными деньгами Яндекс.Деньги и Webmoney.</li>
  </ol>
  
  </div>
  <div class="clear"></div>
  <img class="float-left" src="/assets/img/cachback/003.png">
  <div class="block-right" style="margin-left: 235px; float: none; padding-bottom: 20px;margin-top: 20px;">
  <h2>Как отправить фотографии?</h2>
  <ol>
	<li>на почту <a href="mailto:pirojenka.rf@gmail.com?subject=Пироженка платит!">pirojenka.rf@gmail.com</a> с пометкой “Пироженка платит!”. В письме должно быть номер заказа (или почта, которую указали при оформлении заказа), фотографии, способ получения денег. (купон, номер Яндекс.Деньги, номер телефона, банковские реквизиты)</li>
	<p style="text-align: center;">ИЛИ</p>
	
	<li>воспользовавшись формой:</li>
  <div class="upload-photo" style="text-align: center;">
      [[$cashbackStockForm1]]
  </div>	
  </ol>
  </div>
  <div class="clear"></div>
  <div class="block-left" style="margin-left: 215px;margin-top: 25px;padding-bottom: 51px; border-bottom: none;">
  <h2>Фотографии должны быть:</h2>
  
  <ul>
	<li>цветные</li>
	<li>квадратные</li>
	<li>размер не менее 400х400 пикселей</li>
	<li>резкие (сладости в фокусе, не размыты)</li>
	<li>не обрезаны (на фото виден дизайн изделия)</li>
	<li>на фото нет: людей, животных, посторонних предметов</li>
	<li>фотография должна быть яркой, без проблем с освещением.</li>
  </ul>
  </div>
  <img class="float-right" src="/assets/img/cachback/004.png" style="margin-right: 215px;">
  <div class="clear"></div>
  <div class="examples">
      <div class="false">
  <div class="title">Такие фотографии не будут приняты:</div>
  <div class="border">
  <div class="header"><img src="/assets/img/cachback/no.png"></div>
  <div class="content">
      <div class="img"><img src="/assets/img/cachback/false01.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/false02.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/false03.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/false04.jpg"></div>
  </div>
  <div class="clear"></div>
      </div>
      </div>
      <div class="true">
  <div class="title">Такие фотографии будут приняты:</div>
  <div class="border">
  <div class="header"><img src="/assets/img/cachback/yes.png"></div>
  <div class="content">
      <div class="img"><img src="/assets/img/cachback/true01.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/true02.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/true03.jpg"></div>
      <div class="img"><img src="/assets/img/cachback/true04.jpg"></div>
  </div>
  <div class="clear"></div>
      </div></div>
  </div>
  <div class="clear"></div>
  <a id="over"></a>
  <div class="block-left bottom" style="padding-bottom: 20px;margin-top: 30px; border-bottom: none;">
  <h2>Для заказов на сумму свыше 15 000 рублей:</h2>
  
  <ol>
	<li>Минимум 4 фотографии с вашего мероприятия, с нашими сладостями в кадре.</li>
	<li>Название организации, в которой проводилось мероприятие.</li>
	<li>Описание мероприятия. 2-3 предложения, с упоминанием компании “Пироженка.рф”</li>
  </ol>
  <div class="upload-photo" style="text-align: center;">
  [[$cashbackStockForm2]]
  </div>
  <div class="nice-photos">
      <div class="title" style="margin-top: 20px;">Примеры удачных фотографий:</div>
      <div>
      <img src="/assets/img/cachback/nice01.jpg">
      <img src="/assets/img/cachback/nice02.jpg">
      </div>
      <div>
      <img src="/assets/img/cachback/nice03.jpg">
      <img src="/assets/img/cachback/nice04.jpg">
      </div>
  </div>
  </div>
  <img class="float-right hidden" src="/assets/img/cachback/005.png" style="margin-top: 35px;">
  <div class="clear"></div>
  
  <div class="h1-style">Приятного аппетита!</div>
</div>