id: 150
source: 1
name: cashbackStockForm2
description: ''
category: FormCashbackStok
properties: 'a:0:{}'

-----

<div class="product shk-item" style="width: 305px; height:100px;">
  <div class="price-order">
    <div><button type="button" class="show" onclick="disp(document.getElementById('form2'))">Загрузить фото</button></div>
</button>
  </div>
[[!AjaxForm?
&snippet=`FormIt`
&hooks=`email,FormItAutoResponder`
&hooks=`email`
&form=`form2Tpl`
&emailTpl=`shopOrderReportCashbackStock2`
&fiarTpl=`shopOrderReportCashbackStock2`
&emailSubject=`Заявка на частичный возврат денег`
&fiarSubject=`Вы сделали заказ в интернет-магазине "[[++site_name]]"`
&fiarFromName=`Интернет-магазин Пироженка`
&fiarFrom=`pirozhenka.rf@gmail.com`
&submitVar=`submit_button1`
&emailTo=`[[++emailsender]]`
&submitVar=`submit_button2`
&validate=`order:required,email:email:required,payment:required`
&validate=``
&errTpl=`<br /><span class="error">[[+error]]<span>`
]]