id: 148
source: 1
name: cashbackStockForm1
description: ''
category: FormCashbackStok
properties: 'a:0:{}'

-----

<!--style="width: 305px; height:100px;"-->
<div class="product shk-item" >
	<div class="price-order">
		<div>
		    <button type="button" class="show" onclick="disp(document.getElementById('form1'))">
		        Загрузить фото
		    </button>
		</div>
	</div>
[[!AjaxForm?
&snippet=`FormIt`
&hooks=`email,FormItAutoResponder`
&hooks=`email`
&form=`form1Tpl`
&emailTpl=`shopOrderReportCashbackStock`
&fiarTpl=`shopOrderReportCashbackStock`
&emailSubject=`Заявка на частичный возврат денег`
&fiarSubject=`Вы сделали заказ в интернет-магазине "[[++site_name]]"`
&fiarFromName=`Интернет-магазин Пироженка`
&fiarFrom=`pirozhenka.rf@gmail.com`
&submitVar=`submit_button1`
&emailTo=`[[++emailsender]]`
&submitVar=`submit_button1`
&validate=`order:required,email:email:required,payment:required`
&validate=``
&errTpl=`<br /><span class="error">[[+error]]<span>`
]]
</div>