id: 32
source: 1
name: categoriesTpl
description: ''
properties: 'a:0:{}'

-----

<div class="categories no-image" style="{if $_pls['tv.category_image'] != ''}
    background: url('{$_pls['tv.category_image']}') no-repeat; background-size: cover;
    {/if} margin: 1%;">
<div class="categories-dark">
<span class="hint">{$_modx->getPlaceholder('menutitle')}</span>
<div class="link-category">
	<a href="{$_modx->makeUrl($_pls['id'])}" title="{$_modx->runSnippet('pdoField', ['id' => $_pls['id'], 'field' => 'H1'])}">Выбрать {$_modx->runSnippet('!categoryChoiseName', ['id' => $_modx->resource.id])}</a>
</div>
</div>

</div>