id: 61
name: category-menu
description: ''
properties: 'a:0:{}'

-----

<div id="title-link">
<div class="wrap">
[[pdoMenu? 
    &parents=`0`
    &resources=`1,13,1286,1353,1371,1482,2903`
    &showHidden=`1`
    &includeTVs=`H1`
    &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]" [[+attributes]] title="[[+H1]]">[[+menutitle]]</a>[[+wrapper]]</li>`
]]
</div>
</div>