id: 58
source: 1
name: checkCakePrice
description: ''
properties: 'a:0:{}'

-----

[[!If?
		&subject=`[[+tv.price]]`
		&operator=`EQ`
		&operand=`0`
		&then=`[[+tv.price_cupcake]] <span>руб. за капкейк</span>`
		&else=`[[!If?
		  &subject=`[[+tv.price_cupcake]]`
		  &operator=`EQ`
		  &operand=``
		  &then=`[[+tv.price]] <span>руб./кг</span>`
		  &else=`[[+tv.price]] <span>руб./кг за торт</span><br> + [[+tv.price_cupcake]] <span>руб. за капкейк</span>`]]`
	]]