id: 24
source: 1
name: content2
description: ''
properties: 'a:0:{}'

-----

<div id="content">
	<div class="wrap">
               <!--<h1>[[*pagetitle]]</h1>-->
		[[$shopProduct]]
		[[*content]]
	
	</div>
</div>