id: 38
source: 1
name: extra
description: 'Вывод формы в карточке товара и на странице списка товаров'
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

{var $id = $_modx->resource.id}
{var $parentIds = $_modx->getParentIds($id)}
{var $min = $_modx->resource.min}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[0], 'field' => 'min'])}
{/if}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[1], 'field' => 'min'])}
{/if}



<div id="review-order" style="display:none;">
		<form>

			<div class="form-close"></div>

			<div class="form-data">
			<div class="heading">Оставить свой отзыв</div>

			<div class="field">
				<input type="text" class="field-name" name="name" placeholder="Имя*" />
				<input type="text" class="field-phone" name="phone" placeholder="Професия" />
			</div>

			<div class="field">
				<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{ignore}{2,4}{/ignore}$" required="required" name="email" placeholder="Email*" />
			</div>

			<div class="field">
				<input type="text" name="url" placeholder="Ссылка VK.com" />
			</div>

			<div class="field">
				<textarea name="comment" placeholder="Текст отзыва*" ></textarea>
			</div>

			<div class="field">
				<p>Прикрепить фото</p>
				<input type="file" name="file"/>
			</div>

			<div class="field">
 				<button type="button" class="review-order-send">Отправить</button>
			</div>

			<p class="send-mail"><a href="mailto:pirojenka.rf@gmail.com">или отправьте отзыв нам на почту</a></p>

			</div>

		</form>
</div>


<div id="design-order" style="display:none;">
		<form enctype="multipart/form-data">

			<div class="form-close"></div>

			<div class="form-data">
			<div class="heading">Заказать индивидуальный дизайн</div>

			<div class="field">
				<input type="text" class="field-name" name="name" placeholder="Имя*" />
				<input type="text" class="field-phone phone_mask" name="phone" placeholder="Телефон*" value="7" />
			</div>

			<div class="field">
				<input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{ignore}{2,4}{/ignore}$" required="" placeholder="Email*"/>
			</div>

			<div class="field">
				<input type="number" class="field-count" name="count" placeholder="Количество" />
				<input type="text" class="field-date" name="date" placeholder="Дата и время доставки" />
			</div>

			<div class="field">
				<input type="text" class="field-address" name="address" placeholder="Адрес доставки" />
			</div>

			<div class="field">
				<textarea name="comment" placeholder="Описание заказа*"></textarea>
			</div>

			<div class="field">
				<p>Прикрепить фото</p>
				<p>Вы можете выбрать несколько файлов!</p>
				<input type="file" name="file" multiple/>
			</div>

			<div class="field">
				<input type="checkbox" name="delivery"/>
				<span class="delivery-text">Я хочу сэкономить <span class="delivery-price">[[++delivery_price]]</span> руб. и заберу самостоятельно.</span>
            </div>


			<div class="field">
 				<button type="button" class="design-order-send">Заказать</button>
			</div>

			<p class="send-mail"><a href="mailto:pirojenka.rf@gmail.com">или отправьте запрос нам на почту</a></p>

			</div>

		</form>
</div>



<div id="product-order" style="display:none;">
		<form class="product-form ms2_form" method="post">
		    <input type="hidden" name="id" value="1863">
			<div class="form-close"></div>
			<div class="form-data">
			<div class="form-data-product">
			    <div class="heading"></div>
			    <div class="field">
                    <label class="label-dough">Тесто:</label>
                    <select class="dough"></select>
                </div>
                {if $_modx->resource.template not in list [11]}
                <div class="field">
                    <label class="label-stuffing">Вкус начинки:</label>
                    <select class="stuffing"></select>
                </div>
                {/if}
                <div id="other-info"></div>
                {if ($_modx->resource.template not in list [10]) && ($_modx->resource.productType != 'cakes')}
                <div class="field">
                    <label class="label1">Количество:</label> 
                    <span class="btn-count-change btn-count-minus" data-operation="-">-</span><input type="text" data-type="number" class="field-count" name="count" {$_modx->runSnippet('cupcakefruit', ['min' => $min])} /><span class="btn-count-change btn-count-plus" data-operation="+">+</span> шт<div class="intro-price"></div>
                   
                   {if $min != ''}
                      <div class="alert_num" style="display:none;">Минимальное количество для заказа - <span id="alert_num_detail">{$min}</span></div>
                   {/if}
                </div>
                {/if}
            </div>
            <div class="motivational-phrases" style="
    display: none;
    color: #fff;
    border: 2px solid #D374A4;
    padding: 7px 10px;
    line-height: 120%;
    margin-top: 10px;
            "></div>
			<div class="field decision">
 				<button type="button" class="decision-continue" type="submit" name="ms2_action" value="cart/add">Продолжить покупки</button>
				<p>или</p>
				<button type="button" class="decision-order">Оформить заказ</button>

			<p>Нажмите "Оформить заказ" для оформления заказа или "Продолжить покупки", тогда выбранные вами сладости будут ждать вас в корзине.</p>
			</div>

			<div class="hidden-data">

			<div class="heading-2">Оформление заказа</div>

			<div class="field">
				<input type="text" class="field-name" name="name" placeholder="Имя*" />
			</div>
			<div class="field">
				<input type="text" id="mask-phone" class="field-phone phone_mask" name="phone" placeholder="Телефон*" value="7" />
			</div>

			<div class="field" data-ot="Для подтверждения, спамить не будем" data-ot-delay="0">
				<input type="email" class="field-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{ignore}{2,4}{/ignore}$" required="" name="email" placeholder="Email*"/>
			</div>

			<div class="field">
				<input type="text" class="field-date" name="date" placeholder="Дата и время доставки*"/>
			</div>


			<p style="padding: 10px 0;">Вы уже можете отправить заказ. Мы вам перезвоним и уточним все подробности. Но мы будем вам признательны, если вы предоставите нам полную информацию.</p>


			<div class="field">
				<input type="text" class="field-address" name="address" placeholder="Адрес доставки" />
			</div>

			<div class="field">
				<input type="text" class="field-comment" name="comment" placeholder="Комментарий" />
			</div>

			<div class="field">
				<input type="checkbox" name="delivery"/>
				<span class="delivery-text">Я хочу сэкономить <span class="delivery-price">[[++delivery_price]]</span> руб. и заберу самостоятельно.</span>
				<span class="delivery-text-more">Я заберу заказ самостоятельно.<br>(При заказе на сумму больше <span class="free-delivery">[[++free_delivery]]</span> руб. доставка - бесплатно).</span>

</div>


			<div class="field" style="text-align: right;">
				Стоимость заказа: <span class="order-price"></span>
			</div>

			<div class="field">
				<button type="button" class="product-order-send">Отправить заказ</button>
			</div>

			</div>

			</div>


		</form>
</div>

<div id="scrollup">
    <img src="/assets/img/up.png" alt="test">
    <span>наверх</span>
</div>