id: 225
name: extra_scripts
description: "здесь сторонние сервисы\n\nчанк подключается перед body через плагин: regToBottomPlugin"
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<script type="text/javascript">// <![CDATA[
 
    jQuery(document).ready(function($) {
        $.prototype.NewSwitcher = function(target){
            $(this).click(function(event) {
               $(target).hasClass('hidden') ? $(target).removeClass('hidden'):$(target).addClass('hidden');
            });
        };
        $('.switcher_button.sw1').NewSwitcher('.switch.sw1');
        $('.s_label label').click(function(event) {
            /* Act on the event */
            $(this).parents('.s_label').find('.active').removeClass('active')
            $(this).addClass('active');
        });
        $('.s_label label').on('mousedown', function(event) {
            event.preventDefault();
            return false;
        });
        $('.jsclick').click(function(event) {
            /* Act on the event */
             $('.s_label label[for="s2"]').click();
        });
    });

           
// ]]>
</script>




<script>
    $(document).ready(function()
    {
        if (typeof cupcakeTooltips == 'object') {
            var cupcakeOpentip = {};
            for (var i in cupcakeTooltips) {
                cupcakeOpentip[i] = new Opentip($(cupcakeTooltips[i]), { tipJoint: "bottom" });
                cupcakeOpentip[i].setContent(cupcakeTooltipsContent[i]);
            }
        }
    });
</script>

<script>
    var forEach=function(t,o,r){ if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t) };
    var hamburgers = document.querySelectorAll(".hamburger");
    var submenu = $(hamburgers).closest('.sub-menu').next();
    if (hamburgers.length > 0) {
        forEach(hamburgers, function(hamburger) {
            hamburger.addEventListener("click", function() {
                this.classList.toggle("is-active");
                submenu.toggleClass('sub-menu-hide');
            }, false);
        });
    }
</script>


<!-- Yandex.Metrika counter -->

<script type="text/javascript">
/*
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
     try {
     w.yaCounter23830114 = new Ya.Metrika({ id:23830114,
     webvisor:true,
     clickmap:true});
     } catch(e) { }
     });
    
     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    
     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    */
</script>
<!--
<noscript><div><img src="//mc.yandex.ru/watch/23830114" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
-->

<!-- /Yandex.Metrika counter -->


<!-- BEGIN JIVOSITE CODE { literal} -->
<script type='text/javascript'>
/*
(function(){ var widget_id = 'M8VeCrd48u';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();*/</script>
<!-- { /literal} END JIVOSITE CODE -->

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Roboto:300,400,latin,cyrillic', 'Open Sans:400,400italic,600,700italic,800,700,600italic,latin,cyrillic']
    }
  });
</script>