id: 127
name: faq
description: ''
properties: 'a:0:{}'

-----

<div id="faq">
<div class="page">
<h1>Часто Задаваемые Вопросы</h1>

<div class="block">
<div class="question"><span>1. Как оформить индивидуальный заказ?</span></div>
<div class="aswer"><p>Для оформления индивидуального заказа нужно воспользоваться формой "Заказать свой дизайн" на сайте или же написать нам на почту <a href="mailto:pirojenka.rf@gmail.com">pirojenka.rf@gmail.com</a>. Очень важно максимально детально описать что необходимо сделать. Так же желательно прикрепить картинки (эскизы, фото из интернета, которое вам понравилось). Чем больше вы дадите информации нам, тем больше готовый заказ будет похож на вашу задумку :)</p></div>
</div>

<div class="block">
<div class="question"><span>2. Я нашёл то что мне нужно, но надо другой логотип/фотографию, как вам её прислать?</span></div>
<div class="aswer"><p>Оформляйте заказ на нужный товар на сайте, после чего вам на почту придет автоматическое письмо с номером заказа. В ответ на него, с сохранением темы письма нужно направить ваши фото или логотип для печати.</p></div>
</div>

<div class="question"><span>3. Возможен ли самовывоз? Откуда?</span></div>
<div class="aswer"><p>У нас два пункта самовывоза. Схемы проезда есть в разделе <a href="/contacts/">контакты</a>. </p>
<p>На данный момент самостоятельно выбрать пункт самовывоза не возможно. </p>
<p>Ваш пункт самовывоза можно узнать в письме, подтверждающем ваш заказ или по телефону: <strong>(499) 322-28-29</strong>.</p></div>

<div class="question"><span>4. Возможно ли оплатить заказ предварительно, чтоб вы доставили как сюрприз?</span></div>
<div class="aswer"><p>Да, разумеется! В комментарии к заказу напишите <i>"это сюрприз, хочу оплатить заранее"</i>. Наш менеджер скинет вам инструкции по оплате заказа на электронную почту.</p></div>

<div class="question"><span>5. Какие есть упаковки?</span></div>
<div class="aswer"><p>Все доступные виды упаковки указаны в разделе <a href="/upakovki-i-podstavki/">Упаковки и подставки</a>.</p></div>

<div class="question"><span>6. Есть ли у вас подарочная упаковка?</span></div>
<div class="aswer"><p>Увы, нет. Но мы можем упаковать ваш заказ в подарочную бумагу. Для этого при оформлении заказа в комментарии нужно написать: <i>"Прошу упаковать заказ в подарочную бумагу"</i> Стоимость услуги <strong>300 рублей</strong>.</p></div>

<div class="question"><span>7. Возможно ли составить свой набор из представленных на сайте (выбрать из каждого по 1-2 штуки)?</span></div>
<div class="aswer"><p>Вы можете составить свой набор выбрав минимум по 3 штуки каждого из представленных на сайте (всех, кроме фруктово-ягодных) в обычное время.</p> 
<p>В период высокой загруженности (14 февраля, 23 февраля, 8 марта, Хэллоуин,  Новый Год) можно заказать минимум 6 штук одного артикула.</p> 
<p><strong><i>Минимальный заказ на кейкпопсы и макаруны всегда - 5 штук одного вида.</i></strong></p> 
<p><strong><i>На фруктово-ягодные капкейки минимальный заказ составляет 6 штук одного вида.</i></strong></p></div>

<div class="question"><span>8. Есть ли у вас скидки при больших заказах?</span></div>
<div class="aswer"><p>Да, есть. Скидки от 2 до 25%. Размер скидки обсуждается индивидуально и зависит от размера заказа и загруженности производства. Большие партии это:</p>
<ul>
<li>капкейки - <strong>от 200 шт;</strong></li>
<li>макаруны - <strong>от 300 шт;</strong></li>
<li>имбирные пряники - <strong>от 250 шт;</strong></li>
<li>кейкпопсы - <strong>от 200 шт;</strong></li>
<li>торты - <strong>от 15 кг.</strong></li>
</ul>
</div>

<div class="question"><span>9. Есть ли у вас доставка за МКАД?</span></div>
<div class="aswer"><p>Да, мы осуществляем доставку за пределы МКАД. Стоимость доставки составляет 400 руб + 50 руб за каждый километр. </p></div>

<div class="question"><span>10. Какой срок изготовления?</span></div>
<div class="aswer"><p>Срок изготовления зависит от выбранного вами товара, а также от периода, в который вы заказываете.</p> 
<p>В обычное время заказы принимаем минимум за <strong>1-2 дня</strong>. Заказы на торты с 3D фигурками принимаются за <strong>3-5 дней</strong>.</p> 
<p>В период высокой загруженности (14 февраля, 23 февраля, 8 марта, Хэллоуин,  Новый Год) желательно оформить ваш заказ за <strong>7-10 дней</strong>.</p> 
<p>Срочные заказы (день в день или на следующий день) принимаем если наш чудо-кондитер не в запарке. Перед оформлением такого заказа вы можете уточнить возможность его изготовления в онлайн-чате или по почте <a href="mailto:pirojenka.rf@gmail.com">pirojenka.rf@gmail.com</a>.</p></div>

<div class="question"><span>11. Какой минимальный заказ?</span></div>
<div class="aswer"><p><strong>Минимальный заказ на имбирные печенья и все капкейки, кроме фруктово-ягодных, 3 шт. </strong></p>
<p><strong>На фруктово-ягодные капкейки минимальный заказ составляет 6 штук.</strong></p> 
<p><strong>Минимальный заказ на кейкпопсы и макаруны - 5 штук одного вида</strong>.</p> 
<p>В период высокой загруженности (14 февраля, 23 февраля, 8 марта, Хэллоуин,  Новый Год) <strong>введены ограничения на капкейки и имбирные пряники - минимум 6 штук одного артикула.</strong></p></div>

<div class="question"><span>12. Можно ли указать конкретную начинку для каждого капкейка?</span></div>
<div class="aswer"><p>Вы можете выбрать определенную начинку на каждые 3 капкейка, если вы оформляете заказ за 1-2 дня до нужной даты. Если это срочный заказ или в период высокой загруженности (праздничные и предпраздничые дни), начинки можно выбрать "ассорти". В этом случае начинки будут разные, на усмотрение нашего кондитера.</p></div>

<div class="question"><span>13. Можно приехать к вам в магазин и выбрать на месте?</span></div>
<div class="aswer"><p>У нас нет магазина с готовой продукцией. Вы можете предварительно оформить заказ через сайт и забрать его в пунктах самовывоза или оформить доставку.</p></div>

</div>
</div>