id: 40
source: 1
name: feedback
description: ''
properties: 'a:0:{}'

-----

<div id="contacts-feedback">
	<div class="heading">Заказать обратный звонок</div>
       <form action="[[~607]]" method="post">

          <div class="field"><input type="text" name="name" placeholder="Имя*" id="feedback-name"></div>

		  <div class="field"><input type="text" name="phone" placeholder="Телефон*" id="feedback-phone"></div>

		  <div class="field"><textarea rows="5" name="text" placeholder="Комментарий"></textarea></div>

		  <div class="field" id="feedback-button"><button>Отправить</button></div>
		</form>

</div>