id: 3
source: 1
name: footer
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

[[-
<noindex>
    <div id="tplForHintCupcakes" style="display:none">
        {$_modx->getChunk('!hintPricesCupcakesWithUpperprice')}
    </div>
</noindex>
]]

<div id="footer">
    <div class="wrap">
        <div id="footer-menu">
                <ul>
                    <li><a href="[[~14]]" title="О нас">О нас</a></li>
                    <li><a href="[[~15]]" title="Доставка и оплата">Доставка и оплата</a></li>
                    <li><a href="[[~1241]]" title="Упаковки и подставки">Упаковки и подставки</a></li>
                    <li><a href="[[~72]]" title="Отзывы">Отзывы</a></li>
                    <li><a href="[[~16]]" title="Статьи">Статьи</a></li>
                    [[*id:is=`1`:then=`<li><a href="[[~1797]]" title="Карта сайта">Карта сайта</a></li>`]]
                    <li><a href="[[~17]]" title="Контакты">Контакты</a></li>
                </ul>
                <div class="social">
                    <div id="vk">
            	<div class="heading"><a href="https://vk.com/pirojenka_rf" target="_blank" title="Группа ВКонтакте">Группа ВКонтакте</a></div>
            	
            </div>
            <div id="instagram">
                <div class="heading"><a href="https://instagram.com/4you_cupcake/" target="_blank" title="Instagram">Instagram</a></div>
            </div> 
            <div class="clear"></div>
                </div>
                <div class="contacts" itemscope itemtype="http://schema.org/Organization">
                    <span style="display: none;" itemprop="name">Пироженка</span>
                    <div class="phone" itemprop="telephone">+7 (499) 322-28-29</div>
                    <div class="email"><a href="mailto:pirojenka.rf@gmail.com">pirojenka.rf@gmail.com</a></div>
                    <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Москва</span>, 
                        <span itemprop="streetAddress">1-я Магистральная, 22</span>
                    </div>
                </div>
                <p>2013-2016 © Магазин "Пироженка.рф" <script async type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div></p>
            </div>
            
            <div class="clear"></div>
        </div>
        [[-
        <input type="hidden" name="supplier_id" value="[[!If? 
												&subject=`[[*template]]`
												&operator=`EQ`
												&operand=`8`
												&then=`[[*provider]]`
												&else=`[[!pdoField?
														  &id=`[[*parent]]`
														  &field=`provider`
												  		]]`
												]]"/>
        <input type="hidden" name="product_category" value="[[!If? 
												&subject=`[[*template]]`
												&operator=`EQ`
												&operand=`8`
												&then=`[[*pagetitle]]`
												&else=`[[!pdoField?
														  &id=`[[*parent]]`
														  &field=`pagetitle`
												  		]]`
												]]"/>
												
		]]
    </div>
    
    
                        
    [[!officeAuthCustom?
        &groups=`Users`
        &tplLogin=`tplAuth`
    ]]
    
    [[!$fastOrderForm]]
 


[[-!checkgroup:is=`1`:then=`
<link rel="stylesheet" type="text/css" href="/assets/css/opentip.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
<link rel="stylesheet" type="text/css" href="/assets/lightbox/css/lightbox.css"  />
`:else=`


`? &groupid=`1`]]

<!--
<script src="/assets/lightbox/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/opentip-jquery.min2.js"></script>
<script src="/assets/js/jquery.cookie.min.js"></script>
<script src="/assets/lightbox/js/lightbox.min.js"></script>
<script src="/assets/js/libs/jquery.inputmask.bundle.min.js"></script>
<script src="/assets/js/libs/jquery.bind-first-0.2.3.min.js"></script>
<script src="/assets/js/libs/jquery.inputmask-multi.min.js"></script>
<script src="/cart2/jquery.pickmeup.min.js"></script>
<script src="/assets/js/libs/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/mask.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/cart2/validators.js"></script>
<script type="text/javascript" src="/assets/components/minishop2/js/web/custom.js"></script>
<script type="text/javascript" src="/assets/components/minishop2/js/web/custom.js"></script>
<script type="text/javascript" src="/assets/js/msearch2.min.js"></script>
-->

[[+pirozhenka.javascript]]


<!-- gentime [^t^] -->



{*$_modx->getPlaceholder('js_cupcake_tips')|join:""*}

<script>
    $(document).ready(function()
    {
        if (typeof cupcakeTooltips == 'object') {
            var cupcakeOpentip = {};
            for (var i in cupcakeTooltips) {
                cupcakeOpentip[i] = new Opentip($(cupcakeTooltips[i]), { tipJoint: "bottom" });
                cupcakeOpentip[i].setContent(cupcakeTooltipsContent[i]);
            }
        }
        
        /*
    var forEach=function(t,o,r){ if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t) };
    var hamburgers = document.querySelectorAll(".hamburger");
    var submenu = $(hamburgers).closest('.sub-menu').next();
    if (hamburgers.length > 0) {
        forEach(hamburgers, function(hamburger) {
            hamburger.addEventListener("click", function() {
                this.classList.toggle("is-active");
                submenu.toggleClass('sub-menu-hide');
            }, false);
        });
    }*/
    });
</script>


{ignore}
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "url" : "http://xn--80ajchmregk.xn--p1ai",
        "logo" : "http://xn--80ajchmregk.xn--p1ai/assets/img/logo.png",
        "sameAs" : [
            "https://vk.com/pirojenka_rf"
        ],
        "contactPoint" : [{
            "@type" : "ContactPoint",
            "telephone" : "+7 (499) 322-28-29",
            "contactType" : "customer service",
            "areaServed" : "RU"
            }]
    }
</script>
{/ignore}
<br>
<br>
<br>
<br>
<!--
[^qt^] – время на запросы к базе данных
[^q^] – запросов к базе данных
[^p^] – время на работу PHP скриптов
[^t^] – общее время на генерацию страницы
[^s^] – источник содержимого (база или кэш)
-->
<br>
<br>
<br>
<br>
