id: 154
source: 1
name: form1Tpl
description: ''
properties: 'a:0:{}'

-----

<form class="product-form" id="form1" style="display: none;" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">
    <input type="hidden" name="submit_button1" value="Отправить письмо"/>
    <div class="form-cash-close" onclick="disp(document.getElementById('form1'))"></div>
    <div class="form-data">
        <input type="text" name="nospam:blank" value="" style="display:none;" />
        <div class="form-data-product">
            <div id="other-info"></div>
            <div class="field"> &nbsp;</div>
            <div class="field">
                <input type="text" class="field-number" name="order" placeholder="Укажите номер вашего заказа">
                <div>[[!+fi.error.order]]</div>
            </div>
            <div class="field" data-ot="Для подтверждения, спамить не будем" data-ot-delay="0">
                <input type="email" class="field-email" name="email" placeholder="Укажите вашу почту*">
                <div>[[!+fi.error.email]]</div>
            </div>
            <div class="field">
                <select name="payment" class="field">
                    <option selected disabled>Укажите способ получения денег</option>
                    <option value="Купон на скидку" [[!+fi.payment:isSelected=`Купон на скидку`]]>Купон на скидку (10%)</option>
                    <option value="Пополнение мобильного" [[!+fi.payment:isSelected=`Пополнение мобильного`]]>Пополнение мобильного телефона (5%)</option>
                    <option value="Перевод на реквизиты" [[!+fi.payment:isSelected=`robokassa`]]>Перевод на реквизиты физ. лица (5%)</option>
                    <option value="Перевод электронными деньгами" [[!+fi.payment:isSelected=`robokassa`]]>Перевод электронными деньгами (5%)</option>
                </select>
                <div>[[!+fi.error.payment]]</div>
            </div>
            <div>
                <p>Прикрепить фото</p>
            </div>
            <div class="field">
                <input type="file" class="formfile" name="first_photo" value="[[!+fi.first_photo]]" />
            </div>
            <div class="field">
                <input type="file" class="formfile" name="second_photo" value="[[!+fi.second_photo]]" />
            </div>
            <div class="field">
                <input type="file" class="formfile"  name="third_photo" value="[[!+fi.third_photo]]" />
            </div>
            <div class="field">
                <button type="submit" name="submit_button1" class="submit_button1">Отправить</button>
            </div>
        </div>
    </div>
</form>