id: 33
source: 1
name: generateContentHome
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----


<div id="home">
[[$helloween]]
[[!If? 
	&subject=`[[!pdoField? &id=`1706` &field=`published`]]`
    &operator=`EQ`
    &operand=`1`
	&then=`<div style="height: 135px;background: rgba(0, 0, 0, 0.7);" ><div class="action_header">[[!pdoField? &id=`1706` &field=`content`]]</div></div>`
	&else=`<h1>Капкейки</h1>`
]] 

</div>

<div class="home">
[[$category-menu]]
<div id="cupcakes">
[[getResources? &parents=`12` &sortby=`menuindex` &sortdir=`ASC` &tpl=`categoriesTpl` &includeTVs=`1` &processTVs=`1` &level=`1` &limit=`100` &depth=`0` &sortdir=`ASC`]]
<div class="clear"></div>
</div>

[[$trust-us]]


<h3 class="reviews_title">Отзывы</h3>

[[$reviews? &limit=`4` &id=`[[*id]]`]]

<p style="text-transform: inherit;" class="reviews_title">Почему мы?</p>
<div class="products reasonsMove">
<div class="content">
<div class="reasons">

	<div class="clear"></div>
</div>
</div>
</div>
<div class="clear"></div>
[[*content]]

</div>


[[$reasons]]
<!-- pr-cy 2c204bb09eb38db778055187f6419104 -->