id: 68
source: 1
name: generateContentWithCategories
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<div id="home">
[[$helloween]]
[[!If? 
	&subject=`[[!pdoField? &id=`1706` &field=`published`]]`
    &operator=`EQ`
    &operand=`1`
	&then=`<div style="height: 135px;background: rgba(0, 0, 0, 0.7);" ><div class="action_header">[[!pdoField? &id=`1706` &field=`content`]]</div></div>`
	&else=`<h1>[[*pagetitle]]</h1>`
]] 

</div>
[[*content]]
[[$reasons]]