id: 53
source: 1
name: getPrice
description: ''
properties: 'a:0:{}'

-----

{if ($_modx->resource.prefix_price == 1) || ($_pls['prefix_price'] == 1)} от {/if}{*foreach $_pls as $key => $value}
 <div>{$key}: {$value}</div>
{/foreach*}
{if $_pls['productType']?}{set $productType = $_pls['productType']}{else}{set $productType = $_modx->resource.productType}{/if}
{*$_modx->resource.productType*}
{switch $productType}
    {case 'cupcake'}1
        {if $_modx->resource.alias == 'nabory'} 
            {$_pls['price']}<span>руб.</span>
        {else}
            {$_pls['price']} <span>руб./шт.</span>
        {/if}
            
    {case 'macarons'}
        {if $_modx->resource.alias == 'torty-i-piramidy'} 
            {$_pls['price']} <span>руб.</span>
        {else}
            {$_pls['price']} <span>руб./шт.</span>
        {/if}
            
    {case 'cakepops'}
        {if $_modx->resource.alias == 'cakepops'} 
            {$_pls['price']} <span>руб./шт.</span>
        {else}
            {$_pls['price']} <span>руб./шт.</span>
        {/if}
            
    {case 'imbirnoe-pechenye'}
        {$_pls['price']} <span>руб./шт.</span>
            
    {case 'candy-bar'}
        {$_pls['price']} <span>руб.</span>
            
    {case 'design-cake'}
        {$_pls['price_cakes']} <span>руб. за торт</span>
            
    {case 'bouquets'}
        {$_pls['price']} <span>руб. за букет</span><br> + <span class="price-cupcake">{$_pls['price_cupcake']}</span> <span>руб. за капкейк</span>
            
    {case 'mini-cakes'}
        {$_pls['price']} <span>руб./шт.</span>
            
    {case 'cakes'}
        {*$_modx->runSnippet('!getPriceLogic', [
            'price' => $_pls['price'],
            'priceCupcake' => $_pls['price_cupcake']
        ])*}
        
        {if $_pls['price'] != ''}
            {if $_pls['price_cupcake'] == ''}
                {$_pls['price']} <span>руб./кг</span>
            {else}
                {$_pls['price']} <span>руб./кг за торт</span><br> + <span class="price_cupcake">{$_pls['price_cupcake']}</span> <span>руб. за капкейк</span>
            {/if}
        {else}
            + <span class="price_cupcake">{$_pls['price_cupcake']} </span> <span>руб. за капкейк</span>
        {/if}
            
    {case 'box'}
        {*if $_pls['price'] == ''} 
            {$_pls['price']} <span></span>
        {else}
            {$_pls['price']} <span><br>+</span> <span class="price-cupcake">{$_pls['price_cupcake']}</span> <span>руб./шт. капкейк</span>
        {/if*}
        
        {$_pls['price']}
    
    {default}
        
{/switch}
