id: 59
source: 1
name: getPricePage
description: ''
properties: 'a:0:{}'

-----

[[!If?
	&subject=`[[!getResourceField? &id=`[[*parent]]` &field=`productType` &processTV=`1`]]`
	&operator=`EQ`
	&operand=`Капкейки`
	&then=`[[If?
		&subject=`[[*alias]]`
		&operator=`EQ`
		&operand=`sets`
		&then=`[[*price]] <span>руб.</span>`
		&else=`[[*price]] <span>руб./шт.</span>`
	]]`
]]

[[!If?
	&subject=`[[!getResourceField? &id=`[[*parent]]` &field=`productType` &processTV=`1`]]`
	&operator=`EQ`
	&operand=`Букеты`
	&then=`[[*price]] <span>руб. за букет</span><br> + <span class="price-cupcake">[[*price_cupcake]]</span> <span>руб. за каждый капкейк</span>`]]

[[!If?
	&subject=`[[!getResourceField? &id=`[[*parent]]` &field=`productType` &processTV=`1`]]`
	&operator=`EQ`
	&operand=`Мини-торты`
	&then=`[[*price]] <span>руб.</span>`]]

[[!If?
	&subject=`[[!getResourceField? &id=`[[*parent]]` &field=`productType` &processTV=`1`]]`
	&operator=`EQ`
	&operand=`Торты`
	&then=`[[!getPriceLogic? &price=`[[*price]]` &priceCupcake=`[[*price_cupcake]]`]]`]]

[[!If?
	&subject=`[[!getResourceField? &id=`[[*parent]]` &field=`productType` &processTV=`1`]]`
	&operator=`EQ`
	&operand=`Упаковки`
	&then=`[[!If?
		&subject=`[[*price_cupcake]]`
		&operator=`EQ`
		&operand=``
		&then=`[[*price]] <span></span>`
		&else=`[[*price]] <span><br>+</span> <span class="price-cupcake">[[*price_cupcake]]</span> <span>руб./шт. капкейк</span>`
	]]`
]]