id: 1
source: 1
name: head
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<head>[[!checkIp]]

[[*id:is=`3136`:then=`<meta name="robots" content="noindex, follow" />`]] 
<title>[[*title_p:ifempty=`[[*pagetitle]] - [[++site_name]]`]]</title>
<base href="[[!++site_url]]" /> 
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">[[-*meta-keywords:notempty=`<meta name="keywords" content="[[-*meta-keywords]]" />`]]
<meta name="description" content="[[*mega_description:Jevix:ifempty=`[[*description:Jevix]]`]]" />
<link rel="icon" href="http://xn--80ajchmregk.xn--p1ai/favicon.ico" type="image/x-icon">
<link rel="canonical" href="[[~[[*id]]? &scheme=`full`]]" />


[[MinifyXCustom? 
    &minifyJs=`1` 
    &minifyCss=`1` 
    &jsFilename=`pirozhenka`
    &cssFilename=`pirozhenka`
    &cssPlaceholder=`pirozhenka.css`
    &jsPlaceholder=`pirozhenka.javascript`
    &cssSources=`
        /assets/css/opentip.css
        ,/assets/lightbox/css/lightbox.css
        ,/assets/css/libs/hamburgergs/hamburgers.min.css
        ,/assets/lightbox/css/lightbox.css
        ,/cart2/tcal.css
        ,/cart2/styles.css
        ,/cart2/pickmeup.css
        ,/cart2/addon-div.css
        ,/cart2/animate.min.css
        ,/assets/components/msearch2/css/web/default.css
        ,/assets/components/minishop2/css/web/default.css
        ,/assets/components/office/css/main/default.css
        ,/assets/components/hybridauth/css/web/default.css
        ,/assets/components/adminpanel/css/lib/bootstrap.css
        ,/assets/components/adminpanel/css/default.css
        ,/assets/components/ajaxform/css/lib/jquery.jgrowl.min.css
        ,/assets/components/ajaxform/css/default.css
        ,/assets/css/common.css
    `
    &jsSources=`
        ,/assets/lightbox/js/jquery-1.11.0.min.js
        ,/assets/js/opentip-jquery.min2.js
        ,/assets/js/jquery.cookie.min.js
        ,/assets/lightbox/js/lightbox.min.js
        ,/assets/js/libs/jquery.inputmask.bundle.min.js
        ,/assets/js/libs/jquery.bind-first-0.2.3.min.js
        ,/assets/js/libs/jquery.inputmask-multi.min.js
        ,/cart2/jquery.pickmeup.min.js
        ,/assets/js/libs/jquery.smooth-scroll.min.js
        ,/assets/components/minishop2/js/web/custom.js
        ,/assets/js/msearch2.min.js
        ,/assets/js/jquery.maskedinput.js
        ,/assets/js/common.js
        ,/cart2/validators.js
        ,/assets/components/ajaxform/js/default.js
    `
]]

[[-!checkgroup:is=`1`:then=`<script src="/assets/lightbox/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/opentip-jquery.min.js"></script>
<script src="/assets/js/jquery.cookie.js"></script>
<script src="/assets/lightbox/js/lightbox.min.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/libs/jquery.inputmask.bundle.min.js"></script>
<script src="/assets/js/libs/jquery.bind-first-0.2.3.min.js"></script>
<script src="/assets/js/libs/jquery.inputmask-multi.min.js"></script>
`:else=`



`? 
&groupid=`1`]]


[[-было так:is=`
<!-- cart styles start
<link rel="stylesheet" href="/cart2/tcal.css" type="text/css" />
<link rel="stylesheet" href="/cart2/styles.css" type="text/css" />
<link rel="stylesheet" href="/cart2/addon-div.css" type="text/css" />
<link rel="stylesheet" href="/cart2/animate.min.css" type="text/css" />
cart styles end 

<link rel="stylesheet" href="/assets/css/common.css" type="text/css" />

-->
`]]
[[-<link rel="stylesheet" type="text/css" href="[[+pirozhenka.css]]" />]]

{ignore}
<style type="text/css">
[[+MinifyX.cssContent]]
</style>
{/ignore}

</head>