id: 2
source: 1
name: header
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----


<div id="loader_request"></div>
<div id="header">
    <div class="header">
        <div class="wrap">
            <div id="logo">
                <a href="/"><img src="/assets/img/logo.png" width="248" height="80" alt=""></a>
                <div class="slogan">Лучшие капкейки и тортики</div>
                <div class="small-menu"><a href="[[~14]]" title="О нас">О нас</a> <a href="[[~15]]" title="Доставка">Доставка и оплата</a> <a href="[[~2450]]" title="Часто Задаваемые Вопросы">FAQ</a> <a href="[[~17]]" title="Контакты">Контакты</a></div>
            </div>
            <div id="count">
                <div>114 682 сладостей</div>
                <span>уже порадовали<br>своих обладателей</span>
            </div>
            <div id="search">
                <div class="searchBlock">
                    {$_modx->runSnippet('mSearchForm', [
                        'pageId' => 2806,
                        'parents' => '12,13,1286,1353,1371,1482',
                        'limit' => '10',
                        'includeTVs' => 'image,archive,productType,H1',
                        'tvFilters' => $tvFilters,
                        'tvPrefix' => '',
                        'where' => '["modResource.class_key = \'msProduct\' AND IFNULL(`TVarchive`.`value`, \'0\') != 1"]',
                        'tpl' => 'tpl.mSearch2.ac.2',
                        'tplForm' => 'tpl.mSearch2.form.2',
                    ])}
                </div>
            </div>
            <div id="phone-header" itemscope itemtype="http://schema.org/LocalBusiness">
                <div><a href="tel:+74993222829" itemprop="telephone"><span>+7 (499)</span> 322-28-29</a></div>
                <div class="email"><a href="mailto:pirojenka.rf@gmail.com">pirojenka.rf@gmail.com</a></div>
                <div class="comment">Есть вопросы? Звоните!</div>
                <div class="comment" itemprop="openingHours" datetime="Mo-Su 8:00?20:00">Работаем с 8 до 20. Без выходных.</div>
                <div class="hidden" itemprop="name">Пироженка</div>
                <div class="hidden"  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">1-я Магистральная, 22</span>
                    <span itemprop="addressLocality">Москва</span>
                </div>
              
            </div>
            
            
            
                [[!ms[[*id:ne=`3136`:then=`MiniCartNew`]]]]
            
            <div id="auth">
                 [[!officeAuth?
                    &groups=`Users`
                    &tplLogin=`tplAuthLoginHead`
                    &tplLogout=`tplAuthLogoutHead`
                 ]]
            </div>
            
           
            
             
        </div>
    </div>
    <div class="auth" style="">
    </div>
</div>