id: 130
name: hintPricesCupcakesWithUpperprice
description: ''
properties: 'a:0:{}'

-----

{var $_pls['price'] = is_numeric($_pls['price']) ? $_pls['price'] : 0}

<table cellspacing='0' border='1'>
    <tr style='font-weight:bold'>
        <td>Цена за штуку:</td>
        <td>При суммарном заказе ЛЮБЫХ капкейков:</td>
    </tr>
    <tr>
        <td><span class='thisprice thisprice-1'>{$_pls['price'] + 50}</span>р.</td>
        <td>от 1 до 5 штук</td>
    </tr>
    <tr>
        <td><span class='thisprice thisprice-2'>{$_pls['price'] + 30}</span>р.</td>
        <td>от 6 до 8 штук</td>
    </tr>
    <tr>
        <td><span class='thisprice thisprice-3'>{$_pls['price'] + 20}</span>р.</td>
        <td>от 9 до 12 штук</td>
    </tr>
    <tr>
        <td><span class='thisprice thisprice-4'>{$_pls['price'] + 10}</span>р.</td>
        <td>от 13 до 23 штук</td>
    </tr>
    <tr>
        <td><span class='thisprice thisprice-5'>{$_pls['price'] + 0}</span>р.</td>
        <td>от 24 штук</td>
    </tr>
</table>