id: 5
source: 1
name: howItWorks
description: ''
properties: 'a:0:{}'

-----

<div id="how-it-works">
  <div class="wrap">
	<div class="heading">Как это работает</div>
	<div class="content">
	  <div class="item">
		<div class="n">1</div>
		<div class="text">Реши что готов работать на себя.</div>
	  </div>
	  <div class="item">
		<div class="n">2</div>
	  	<div class="text">Заполни форму, выбери один из 4-х вариантов работы.</div>
	  </div>
	  <div class="item">
		<div class="n">3</div>
	  	<div class="text">Ставим и утверждаем цель.</div>
	  </div>
	  <div class="item">
	  	<div class="n">4</div>
	  	<div class="text">Запускаем ваш бизнес.</div>
	  </div>
	  <div class="item">
	  	<div class="n">5</div>
	  	<div class="text">Безоговорочно выполняете ежедневные инструкции.</div>
	  </div>
	  <div class="item">
	  	<div class="n">6</div>
	  	<div class="text">Зарабатываете свои первые деньги.</div>
	  </div>
	  <div class="clear"></div>
	</div>
</div>

<div class="important">
    <div class="wrap">
	  	<div class="info">От первого до 7-го пункта не более 30-ти дней.</div>
	  	<div class="small">На любом этапе вы можете отказаться от обучения и забрать свои деньги.</div>
	  </div>
	</div>
  </div>
</div>