id: 9
source: 1
name: information
description: ''
properties: 'a:0:{}'

-----

<div id="information">
	<div class="wrap">
		<div class="heading">Как начать бизнес</div>
		<div class="content">

<p>Полезно ли иметь стартовый капитал, запуская собственный бизнес? Для большинства ответ на этот вопрос очевиден – да, это хорошо. Исходя из личного опыта построения своего дела, я думаю иначе, и вот почему.</p>
<p>Собственные деньги почти никогда не вкладывают в бизнес целиком. Начинающие предприниматели, те же стоматологи, которые планируют открыть свое дело и имеют для этого вполне значимую для старта сумму, например $100 000 (как правило, это деньги семьи), всегда хотят оставить часть денег «на черный день». В итоге они делают не то, что хотят или должны, а то, что могут, исходя из уже существующих ресурсов.</p>
<p>Наличие денег расслабляет или другими словами – не напрягает. Если, не имея собственных средств, начинающий предприниматель взял в аренду помещение, кредит на оборудование, подписал франчайзинговое соглашение, то деваться ему некуда. Его путь – только вперед.</p>

<p>Когда бизнес открывает предприниматель при деньгах, его принцип – меньше вложить и больше заработать. Эта схема, если вы хотите иметь по-настоящему хорошее дело, не работает. Приведу пример одной московской клиники, где на одних производственных площадях разместилась стоматологическая клиника и производство металлочерепицы и сайдинга. И клинику, и производство можно охарактеризовать как «и не то чтобы да, и не то, чтобы нет». На мой вопрос, а не лучше ли было вложить все деньги в один бизнес, например, в стоматологию, и сделать ее такой, как нужно, хозяин ответил: нет, так нельзя, бизнес должен быть диверсифицирован.</p>
<p>Не стоит гнаться за собственным помещением. Многие мелкие предприниматели – парикмахеры, стоматологи и т.д. – часто используют в качестве первого офиса принадлежащие им квартиры. Они зачастую не подходят под задачи бизнеса, и даже при значительных вложениях никогда не будут им соответствовать.</p>

<p>Полезно ли иметь стартовый капитал, запуская собственный бизнес? Для большинства ответ на этот вопрос очевиден – да, это хорошо. Исходя из личного опыта построения своего дела, я думаю иначе, и вот почему.</p>
<p>Собственные деньги почти никогда не вкладывают в бизнес целиком. Начинающие предприниматели, те же стоматологи, которые планируют открыть свое дело и имеют для этого вполне значимую для старта сумму, например $100 000 (как правило, это деньги семьи), всегда хотят оставить часть денег «на черный день». В итоге они делают не то, что хотят или должны, а то, что могут, исходя из уже существующих ресурсов.</p>
<p>Наличие денег расслабляет или другими словами – не напрягает. Если, не имея собственных средств, начинающий предприниматель взял в аренду помещение, кредит на оборудование, подписал франчайзинговое соглашение, то деваться ему некуда. Его путь – только вперед.</p>

<p>Когда бизнес открывает предприниматель при деньгах, его принцип – меньше вложить и больше заработать. Эта схема, если вы хотите иметь по-настоящему хорошее дело, не работает. Приведу пример одной московской клиники, где на одних производственных площадях разместилась стоматологическая клиника и производство металлочерепицы и сайдинга. И клинику, и производство можно охарактеризовать как «и не то чтобы да, и не то, чтобы нет». На мой вопрос, а не лучше ли было вложить все деньги в один бизнес, например, в стоматологию, и сделать ее такой, как нужно, хозяин ответил: нет, так нельзя, бизнес должен быть диверсифицирован.</p>
<p>Не стоит гнаться за собственным помещением. Многие мелкие предприниматели – парикмахеры, стоматологи и т.д. – часто используют в качестве первого офиса принадлежащие им квартиры. Они зачастую не подходят под задачи бизнеса, и даже при значительных вложениях никогда не будут им соответствовать.</p>


		</div>
	</div>
</div>