id: 11
source: 1
name: innerContent
description: ''
properties: 'a:0:{}'

-----

<div class="wrap">
<div id="breadcrumbs">[[-Breadcrumbs? &homeCrumbTitle=``]]</div>
<div id="inner-content">
<h1>[[*pagetitle]]</h1>
[[-*content]]
</div>
</div>