id: 185
source: 1
name: 'lkMenu '
description: ''
properties: 'a:0:{}'

-----

<style>
    #menu_lk_tabs_c .tabs .active {
        background: inherit !important;
        color:  #a8434e;
    }
    .menu_lk_tabs {
        max-width: 1100px;
        overflow:hidden;
        /*margin:20px auto;*/
        text-align: center;
        width: 100%;
        margin: 15px auto;
        /*position: absolute;*/
    }

    #menu_lk_tabs_c {
        overflow:hidden;
        /*padding:20px;*/}
	#menu_lk_tabs_c .tabs {
	    font-size: 18px;
	    line-height:30px;
	    list-style:none;
	    overflow:hidden;
	    height:40px
	}
	.wind.prof {
	    border-radius: 0 0 10px 10px !important;
	}
	#menu_lk_tabs_c .tabs li {
	    float:left;
	    
        border-bottom: none !important;
	    width: 50%;
	}
	#menu_lk_tabs_c .tabs a {
		    float:left;
		    /*background:#F8E0F7;*/
		    padding:0 15px;
		    text-decoration:none;
		    width: calc(100% - 32px) !important;
		    height:30px;
		    background: rgba(0,0,0,0.15);
		    color:rgba(197, 32, 54, 0.8);;
		    /*box-shadow: 0 0 5px;*/ 
		    width:auto;
		    /* #a8434e*/
		    border: solid black 1px !important;
		    
		}
	#menu_lk_tabs_c .tabs a{
            border-bottom: none !important;
	    }
	#menu_lk_tabs_c .tabs a:hover{ 
	    background:#F6CEF5;
	}
</style> 
    [[pdoMenu?
        &parents=`3137`
        &level=`1`
        &sortby=`menuindex`
        &sortdir=`ASC`
        &tpl=`@INLINE<li><a href="[[+link]]" title="[[+pagetitle]]">[[+pagetitle]]</a>[[+wrapper]]</li>`
        &tplHere=`@INLINE<li><a class="active" href="[[+link]]" title="[[+pagetitle]]">[[+pagetitle]]</a>[[+wrapper]]</li>`
        &tplOuter=`@INLINE<div class="menu_lk_tabs">
    <div id="menu_lk_tabs_c">
        <ul class="tabs">[[+wrapper]]</ul>
    </div>
</div>
<div class="clear"></div>`
    ]]