id: 13
source: 1
name: mod_contacts
description: ''
category: Shopkeeper
properties: ''
static: 1
static_file: '/core/components/shopkeeper/elements/chunks/[[++manager_language]]/mod_contacts.tpl'

-----

<table cellpadding="5">
    <tr><td>Ф.И.О.:</td><td>[[+fullname]]</td></tr>
    <tr><td>Адрес:</td><td>[[+address]]</td></tr>
    <tr><td>Адрес эл. почты:</td><td>[[+email]]</td></tr>
    <tr><td>Телефон:</td><td>[[+phone]]</td></tr>
    <tr><td>Способ доставки:</td><td>[[+shk_delivery]]</td></tr>
    <tr><td>Способ оплаты:</td><td>[[+payment]]</td></tr>
</table>