id: 216
source: 1
name: ms2.tplAuth
description: ''
category: ms2
properties: 'a:0:{}'

-----

<noindex>
<div class="upload-photo" style="text-align: center;">
<!-- Размеры формы -->
<div itemscope="" itemtype="http://schema.org/RegisterAction" class="product shk-item" style="width: 300; height: 800;position:static;">

    <style>
        .forms * {
            padding: 2px 0;
        }
    </style>
    <div id="office-auth-form" class="pos_fix switch sw1">
        <div class="h"></div>
        <div class="forms">
            
          
            <div class="s_radio cls">
                <div class="switch">
                    <input type="radio" name="switch" id="s1" checked >
                    <div class="cont">
                        <form method="post" class="form-horizontal product-form ajax_form" id="office-auth-login">
                            <div class="form-group">
                                <label for="office-auth-login-email" class="col-md-3 control-label">[[%office_auth_login_username]]</label>
                                <div class="col-md-8">
                                    <input type="text" name="username" placeholder="" class="form-control" id="office-auth-login-username" value="" />
                                    [[%office_auth_login_username_desc]]</small></p>
                                </div>

                                <label for="office-auth-login-password" class="col-md-3 control-label">[[%office_auth_login_password]]</label>
                                <div class="col-md-8">
                                    <input type="password" name="password" placeholder="" class="form-control" id="office-login-form-password" value="" />
                                    <div class="row" style="padding-top:5px;">
                                    <div class="col-sm-2" style="margin: auto; display: block; text-align: center; padding-right:3px;">
                                        <button type="submit" class="btn btn-primary">[[%office_auth_login_btn]]</button>
                                    </div>
                                    <div class="col-sm-6" style="line-height:1;font-size:12px;">
                                        [[%office_auth_login_password_desc]]
                                    </div>
                                    </div>
                                </div>

                                <input type="hidden" name="action" value="auth/formLogin" />
                                <input type="hidden" name="return" value="" />
                            </div>
                            <div class="bord">
                                <!--<label>[[%office_auth_login_ha]]</label>-->
                                <div style="text-align: center;">[[+providers]]</div>
                                <p class="help-block"><small>[[%office_auth_login_ha_desc]]</small></p>
                                [[+error:notempty=`
                                <div class="alert alert-block alert-danger alert-error">[[+error]]</div>
                                `]]
                            </div>
                        </form>
                        <div class="heading" id="passLost" style="display:none;text-align:left;margin-top:15px;">Дальнейшие инструкции отправлены в письме. <br>Проверьте свой почтовый ящик.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</noindex>
