id: 193
source: 1
name: msCart.empty
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_cart_empty.tpl

-----

<div id="table-main"><div class="msEmptyCart">В вашей корзине совсем пусто</div></div>