id: 194
source: 1
name: msCart.outer
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_cart_outer.tpl

-----

<div id="msCart">
    
    <div id="msCartOver"><div class="loadText">
        
        <div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">З</div><div id="fountainTextG_2" class="fountainTextG">а</div><div id="fountainTextG_3" class="fountainTextG">г</div><div id="fountainTextG_4" class="fountainTextG">р</div><div id="fountainTextG_5" class="fountainTextG">у</div><div id="fountainTextG_6" class="fountainTextG">з</div><div id="fountainTextG_7" class="fountainTextG">к</div><div id="fountainTextG_8" class="fountainTextG">а</div></div>
        
    </div></div>
<div id="table-main">
    <div class="table-main-info-bg"></div>
        <div id="table-info">
            <div class="cell first"><div class="fixPadding">Товар</div></div>
            <div class="cell second">Количество</div>
            <div class="cell third">Стоимость</div>
        </div>
    
    
		[[+goods]]
		
		
		
	<!--<form method="post">
		<button class="btn btn-default" type="submit" name="ms2_action" value="cart/clean" title="[[%ms2_cart_clean]]"><i class="glyphicon glyphicon-remove"></i> [[%ms2_cart_clean]]</button>
	</form>-->
	
	
	
</div>
</div>