id: 195
source: 1
name: msCart.row
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_cart_row.tpl

-----

<div class="good-block"  id="[[+key]]" data-type="[[+parent:is=`28`:then=`cupcake_nabor`:else=`[[+productType]]`]]" data-price="[[+price]]" data-oldprice="[[+old_price:formatOnlyNumb]]" data-price-berries="300" data-oldpricecupcake="[[+option.old_price_cupcake]]" data-price-cupcake="[[+option.price_cart]]">
    
    <form method="post" class="ms2_form form-inline ms2_ajax_inputs" role="form">
            <input type="hidden" name="key" value="[[+key]]" />
            <input type="hidden" name="productType" value="[[+productType]]" />
            <input type="hidden" name="options[upperprice]" value="[[+option.upperprice]]" />
            
    <div class="cell first cf">
        <div class="photo">
            <img src="[[+image]]">
        </div>
        
        
        <div class="details">
            <div class="name">
                <span class="parentTitle">[[#[[UltimateParent? &id=`[[+id]]`]].pagetitle]]:</span> <a target="_blank" href="[[~[[+id]]]]">&laquo;[[+pagetitle]]&raquo;</a>
            </div>
            
            [[+productType:is=`cupcake`:then=`
            <!-- вызов селектов start -->
            <!-- проверяем на совпадение выбранную option при добавлении в корзину с возможными -->
            <div class="options">
                <div class="select">
                    {var $selected = $_pls['option.dough']}
                    <label for="options-dough">Выбрать тесто:</label>
                    <select id="options-dough" name="options[dough]">
                        <option value="не имеет значения">не имеет значения</option>
                        {var $select = $_modx->config['common_dough'] | split : ', ' }
                        {foreach $select as $key => $value}
                            <option value="{$value}"
                            {if $selected == $value}
                            selected="selected"
                            {/if}
                            >{$value}</option>
                        {/foreach}
                    </select>
                </div>
                
                <div class="select">
                    {var $selected = $_pls['option.stuffing']}
                    <label for="another-select">Выбрать начинку:</label>
                    <select id="another-select" name="options[stuffing]">
                        <option value="не имеет значения">не имеет значения</option>
                        {var $select = $_modx->config['common_stuffing'] | split : ', ' }
                        {foreach $select as $key => $value}
                            <option value="{$value}"
                            {if $selected == $value}
                            selected="selected"
                            {/if}
                            >{$value}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <!-- вызов селектов end-->
            `]]
            
            
            [[+productType:is=`cakes`:then=`
            <div class="options">
                <div class="select">
                    {var $selected = $_pls['option.stuffing']}
                    <label for="another-select">Выбрать начинку:</label>
                    <select id="another-select" name="options[stuffing]">
                        <option value="не имеет значения">не имеет значения</option>
                        {var $select = $_modx->config['common_stuffing_tort'] | split : ', ' }
                        {foreach $select as $key => $value}
                            <option value="{$value}"
                            {if $selected == $value}
                            selected="selected"
                            {/if}
                            >{$value}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="select">
                    <label for="another-select">Добавить ягод/орехов:</label>
                    <div class="checkboxed">
                        <label>
                            <input type="checkbox" name="options[berries]" value="300" [[+option.berries:ne=``:then=`checked="checked"`]] />
                            <span class="descr">+ 300 руб/кг</span>
                        </label>
                    </div>
                </div>
            </div>
                
            `]]
            
            [[+productType:is=`cakepops`:then=`
            <div class="options">
                <div class="select">
                    {var $selected = $_pls['option.stuffing']}
                    <label for="another-select">Выбрать начинку:</label>
                    <select id="another-select" name="options[stuffing]">
                        <option value="не имеет значения">не имеет значения</option>
                        {var $select = $_modx->config['common_stuffing_keikpops'] | split : ', ' }
                        {foreach $select as $key => $value}
                            <option value="{$value}"
                            {if $selected == $value}
                            selected="selected"
                            {/if}
                            >{$value}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            `]]
            
            <div class="comment [[+productType:ne=`cupcake`:and:ne=`cakepops`:and:ne=`cakes`:then=`comment-single"`]]" >
                <input type="text" maxlength="80" name="options[comment]" value="[[+option.comment]]" placeholder="Комментарий" />
            </div>
            

            
        </div>
        
[[+productType:is=`cakes`:and:if=`[[+price_cupcake]]`:ne=``:then=`
        <div class="additional-good">
        	<div class="options">
        		<div class="details" style="width: calc(100% - 10px) !important;">
        			<div class="name">Добавить капкейки:</div>
        			<div class="options">
        				<div class="select">
                            {var $selected = $_pls['option.cupcakes_dough']}
                            <label for="options-dough">Выбрать тесто:</label>
                            <select id="options-dough" name="options[cupcakes_dough]">
                                <option value="не имеет значения">не имеет значения</option>
                                {var $select = $_modx->config['common_dough'] | split : ', ' }
                                {foreach $select as $key => $value}
                                    <option value="{$value}"
                                    {if $selected == $value}
                                    selected="selected"
                                    {/if}
                                    >{$value}</option>
                                {/foreach}
                            </select>
                        </div>
                        
        				<div class="select">
                            {var $selected = $_pls['option.cupcakes_stuffing']}
                            <label for="another-select">Выбрать начинку:</label>
                            <select id="another-select" name="options[cupcakes_stuffing]">
                                <option value="не имеет значения">не имеет значения</option>
                                {var $select = $_modx->config['common_stuffing'] | split : ', ' }
                                {foreach $select as $key => $value}
                                    <option value="{$value}"
                                    {if $selected == $value}
                                    selected="selected"
                                    {/if}
                                    >{$value}</option>
                                {/foreach}
                            </select>
                        </div>
        			</div>
        			<div class="comment productChangeQuantityBlock">
        			    <div class="metrik">Количество капкейков:</div>
        				<button class="button-small--accent productChangeQuantity productChangeQuantityMinus">-</button>
        				<input name="options[cupcakes_count]" class="quantity" type="text" value="[[+option.cupcakes_count:empty=`1`]]" data-min="1" />
        				<button class="button-small--accent productChangeQuantity productChangeQuantityPlus">+</button>
        				<div class="pricePrepare"><span class="priceAddCupcake">[[+price_cupcake]]</span> руб/<span class="productTypeDescr">шт</span></div>
        			</div>
        		</div>
        	</div>
        </div>
 `]]
            
    </div>
    <div class="cell second productChangeQuantityBlock">
        <div class="details">
            <div class="metrik">[[+productType:is=`cakes`:then=`Вес торта:`:else=`Количество товара:`]]</div>
            <button class="button-small--accent productChangeQuantity productChangeQuantityMinus">-</button>
            <input name="count" class="quantity quantityNumOnly" type="text" value="[[+count]]" data-min="[[+min]][[+min:is=``:then=`1`]]" />
            <button class="button-small--accent productChangeQuantity productChangeQuantityPlus">+</button>
            [[+productType:is=`cakes`:then=`кг`:else=`шт`]]
            <div class="pricePrepare">
                <span class="priceActual">[[+option.price_cart:ne=`0`:and:ne=``:then=`[[+option.price_cart]]`:else=`[[+price]]`]]</span> руб/<span class="productTypeDescr">[[+option.productType:is=`cakes`:then=`кг`:else=`шт`]]</span>
                [[- [[+productType:is=`cupcake`:and:if=`[[+parent]]`:ne=`28`:then=`<span class="hint__[[+key]]"><img src="/assets/img/question3.png" width="15" alt=""></span>
            <script>
                //$(document).ready(function()
                //{
            	    {var $hint = $_modx->getChunk('!hintPricesCupcakesWithUpperprice', [
            	        'price' => $_pls['price'],
            	    ])}
                    window.cupcakeTooltips = window.cupcakeTooltips || {};
                    window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
                    
            	    window.cupcakeTooltips["[[+key]]"] = '.hint_cupcake_[[+key]]';
                    window.cupcakeTooltipsContent["[[+key]]"] = "{$hint|replace:"\r":""|replace:"\n":""}";
                //});
            </script>
            `]] -]]
            
            </div>
        </div>
    </div>
    
    <button class="btn btn-default" type="submit" name="ms2_action" value="cart/change" style="display: none;"></button>
    
    </form>
    <div class="cell third">
        <div class="details">
            <div class="mobileShow">Итого цена за позицию:</div>
           [[- <div class="price price-normal" style="[[+option.old_price_cupcake:is=`[[+option.price_cart]]`:or:is=`0`:or:is=``:then=`display: none;`:else=``]]" ><span class="priceOld">[[+option.old_price_cupcake:is=`[[+option.price_cart]]`:or:is=`0`:or:is=``:then=``:else=`[[+option.old_price_cupcake:mpy=`[[+count]]`]]`]]</span> <span class="rub">руб</span></div>
           ]]
            <div class="price price-result"><span class="priceDiscount">[[+option.price_cart:mpy=`[[+count]]`:ne=`0`:then=`[[+option.price_cart:mpy=`[[+count]]`]]`:else=`[[+cost]]`]]</span> <span class="rub">руб</span></div>
            
            <form method="post" class="ms2_form deleteForm">
                <div class="mobileShow">Удалить товар:</div>
    			<input type="hidden" name="key" value="[[+key]]">
                <button class="discard-good" type="submit" name="ms2_action" value="cart/remove" title="[[%ms2_cart_remove]]">X</button>
            </form>
        </div>
    </div>
</div>


<!--minishop2_option.color [[%ms2_frontend_color]]: [[+option.color]];-->
<!--minishop2_option.size [[%ms2_frontend_size]]: [[+option.size]];-->
<!--minishop2_old_price <br/><span class="old_price">[[+old_price]] [[%ms2_frontend_currency]]</span>-->