id: 20
name: orderData
description: ''
category: 'Информация товара'
properties: 'a:0:{}'

-----


<table>

[[+loop]]
    [[+name:is=`Доставка`:then=`
    <tr>
        <td colspan="3">
            [[+s]]<b>[[+name]]</b> <!--[[+shk_delivery]]-->[[+/s]]
        </td>
        <td>[[+price_total]] [[+currency]]</td>
    </tr>
    `:else=`
    <tr>
        <td>
            [[+s]]
            <b><a href="[[+link]]">[[+name]] </a></b>
            [[+addit_data]]
            [[+/s]]
        </td>
		<td>
			[[+article]]
		</td>
        <td>
            [[+s]][[+count]] шт.[[+/s]]
        </td>
        <td>
            [[+s]][[+price]] [[+currency]][[+/s]]
        </td>
    </tr>
    `]]
[[+end_loop]]
    
    <tr>
        <td align="right" colspan="3"><b>Итого:</b></td>
        <td><b>[[+price_total]] [[+currency]]</b></td>
    </tr>
    
</table>

<br />
