id: 55
source: 1
name: pagetitle
description: ''
properties: 'a:0:{}'

-----

<div class="page-title">
<h1>[[*H1:ifempty=`[[*pagetitle]]`]]</h1>
[[!pdoCrumbs@main?
    &showHome=`[[*id:pdofield=`{"topLevel":1,"field":"id"}`:is=`12`:then=`0`:else=`1`]]`
    &exclude=`1756`
]]
</div>



