id: 124
source: 1
name: pir_order.row
description: ''
category: Письма
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_get_order_row.tpl

-----

<tr>
	<td data-type="Категория" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
	    [[!getMainParentTitle? &id=`[[+id]]`]]
	</td>
    <td data-type="Название" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+link:isnot=``:then=`<a href="[[+link]]">[[+name]]</a>`:else=`[[+name]]`]]<br>[[+original_price]]
    </td>
    <td data-type="Фото" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        <img src="[[++site_url]][[#[[+id]].image]]" alt="" width="150" />    
    </td>
    <td data-type="Артикул" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+article]]
    </td>
    <td data-type="Выбранные вкусы" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+option.dough:notempty=`Тесто: [[+option.dough]]<br/>`]]
        [[+option.stuffing:notempty=`Начинка: [[+option.stuffing]]<br/>`]]
        [[+option.cupcakes_dough:notempty=`<br/>Тесто капкейков: [[+option.cupcakes_dough]]<br/>`]]
        [[+option.cupcakes_stuffing:notempty=`Начинка капкейков: [[+option.cupcakes_stuffing]]<br/>`]]
    </td>
    <td data-type="Изменить" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+option.comment]]
    </td>
    <td data-type="Доп. инфо" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+option.info]]
    </td>
    <td data-type="Кол-во" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+count]] [[+option.productType:is=`cakes`:then=`кг`:else=`шт`]]
        [[+option.cupcakes_count:notempty=`<br/>+капкейки: [[+option.cupcakes_count]] шт.`]]
        [[+option.berries:notempty=`<br/>Добавить ягоды/орехи`]]
    </td>
    <td data-type="Цена" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+option.price_with_berries:ne=``:then=`[[+option.price_with_berries]]`:else=`
            [[+option.price_cart:ne=``:then=`[[+option.price_cart]]`:else=`[[+price]]`]]
        `]] [[%ms2_frontend_currency]]
    </td>
    <td data-type="Итого" style="text-align: center; border: 1px solid #aaa; padding: 3px;">
        [[+option.price_with_berries:ne=``:then=`
            [[+option.price_with_berries:mpy=`[[+count]]`]]
            `:else=`
                [[+option.price_cart:ne=``:then=`
                    [[+option.price_cart:mpy=`[[+count]]`]]
                `:else=`
                    [[+option.cupcakes_count:ne=``:then=`
                        [[+original_price:mpy=`[[+count]]`:add=`[[+option.cupcakes_count:mpy=`[[+option.cupcakes_price]]`]]`]]
                    `:else=`
                        [[+original_price:mpy=`[[+count]]`]]
                    `]]
                `]]
        `]]
        `[[%ms2_frontend_currency]]
    </td>
</tr>