id: 125
source: 1
name: pir_order_user.row
description: ''
category: Письма
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_get_order_row.tpl

-----

<tr>
	<td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[!getMainParentTitle? &id=`[[+id]]`]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+link:isnot=``:then=`<a href="[[+link]]">[[+name]]</a>`:else=`[[+name]]`]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+article]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+option.dough]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+option.stuffing]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+option.info]]</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[pdoField:is=`Торты`:then=`1`:else=`[[+count]]`? &id=`[[+id]]` &field=`pagetitle` &topLevel=`1`]] шт.</td>
    <td style="text-align: center; border: 1px solid #aaa; padding: 3px;">[[+price]] [[%ms2_frontend_currency]]</td>
</tr>