id: 45
name: product_bouquets
description: ''
properties: 'a:0:{}'

-----

{var $productType = $_pls['productType']}

<div class="product shk-item" style="padding: 5px 5px 80px 5px;">
	<div class="image"><img width="386" height="386" class="shk-image" src="/[[+image]]" alt="[[+pagetitle]]"  title="[[+pagetitle]] | Пироженка.рф" /></div>
	<div class="background"></div>
	<div class="info  info-list">
		<div class="name">[[+pagetitle]]</div><div class="article">арт. [[+article]]</div>
		<noindex><div class="additional">
			<input type="hidden" class="productType" name="product-type" value="cake" />
			<div>Вес: <span class="weight">[[!$getWeight]]</span>, диаметр: <span class="diameter">[[!$getDiameter]]</span>, высота: <span class="height">[[!$getHeight]]</span></div>
			<div>Тесто на выбор: <span class="dough">[[!$getDough]]</span></div>
			<div>Вкус крема: <span class="stuffing">[[!$getStuffing]]</span></div>
			<div>[[!$getInfo]]</div>
		</div></noindex>
    	<!--div class="product-price"><button type="button" class="order">Заказать</button></div-->
		<div class="product-price"><a href="[[~[[+id]]]]"  class="detail_link" title="[[+pagetitle]]">Подробнее</a></div>
	</div>
	<div class="zoom"><a href="/[[+image]]" data-lightbox="image-[[+id]]"></a></div>
	<input type="hidden" name="type" value="{$productType}" />
	<input type="hidden" name="productType" value="{$productType}" />
	<input type="hidden" name="id" value="[[+id]]" />
	<div class="price-order">
		<div class="price price-list">[[+price]] <span>руб. за букет</span><br> + <span class="price-cupcake">[[*price_cupcake]]</span> <span>руб. за каждый капкейк</span>
		</div>
		<div><button type="button" class="order">Заказать</button></div>
	</div>
</div>
