id: 21
name: product1
description: ''
category: 'Информация товара'
properties: 'a:0:{}'

-----

<div class="product shk-item">
	<div class="image"><img class="shk-image" src="/[[+tv.image]]" alt=""/></div>
	<div class="background"></div>
	<div class="info">
		<div class="name">[[+pagetitle]]</div><div class="article">арт. [[!If?&subject=`[[+tv.article]]` &operator=`empty` &then=`0` &else=`[[+tv.article]]`]]</div>
		<div class="additional">
		<div>Вес: [[!If?&subject=`[[+tv.weight]]` &operator=`empty` &then=`[[*weight]]` &else=`[[+tv.weight]]`]], 
		диаметр: [[!If?&subject=`[[+tv.diameter]]` &operator=`empty` &then=`[[*diameter]]` &else=`[[+tv.diameter]]`]]дм</div>
		<div>Тесто на выбор: <span class="dough">[[!If?&subject=`[[+tv.dough]]` &operator=`empty` &then=`[[*dough]]` &else=`[[+tv.dough]]`]]</span></div>
		<div>Вкусы начинок: <span class="stuffing">[[!If?&subject=`[[+tv.stuffing]]` &operator=`empty` &then=`[[*stuffing]]` &else=`[[+tv.stuffing]]`]]</span></div>
		[[!If? &subject=`[[*min]]` &operator=`>` &operand=`1` &then=`<div>Минимальный заказ на эту позицию - <br>[[*min]] шт.</div>` &else=``]]
		[[!If? &subject=`[[*alias]]` &operator=`EQ` &operand=`sets` &then=`<div>В набор входит 24 капкейка.</div>` &else=``]]

		</div>
		<!--<div class="order">Заказать</div>-->

      <fieldset>
        <input type="hidden" name="shk-id" value="[[+id]]" />
        <input type="hidden" name="shk-name" value="[[+pagetitle]]" />
        <input type="hidden" name="shk-count" value="1" />
		<input type="hidden" name="shk-art" value="[[+tv.article]]" />
        <div class="product-price">
          <button type="button" class="order">Заказать</button>
        </div>
      </fieldset>

	</div>
	<div class="zoom"><a href="/[[+tv.image]]" data-lightbox="image-[[+id]]"></a></div>

	[[!If?&subject=`[[+tv.price]]` &operator=`notempty` &then=`<div class="price">[[+tv.price:num_format]] <span>руб./шт.</span></div>` &else=``]]

</div>
