id: 202
name: product.new.candy-bar
description: ''
category: products
properties: 'a:0:{}'

-----

{var $productType = $_pls['productType']}
{var $getPrice = $_modx->getChunk('!getPrice', [
    'price' => $_pls['price'],
    'price_cupcake' => $_pls['price_cupcake'],
    'productType' => $productType,
])}

{var $parentIds = $_modx->getParentIds($id)}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[0], 'field' => 'min'])}
{/if}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[1], 'field' => 'min'])}
{/if}



<div itemscope itemtype="http://schema.org/Product" class="product shk-item">
    [[$product.ms2.form?min=`{$min}`&id=`[[+id]]`]]
	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/[[+image:isdefault=`assets/images/1x1.png`]]" alt="[[+pagetitle:Jevix]]" title="{$pagetitle} | Пироженка.рф"  /></div>
	<div class="background"></div>
	<div class="info info-list">
		<div class="name"><a href="{$_modx->makeUrl($id,'','','full')}" itemprop="name">{$pagetitle}</a></div>
		<div class="article">арт. [[+article:isempty=`[[+article.old]]`]]</div>
		<noindex><div class="additional" itemprop="description">
			<input type="hidden" class="productType" name="product-type" value="cake" />
			<div>{$_modx->getChunk('getInfo', ['parent' => $parent, 'info' => $info])}</div>
		</div></noindex>
		<div class="product-price"><a  href="{$_modx->makeUrl($id,'','','full')}"  class="detail_link" title="[[+pagetitle:Jevix]]">Подробнее</a></div>
	</div>
	<div class="zoom"><a href="/{$image}" data-lightbox="image-{$id}"></a></div>
	<input type="hidden" name="type" value="{$productType}" />
	<input type="hidden" name="productType" value="{$productType}" />
	<input type="hidden" name="id" value="{$id}" />
	<input type="hidden" name="min-count" value="{$min}" />
	<div class="price-order">
		<div class="price price-list">
		    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <meta itemprop="price" content="[[+phx:input=`{$_pls['price']}`:replace=` ==`]]">{$getPrice}
            <meta itemprop="priceCurrency" content="RUB"><link itemprop="availability" href="http://schema.org/InStock" /></span>
		</div>
		<div><button type="button" class="order_new">Заказать</button></div>
	</div>
</div>
