id: 201
name: product.new.cakes
description: ''
category: products
properties: 'a:0:{}'

-----

{var $productType = $_pls['productType']}
{var $getPrice = $_modx->getChunk('!getPrice', [
    'price' => $_pls['price'],
    'price_cupcake' => $_pls['price_cupcake'],
    'productType' => $productType,
])}


<div itemscope itemtype="http://schema.org/Product" class="product shk-item" style="padding: 5px 5px 80px 5px;">
    [[$product.ms2.form?min=`{$min}`&id=`[[+id]]`]]
	<div class="image"><img itemprop="image" width="386" height="386" class="shk-image no-image" src="/[[+image:isdefault=`assets/images/1x1.png`]]" alt="[[+pagetitle:Jevix]]" title="{$pagetitle} | Пироженка.рф"  /></div>
	<div class="background"></div>
	<div class="info info-list">
		<div class="name" itemprop="name">{$pagetitle}</div><div class="article">арт. [[+article:isempty=`[[+article.old]]`]]</div>
		<noindex>
		    <div class="hidden" itemprop="description">
		        {$weight_custom ? 'Вес*: '~$_modx->getChunk('!getWeight', ['parent' => $parent, 'weight_custom' => $_pls['weight_custom'], 'productType' => $productType])~'' : ''}
		    	{$diameter ? 'диаметр*: '~$_modx->getChunk('!getDiameter', ['parent' => $parent, 'diameter' => $_pls['diameter'], 'productType' => $productType])~'' : ''}
			    {$height ? 'высота: '~$_modx->getChunk('!getHeight', ['parent' => $parent, 'height' => $_pls['height'], 'productType' => $productType])~'' : ''}
			    Начинка*: {$_modx->getChunk('!getStuffing', ['parent' => $parent, 'stuffing' => $stuffing, 'productType' => $productType])}
		    </div>
		    <div class="additional" >
		    	
			<div>
			    {$weight_custom ? '<span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">'~$_modx->getChunk('!getWeight', ['parent' => $parent, 'weight_custom' => $_pls['weight_custom'], 'productType' => $productType])~'</span></span>' : ''}
			    {$diameter ? '<span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">'~$_modx->getChunk('!getDiameter', ['parent' => $parent, 'diameter' => $_pls['diameter'], 'productType' => $productType])~'</span></span>' : ''}
			    {$height ? '<span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">'~$_modx->getChunk('!getHeight', ['parent' => $parent, 'height' => $_pls['height'], 'productType' => $productType])~'</span></span>' : ''}
			</div>
			
			{$dough ? '<div>Тесто на выбор: <span class="dough">'~$_modx->getChunk('!getDough', ['parent' => $parent, 'dough' => $_pls['dough'], 'productType' => $productType])~'</span></div>' : ''}
			
			<div data-ot="Дополнительно можем добавить в крем свежие ягоды или орехи<br>(+ 300 руб./кг.)" data-ot-delay="0">Начинка*: <span class="stuffing">{$_modx->getChunk('!getStuffing', ['parent' => $parent, 'stuffing' => $stuffing, 'productType' => $productType])}</span></div>
			<div>
			    {$_modx->getChunk('!getInfo', ['parent' => $parent, 'info' => $_pls['info'], 'productType' => $productType])}
    			<input type="hidden" name="common_stuffing" value="[[++common_stuffing]]">
    			<input type="hidden" name="common_dough" value="[[++common_dough]]">
    			<input type="hidden" name="min-count" value="[[+min]]">
			</div>
		</div></noindex>
		<div class="product-price"><a itemprop="url" href="{$_modx->makeUrl($id,'','','full')}"  class="detail_link" title="[[+pagetitle:Jevix]]">Подробнее</a></div>
	</div>
	<div class="zoom"><a href="/{$image}" data-lightbox="image-{$_pls['id']}"></a></div>
	<input type="hidden" name="type" value="{$productType}" />
	<input type="hidden" name="productType" value="{$productType}" />
	<input type="hidden" name="id" value="{$id}" />
	<div class="price-order">
		<div class="price price-list">
		    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <meta itemprop="price" content="[[+phx:input=`{$_pls['price']}`:replace=` ==`]]"> <!-- {$_modx->runSnippet('Jevix', ['input' => $getPrice])} -->{$getPrice} 
            <meta itemprop="priceCurrency" content="RUB"><link itemprop="availability" href="http://schema.org/InStock" /></span>
		</div>
		<div><button type="button" class="order_new">Заказать</button></div>
	</div>
</div>