id: 57
name: product_box
description: ''
properties: 'a:0:{}'

-----

{var $productType = $_pls['productType']}
{var $getPrice = $_modx->getChunk('getPrice',['price' => $_pls['price_box']])}

<div itemscope itemtype="http://schema.org/Product" class="product shk-item">
	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/[[+image:isdefault=`assets/images/1x1.png`]]"  alt="[[+pagetitle:Jevix]]" title="[[+pagetitle]] | Пироженка.рф"  /></div>
	<div class="background"></div>
	<div class="info info-list">
		<div class="name" itemprop="name">[[+pagetitle]]</div>
	</div>
	<div class="zoom"><a href="/[[+image]]" data-lightbox="image-[[+id]]"></a></div>
	<input type="hidden" name="type" value="{$productType}" />
	<input type="hidden" name="id" value="[[+id]]" />
		<input type="hidden" name="min-count" value="[[+min]]" />
		<div class="price-order">
		<div class="price price-list">
		    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <meta itemprop="price" content="{$getPrice}">{$getPrice}
            <meta itemprop="priceCurrency" content="RUB"><link itemprop="availability" href="http://schema.org/InStock" /></span>
		</div>
	</div>
</div>
