id: 67
name: product_design-cake
description: ''
properties: 'a:0:{}'

-----

<div class="product shk-item">
	<div class="image"><img width="386" height="386" class="shk-image no-image" src="/[[+image:isdefault=`assets/images/1x1.png`]]" class="no-image" alt="[[+pagetitle]]"  title="[[+pagetitle]] | Пироженка.рф" /></div>
	<div class="background"></div>
	<div class="info info-list">
		<div class="name">[[+pagetitle]]</div><div class="article">арт. [[+article:isempty=`[[+article.old]]`]]</div>
		<noindex><div class="additional">
			<input type="hidden" class="productType" name="product-type" value="cake"/>
			<div><span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">[[!$getWeight? &weight_custom=`[[+weight_custom]]`]]</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">[[!$getDiameter]]</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">[[!$getHeight]]</span></span></div>
            <div>Тесто: <span class="dough">[[!$getDough]]</span></div>
			<div>Вкус начинки: <span class="stuffing">[[!$getStuffing]]</span></div>

			<div>[[!$getInfo]]
			<input type="hidden" name="common_stuffing" value="[[++common_stuffing]]">
			<input type="hidden" name="common_dough" value="[[++common_dough]]">
			</div>
		</div></noindex>
    	<!--div class="product-price"><button type="button" class="order">Заказать</button></div-->
		<div class="product-price"><a href="[[~[[+id]]]]"  class="detail_link" title="[[+pagetitle:Jevix]]">Подробнее</a></div>
	</div>
	<div class="zoom"><a href="/[[+image]]" data-lightbox="image-[[+id]]"></a></div>
	<!--div class="price price-list">[[!$getPrice]]</div-->
	<input type="hidden" name="type" value="cakes" />

	<input type="hidden" name="id" value="[[+id]]" />	<input type="hidden" name="additional-type" value="design-cakes" />
	<input type="hidden" name="min-count" value="[[+min]]" />
	<div class="price-order">
		<div class="price price-list">[[!$getPrice]]</div>
		<div><button type="button" class="order">Заказать</button></div>
	</div>

</div>