id: 226
source: 1
name: productsSubMenu
description: ''
properties: 'a:0:{}'

-----

    {if ($_modx->resource.id in [12,1286,1353,1371,1482,1241]) and $_modx->runSnippet('!pdoField',['id' => 1706, 'field' => 'published']) == 1}
        <div id="home">
            <div style="height: 135px;background: rgba(0, 0, 0, 0.7);" >
                <div class="action_header">
                    {$_modx->runSnippet('!pdoField',['id' => 1706, 'field' => 'content'])}
                </div>
            </div>
        </div>
    {else}
        {$_modx->getChunk('subMenu')}
    {/if}