id: 197
name: products.test.one
description: ''
category: ms2
properties: 'a:0:{}'

-----

<div itemscope="" itemtype="http://schema.org/Product" class="product shk-item" style="padding: 5px 5px 80px; width: 250px; height: 250px;">
        <form class="product-form ms2_form productOrderForm" method="post" style="display: none;">
            <input type="hidden" name="id" value="1863" />
            <div class="form-close1"></div>
            <div class="form-data">
                <div class="form-data-product">
                    <div class="heading" style="text-align: center;
                        text-decoration: inherit;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 24px;
                        color: #df476e;">Оттенки любви</div>
                    <div class="article" style="text-align: center;">арт. 02ТСК</div>
                    <div class="field" style="display: none;">
                        <label class="label-dough">Тесто торта:</label>
                        <select class="dough"><option value="не имеет значения">не имеет значения</option></select>
                    </div>
                    <div class="field">
                        <label class="label-stuffing">Начинка:</label>
                        <select class="stuffing"><option value="не имеет значения">не имеет значения</option><option value="
            клубничный торт">
                            клубничный торт</option><option value=" шоколадно-апельсиновый торт"> шоколадно-апельсиновый торт</option><option value=" морковный торт"> морковный торт</option><option value=" красный вельвет"> красный вельвет</option><option value=" манго-лайм"> манго-лайм</option><option value=" торт-суфле малина-манго"> торт-суфле малина-манго</option><option value=" торт-суфле черника-лимон"> торт-суфле черника-лимон</option><option value=" сникерс"> сникерс</option><option value=" медовик"> медовик</option><option value=" прага"> прага</option><option value=" вишневый блонди с белым шоколадом"> вишневый блонди с белым шоколадом</option><option value=" фисташково-малиновый торт    "> фисташково-малиновый торт    </option></select>
                    </div><div class="field"><label class="label1">Вес торта:</label> <span class="btn-count-change btn-count-minus" data-operation="-">-</span><input type="text" data-type="number" class="field-weight" name="count" value="1" min="1" onblur="return proverka(this,1);" onchange="return proverka(this,1);"><span class="btn-count-change btn-count-plus" data-operation="+">+</span> кг<div class="intro-price">x 2500 = 2500 руб.</div><div class="alert_num" style="display:none;">Минимальное количество для заказа - <span id="alert_num_detail">1</span></div></div>
                    <div id="other-info"><br><div class="field"><label class="label1">Количество капкейков:</label> <span class="btn-count-change btn-count-minus" data-operation="-">-</span><input type="text" data-type="number" value="1" min="1" class="field-count-cupcake"><span class="btn-count-change btn-count-plus" data-operation="+">+</span> шт.</div><div class="field"><label class="label1">Тесто капкейков:</label><select class="cupcake-dough"><option>не имеет значения</option><option>ванильное</option><option> шоколадное</option><option> клубничное</option></select></div><div class="field"><label class="label1">Начинка капкейков:</label><select class="cupcake-stuffing"><option>не имеет значения</option><option>шоколад</option><option> ваниль</option><option> карамель</option><option> яблоко-корица</option><option> клубника</option><option> банан</option><option> ассорти</option><option>ассорти</option></select></div><br></div>
                </div>
                <div class="motivational-phrases" style="display: none; color: #fff; border: 2px solid #D374A4; padding: 7px 10px; line-height: 120%; margin-top: 10px;"></div>
                <div class="field decision">
                    <button type="button" class="">Продолжить покупки</button>
                    <p>или</p>
                    <button type="button" class="">Оформить заказ</button>

                    <p>Нажмите "Оформить заказ" для оформления заказа или "Продолжить покупки", тогда выбранные вами сладости будут ждать вас в корзине.</p>
                </div>

            </div>


        </form>
    <div class="image"><img itemprop="image" width="386" height="386" class="shk-image no-image" src="/image/roskoshnaya-svadba.png" alt="Роскошная свадьба" title="Роскошная свадьба | Пироженка.рф"></div>
    <div class="background"></div>
    <div class="info info-list">
        <div class="name" itemprop="name">Роскошная свадьба</div><div class="article">арт. 01ТСК</div>
        <noindex><div class="additional">
            <div>
			    <span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*:
                    <span class="weight">
                        1,5 кг
                    </span>
                </span>
                <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*:
                    <span class="diameter">
                        18 см
                    </span>
                </span>
                <span class ="hint" data-ot="При стандартном весе" data-ot-delay="0">высота:
                    <span class="height">
                        12 см
                    </span>
                </span>
            </div>
            <div data-ot="Дополнительно можем добавить в крем свежие ягоды или орехи<br>(+ 300 руб./кг.)" data-ot-delay="0">Начинка*:
                <span class="stuffing">
                    клубничный торт, шоколадно-апельсиновый торт, морковный торт, красный вельвет, манго-лайм, торт-суфле малина-манго, торт-суфле черника-лимон, сникерс, медовик, прага, вишневый блонди с белым шоколадом, фисташково-малиновый торт    </span></div>
            <div>
                <input type="hidden" name="common_stuffing" value="шоколад, ваниль, карамель, яблоко-корица, клубника, банан, ассорти">
                <input type="hidden" name="common_dough" value="ванильное, шоколадное, клубничное">
                <input type="hidden" name="min-count" value="1">
            </div>
        </div></noindex>
        <div class="product-price">
            <a href="tort-roskoshnaya-svadba/" class="detail_link" title="Роскошная свадьба">
                Подробнее
            </a>
        </div>
    </div>
    <div class="zoom">
        <a href="/image/roskoshnaya-svadba.png" data-lightbox="image-2393"></a>
    </div>
    <input type="hidden" name="type" value="cakes">
    <input type="hidden" name="productType" value="cakes">
    <input type="hidden" name="id" value="2393">
    <div class="price-order">
        <div class="price price-list">
		    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <meta itemprop="price" content="<br><br>2 200 руб./кг за торт<br> + 180 руб. за капкейк<br><br>">
                    2 200
                    <span>
                        руб./кг за торт
                    </span>
                <br> + <span class="price_cupcake">180</span> <span>руб. за капкейк</span>
                <meta itemprop="priceCurrency" content="RUB">
                <link itemprop="availability" href="http://schema.org/InStock">
            </span>
        </div>
        <div>
            <button type="button" class="order_new">Заказать</button>
        </div>
    </div>
</div>