id: 203
name: product.new.cupcake
description: ''
category: products
properties: 'a:0:{}'

-----

{var $productType = $_pls['productType']}
{var $getPrice = $_modx->getChunk('!getPrice', [
    'price' => $_pls['price'],
    'price_cupcake' => $_pls['price_cupcake'],
    'productType' => $_pls['productType'],
])}
{var $isSets = ('28' in $_modx->getParentIds($id)) ? '1' : '0'}

{var $parentIds = $_modx->getParentIds($id)}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[0], 'field' => 'min'])}
{/if}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {var $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[1], 'field' => 'min'])}
{/if}

<div itemscope="" itemtype="http://schema.org/Product" class="product shk-item" style="padding: 5px 5px 80px; width: 250px; height: 250px;">
    [[$product.ms2.form?min=`{$min}`&id=`[[+id]]`]]
    <div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/{if $_pls['image'] == ''}assets/images/1x1.png{else}{$_pls['image']}{/if}" alt="[[+pagetitle:Jevix]]" title="[[+pagetitle]] | Пироженка.рф"  /></div>
    <div class="background"></div>
    <div class="info info-list">
        <div class="name">
			<a href="{$_modx->makeUrl($id,'','','full')}" itemprop="name" title="[[+pagetitle:Jevix]]">{$_pls['pagetitle']}</a>
		</div>
		<div class="article">арт. [[+article:isempty=`[[+article.old]]`]]</div>
        <noindex><div class="additional"  itemprop="description">
		    <div>Вес: <span class="weight">{$_modx->getChunk('!getWeight', ['parent' => $parent, 'weight_custom' => $weight_custom, 'productType' => $productType])}</span>, диаметр: <span class="diameter">{$_modx->getChunk('!getDiameter', ['parent' => $parent, 'diameter' => $_pls['diameter'] ,'productType' => $productType])}</span>, высота: <span class="height">{$_modx->getChunk('!getHeight', ['parent' => $parent, 'height' => $_pls['height'],'productType' => $productType])}</span></div>
		    <div>Тесто на выбор: <span class="dough">{$_modx->getChunk('!getDough', ['parent' => $parent, 'dough' => $_pls['dough'],'productType' => $productType ])}</span></div>
		    <div>Вкусы начинок: <span class="stuffing">{$_modx->getChunk('!getStuffing', ['parent' => $parent, 'stuffing' => $_pls['stuffing'],'productType' => $productType ])}</span></div>
		    <div>{$_modx->getChunk('!getInfo', ['parent' => $parent, 'info' => $_pls['info']])}</div>
		</div></noindex>
        <div class="product-price">
			<a href="{$_modx->makeUrl($id)}"  class="detail_link" title="[[+pagetitle:Jevix]]">Подробнее</a>
		</div>
    </div>
    <div class="zoom">
		<a href="/{$_pls['image']}" data-lightbox="image-{$id}"></a>
	</div>
    <div class="price-order">
		<div class="price price-list">
			<span itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <meta itemprop="price" content="[[+phx:input=`{$_pls['price']}`:replace=` ==`]]">
			{if 0} {$isSets ? '' : 'от '}{/if}{$getPrice}
			{if 0 && !$isSets?}
			    <span class="hint_cupcake_{$id}"><img src="/assets/img/question3.png" width="15" alt=""></span>
			{/if}
            <meta itemprop="priceCurrency" content="RUB"><link itemprop="availability" href="http://schema.org/InStock" /></span>
		</div>
		<div><button type="button" class="order_new">Заказать</button></div>
	</div>
</div>


{if !$isSets?}
    <script>
        //$(document).ready(function()
        //{
    	    {var $hint = $_modx->getChunk('!hintPricesCupcakesWithUpperprice', [
    	        'price' => $_pls['price'],
    	    ])}
            window.cupcakeTooltips = window.cupcakeTooltips || {};
            window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
    	    window.cupcakeTooltips[{$id}] = '.hint_cupcake_{$id}';
            window.cupcakeTooltipsContent[{$id}] = "{$hint|replace:"\r":""|replace:"\n":""}";
        //});
    </script>
{/if}