id: 209
name: product.ms2.form
description: ''
category: products
properties: 'a:0:{}'

-----

<form action="" class="product-form ms2_form productOrderForm" method="post" style="display: none;" data-price="[[+price]]"><noindex>
    
    
    <input type="hidden" name="id" value="[[+id]]" />
    <input type="hidden" name="options[productType]" value="[[+parent:is=`28`:then=`cupcake_nabor`:else=`[[+productType]]`]]">
    [[+productType:is=`cakes`:then=`
    <input type="hidden" name="options[cupcakes_price]" value="[[+price_cupcake]]" />
    `]]
    <div class="form-close1"></div>
    <div class="form-data">
        <div class="form-data-product">
            <div class="heading" style="text-align: center; text-decoration: inherit; font-weight: 300; font-size: 24px; color: #df476e; line-height: 24px;">[[+pagetitle]]</div>
            <div class="article" style="text-align: center;">
                арт. [[+article:isempty=`[[+article.old]]`]]
            </div>
            
            [[+productType:is=`cakepops`:then=`
            <div class="field">
                <label class="label-stuffing">Вкус начинки:</label>
                <select class="stuffing" name="options[stuffing]">
                    <option value="не имеет значения">не имеет значения</option>
                    {var $select = $_modx->config['common_stuffing_keikpops'] | split : ', ' }
                    {foreach $select as $key => $value}
                            <option value="{$value}">{$value}</option>
                        {/foreach}
                </select>
            </div>
            `]]
            
            [[+productType:is=`cakes`:then=`
            <div class="field">
                <label class="label-stuffing">Начинка:</label>
                <select class="stuffing" name="options[stuffing]">
                    <option value="не имеет значения">не имеет значения</option>
                    {var $select = $_modx->config['common_stuffing_tort'] | split : ', ' }
                    {foreach $select as $key => $value}
                            <option value="{$value}">{$value}</option>
                        {/foreach}
                </select>
            </div>
            
            
            `]]
            
            [[+productType:is=`cupcake`:then=`
            <div class="field">
                <label class="label-dough">Тесто:</label>
                <select class="dough" name="options[dough]">
                    <option value="не имеет значения">не имеет значения</option>
                    {var $select = $_modx->config['common_dough'] | split : ', ' }
                    {foreach $select as $key => $value}
                        <option value="{$value}">{$value}</option>
                    {/foreach}
                </select>
            </div>
            <div class="field">
                <label class="label-stuffing">Начинка:</label>
                <select class="stuffing" name="options[stuffing]">
                    <option value="не имеет значения">не имеет значения</option>
                    {var $select = $_modx->config['common_stuffing'] | split : ', ' }
                    {foreach $select as $key => $value}
                            <option value="{$value}">{$value}</option>
                        {/foreach}
                </select>
            </div>
            `]]
            <div class="field productChangeQuantityBlock">
                <label class="label1">[[+productType:is=`cakes`:then=`Вес торта`:else=`Количество`]]:</label> <span class="btn-count-change btn-count-minus productChangeQuantity" data-operation="-">-</span><input type="text" data-type="number" class="field-weight quantityNumOnly" name="count" value="[[+min]][[+min:is=``:then=`1`]]" data-min="[[+min]][[+min:is=``:then=`1`]]" ><span class="btn-count-change btn-count-plus productChangeQuantity" data-operation="+">+</span> <span class="productTypeDescr">[[+productType:is=`cakes`:then=`кг`:else=`шт`]].</span>
                <div class="intro-price-new">x <span class="newPriceCount">[[+price]]</span> = <span class="newPriceCountSum">[[+price:mpy=`[[+min]][[+min:is=``:then=`1`]]`]]</span> руб.</div>
                <div class="alert_num" style="display:none;">Минимальное количество для заказа - <span id="alert_num_detail">1</span>
                </div>
            </div>
            
            [[+productType:is=`cakes`:then=`
            <div class="field">
                <label><input type="checkbox" name="options[berries]" value="300" /> Добавить ягод/орехов (+ 300 руб/кг)</label>
            </div>
            `]]
            
            
            
            [[+price_cupcake:notempty=`
            <div id="other-info"><br>
            	<div class="field productChangeQuantityBlock">
            		<label class="label1">Количество капкейков:</label>
            		<span class="btn-count-change btn-count-minus productChangeQuantity" data-operation="-">-</span><input name="options[cupcakes_count]" type="text" data-type="number" value="1" data-min="1" min="1" class="field-count-cupcake"><span class="btn-count-change btn-count-plus productChangeQuantity" data-operation="+">+</span> шт.
            	</div>
            	
            	<div class="field">
            		<label class="label1">Тесто капкейков:</label>
            		<select name="options[cupcakes_dough]" class="cupcake-dough">
            			<option>не имеет значения</option>
            			{var $select = $_modx->config['common_dough'] | split : ', ' }
                        {foreach $select as $key => $value}
                        	<option value="{$value}">{$value}</option>
                        {/foreach}
            		</select>
            	</div>
            	
            	<div class="field">
            		<label class="label1">Начинка капкейков:</label>
            			<select name="options[cupcakes_stuffing]" class="cupcake-stuffing">
            				<option>не имеет значения</option>
            				{var $select = $_modx->config['common_stuffing'] | split : ', ' }
                            {foreach $select as $key => $value}
                            	<option value="{$value}">{$value}</option>
                            {/foreach}
            			</select>
            	</div>
            	<br>
            </div>
            `]]
            
            
        </div>
        <br/>
        <div class="motivational-phrases" style="display: none; color: #fff; border: 2px solid #D374A4; padding: 7px 10px; line-height: 120%; margin-top: 10px;"></div>
        <div class="field decision">
            <button type="submit" name="ms2_action" value="cart/add">Продолжить покупки</button>
            <p>или</p>
            <button data-loc="[[~3136?scheme=`full`]]" class="oformit" type="button">Оформить заказ</button>

            <p>Нажмите "Оформить заказ" для оформления заказа или "Продолжить покупки", тогда выбранные вами сладости будут ждать вас в корзине.</p>
        </div>

    </div>

</noindex></form>