id: 222
source: 1
name: products.new.backup
description: ''
category: products
properties: 'a:0:{}'

-----

<a name="products"></a>
<div class="products">
    {$_pls['isSearch'] ? '' : $_modx->runSnippet('pdoMenu', [
        'parents' => $_modx->resource.id,
        'level' => 1,
        'templates' => '8',
        'includeTVs' => 'H1',
        'sortby' => 'menuindex',
        'sortdir' => 'ASC',
        'tpl' => 'subcategory-menu'
        'tplOuter' => 'subcategory-menu-outer'
    ])}
    <div class="content">
        {set $tpl = 'product.new.' ~ $_modx->resource.productType}
        {set $tvFilters = ''}
        {if $.get.code != ''}{set $tvFilters = $.get.code}{/if}
        
        {$_modx->runSnippet('!mFilter2_edited', [
            'loadModels' => 'minishop2',
            'class' => 'msProduct',
            'element' => 'msProducts',
            'paginator' => 'pdoPage@pagination',
            
            'parents' => $_pls['isSearch'] ? '12,13,1286,1353,1371,1482' : $_modx->resource.id,
            'depth' => $_pls['isSearch'] ? 10 : 3,
            'limit' => 12,
            'showLog' => 0,
            'forceSearch' => $_pls['isSearch'] ? true : false,
            'includeTVs' => 'prefix_price,info,article.old,image,price_cupcake,archive,category_image,weight_custom,height,diameter,min,stuffing,dough,productType,price_box',
            'tvFilters' => $tvFilters,
            'tvPrefix' => '',
            'tplOuter' => 'tpl.mFilter2.outer.2',
            'tpl' => $_pls['isSearch'] ? 'product.new.box' : $tpl,
        	'sort' => 'ms|article:asc',
        	
        	'tplOperator' => '==',
        	'tplCondition' => 'productType',
        	'conditionalTpls' => '{
        	    "bouquets": "product.new.bouquets",
        	    "box": "product.new.box",
        	    "cakepops": "product.new.cakepops",
        	    "cakes": "product.new.cakes",
        	    "candy-bar": "product.new.candy-bar",
        	    "cupcake": "product.new.cupcake",
        	    "design-cakes": "product.new.design-cakes",
        	    "imbirnoe-pechenye": "product.new.imbirnoe-pechenye",
        	    "macarons": "product.new.macarons",
        	    "mini-cakes": "product.new.mini-cakes"
        	}',
        	
            'select' => '{ "msOrderProduct": "(SELECT COUNT(orders.id) FROM business_ms2_order_products as orders WHERE orders.product_id = msProduct.id) as orders" }',
            'where' => '["IFNULL(`TVarchive`.`value`, \'0\') != 1"]',
        ])}
        {*
            'tplCondition' => 'template',
            'conditionalTpls' => '{ "8":"categoriesTpl" }',
        *}
        
    </div>
    <div class="clear"></div>
    {$_pls['isSearch'] ? '&nbsp;<div class="clear"></div>' : ''}
</div>