id: 28
name: reasonsTpl
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<div style="background: url([[+tv.background]]) no-repeat; background-size: 250px !important;" class="reason [[+alias]]">
    <div class="info-reason" style="/*display: none;*/">
        <div class="reason-title">
    		<p>[[+tv.title]]</p>
    	</div>
    	<div class="reason-text">
    		<p>[[+tv.text]]</p>
    	</div>
    </div>
</div>