id: 25
source: 1
name: reasons
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<div style="display: none;">
    <div class="reasons reasonsMove">
    	[[pdoResources? &parents=`78` &tpl=`reasonsTpl` &includeTVs=`text,title,background` &processTVs=`1`]]
    	<div class="clear"></div>
    </div>
</div>