id: 117
source: 1
name: relevant_goods
description: ''
properties: 'a:0:{}'

-----

            <div class="see_also" width="40%">
                <p>Похожие товары</p>
                {$_modx->runSnippet('pdoResources', [
                'parents' => $_modx->resource.parent,
                'depth' => 0,
                'limit' => 11,
                'tpl' => 'see_alsoTPL',
                'includeTVs' => 'image, archive, article, H1',
                'sortbyTV' => 'RAND()',
                'tplFilters' => 'archive!=1'
                ])}
                <!--<div class="row">{*$_modx->runSnippet('!RecentlyViewed')*}</div>-->
            </div>