id: 8
source: 1
name: reviews
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

{* Включать отзывы, присвоенные к родительским категориям *}
{var $withParents = false}

{var $id = (0|resource:'id')}
{var $cats = [12,13,1286,1353,1371,1482,2818]}
{var $limit = $_modx->getPlaceholder('limit') ?: 0}

{var $tmp = $parents = [$id != 1 ? $id : 12]}
{var $tmp_parents = $_modx->getParentIds($id)}
{foreach $tmp_parents as $pid}
    {if $pid?}
        {var $tmp[] = $pid}
    {/if}
{/foreach}
{var $tmp_parents = $tmp}
{if $withParents}
    {var $parents = $tmp}
{/if}

{var $find = false}
{foreach $cats as $cat}
    {if $cat in list $tmp_parents}
        {var $find = true}
        {break}
    {/if}
{/foreach}

{var $where = [
    'parents' => '72',
    'limit' => $limit,
    'sortby' => 'menuindex',
    'includeContent' => true,
    'includeTVs' => 'image,proffesion,information,vk,cat',
    'tpl' => 'reviewsTpl',
]}
{if $find}
    {var $where['where'] = [
        'TVcat.value:IN' => $parents,
    ]}
{/if}

{var $reviews = $_modx->runSnippet('pdoResources', $where)}

<div id="reviews">
    {$reviews ?: '<div style="text-align:center">Подходящих отзывов не найдено</div>'}
    <div class="clear"></div>
</div>