id: 22
source: 1
name: reviewsTpl
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<div class="review">
	<div class="hover">
		<div class="about">
			<p style="margin: 0; padding: 0;">[[+pagetitle]]</p>
			<p style="margin: 0; padding: 0;">[[+tv.proffesion]]</p>
			<p style="margin: 0; padding: 0;">[[+tv.information]]</p>
			<!--
			[[!If?&subject=`[[+tv.vk]]` &operator=`notempty` 
			&then=`<div class="vklink"><a href="[[+tv.vk]]" target="_blank"><img src="/assets/img/vk4.png" width="50" height="50" title="[[+pagetitle]]"></a></div>` 
			&else=``]]
			-->
		</div>
		<div class="photo">
			[[!If?&subject=`[[+tv.img]]` &operator=`empty` 
			&then=`<img width="143" height="145" src="/assets/img/reviews/none.png" alt="Нету аватарки">` 
			&else=`<img width="143" height="145" src="[[+tv.img]]" alt="[[+pagetitle]]">`]]
		</div>

		<div class="clear"></div>
		<div class="button" style="padding-top: 10px;">
			<a href="#">Оставить свой отзыв</a>
		</div>
		<div class="more">
			[[-!If? &subject=`[[*id]]` &operator=`EQ` &operand=`1` &then=`<a href="[[~72]]">ещё отзывы</a>` &else=``]]
		</div>
	</div>

	<div class="information">
		<div class="title">[[+pagetitle]]</div>
		<div class="recall">[[+content]]</div>
	</div>
</div>	