id: 145
name: searchNotFound
description: ''
properties: 'a:0:{}'

-----

{var $query = $.get.query ?: ''}
{if $query|length < 3}
    {var $query = ''}
{/if}

<div style="text-align: center;">
    <p style="font-size: 230%; line-height:120%;">{$query ? 'По запросу «'~$query~'» ничего не найдено.' : 'Слишком короткий поисковый запрос.'}</p>
    <p style="font-size: 150%; line-height:120%;">{$query ? 'Попробуйте сократить запрос или задать его по-другому.' : 'Попробуйте уточнить запрос или задать его по-другому.'}</p>
    
    <p style="margin-top: 50px; font-size: 150%; line-height:120%;">Также вы можете:</p>
    
    <p>
        <span class="mobile-block">
            <a href="javascript:jivo_api.open();" class="button1">Спросить у консультанта</a>
        </span>
        <span class="mobile-block">
            &nbsp; или &nbsp;
        </span>
        <span class="mobile-block">
            <a href="javascript:;" class="button1 own-design-link">Заказать свой дизайн</a>
        </span>
        <div style="position: relative; width: 200px; margin: 0 auto;">
            <div class="product reason menu-reason" style="position: absolute; left: -45px; top:-100px;"></div>
        </div>
    </p>
    
    <p style="margin-top: 50px; font-size: 150%; line-height:120%;">Или выберите нужный товар в нашем каталоге:</p>
    
    {*$_modx->getChunk('category-menu')*}
    
    <div class="search_empty_cats">
        <div>
            <span class="pad-block"><a href="[[~12]]">
                <img src="/assets/img/search/5.png"><span>Капкейки</span>
            </a></span>
            <span class="pad-block"><a href="[[~13]]">
                <img src="/assets/img/search/6.png"><span>Торты</span>
            </a></span>
            <span class="pad-block"><a href="[[~1286]]">
                <img src="/assets/img/search/4.png"><span>Макаруны</span>
            </a></span>
        </div>
        <div>
            <span class="pad-block"><a href="[[~1353]]">
                <img src="/assets/img/search/3.png"><span>Кейкпопсы</span>
            </a></span>
            <span class="pad-block"><a href="[[~1371]]">
                <img src="/assets/img/search/1.png"><span style="">Имбирное<br>печенье</span>
            </a></span>
            <span class="pad-block"><a href="[[~1482]]">
                <img src="/assets/img/search/2.png"><span>Сладкий стол</span>
            </a></span>
        </div>
    </div>
</div>