id: 41
name: sentEmailTpl
description: ''
properties: ''

-----

[[+contact_name]] left you the message below on the Learn MODx Revolution website: <br />
<strong>[[+contact_message]]</strong><br />
You can respond to [[+contact_name]] by email at <a href="mailto:[[+contact_email]]">[[+contact_email]]</a> or by phone at [[+contact_phone_NA_format]] (ext[[+contact_ext_NA_format]]
