id: 86
source: 1
name: seo_code
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

[[!*id:eq=`606`:then=`<script>
dataLayer = [ [[!msOrderJSONInfo]] ] </script>`]]
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WJHCHT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({ 'gtm.start':
new Date().getTime(),event:'gtm.js' });var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
})(window,document,'script','dataLayer','GTM-WJHCHT');</script>
<!-- End Google Tag Manager -->
