id: 69
source: 1
name: shopProduct-cupcake
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page" style="background-color: #fff;">
    <div id="page-product">
        <div class="product shk-item">
            <div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/{$_modx->resource.image}" title="{$_modx->resource.pagetitle} | Пироженка.рф" alt="{$_modx->resource.pagetitle}" /></div>
            <div class="background"></div>
            <div class="info">
                <div class="name" itemprop="name">{$_modx->resource.pagetitle}</div>
                <div class="article"><a rel="nofollow" href="{$_modx->makeUrl($_modx->resource.id)}">арт. {$_modx->resource.article}</a></div>
                <div class="additional">
                    <input type="hidden" class="productType" name="product-type" value="cake" />
                    <div>Вес: <span class="weight">{$_modx->getChunk('getWeight')}</span>, диаметр: <span class="diameter">{$_modx->getChunk('!getDiameter')}</span>, высота: <span class="height">{$_modx->getChunk('!getHeight')}</span></div>
                    <div>Тесто на выбор: <span class="dough">{$_modx->getChunk('getDough')}</span></div>
                    <div>Вкусы начинок: <span class="stuffing">{$_modx->getChunk('getStuffing')}</span></div>
                </div>
                <div class="product-price">
                    <button type="button" class="order" style="margin-left:20px">Заказать</button>
                </div>
                
                <input type="hidden" name="type" value="cupcake" />
                <input type="hidden" name="id" value="{$_modx->resource.id}" />
                <input type="hidden" name="min-count" value="{if $_modx->resource.min == ''}{$_modx->runSnippet('!pdoField', ['id' => $_modx->resource.parent, 'field' => 'min'])}{else}{$_modx->resource.min}{/if}" />
            </div>
            <div class="zoom">
                <a href="/{$_modx->resource.image}" data-lightbox="image-{$_modx->resource.id}"></a>
            </div>
            <div class="price">{$_modx->resource.price} <span>руб/шт</span></div>
        </div>
        <div class="function-panel">
            <div class="product-code">
                Артикул: <span itemprop="productID">{$_modx->resource.article}</span>
            </div>
            <div class="options">
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <span itemprop="price" content="{$_modx->resource.price}">{$_modx->resource.price}</span> 
                <span itemprop="priceCurrency" content="RUB">руб/шт</span><link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                <p><b>Вес:</b> <span itemprop="weight" class="weight">{$_modx->getChunk('getWeight')}</span>, 
                <b>Диаметр:</b> <span itemprop="width" class="diameter">{$_modx->getChunk('getDiameter')}</span>,
                <b>Высота:</b> <span itemprop="height" class="height">{$_modx->getChunk('getHeight')}</span></p>
                <noindex>
                    {if $_modx->resource.addit_info_product == ''}
                        {$_modx->runSnippet('!pdoField', ['id' => $_modx->resource.parent, 'field' => 'addit_info_product'])}
                    {else}
                        {$_modx->resource.addit_info_product}
                    {/if}
                </noindex>
                <p>
                    {if $_modx->resource.info == ''}
                        {$_modx->runSnippet('!pdoField', ['id' => $_modx->resource.parent, 'field' => 'info'])}
                    {else}
                        {$_modx->resource.info}
                    {/if}
                </p>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b><span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
        </div>
        <div itemprop="description" style="margin: 20px 0;">
            <img src="/assets/img/fillings.jpg" width="987" height="286" alt="Виды теста начинок">
            {$_modx->getChunk('additional_info')}
            {$_modx->getChunk('relevant_goods')}
        </div>
    </div>
</div>
<div class="clear"></div>