id: 83
source: 1
name: shopProduct-cakepops
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            <form class="form-horizontal ms2_form" method="post">
                <div class="image"><img width="386" height="386" itemprop="image" class="shk-image" src="/[[*image]]" title="[[*pagetitle]] | Пироженка.рф" alt="[[*pagetitle]]" /></div>
                <div class="background"></div>
                <div class="info">
                    <div class="name" itemprop="name">[[*pagetitle]]</div><div class="article"><a rel="nofollow" href="[[~[[*id]]]]">арт. [[*article]]</a></div>
                        <div class="additional">
                        <input type="hidden" class="productType" name="product-type" value="cake" />
                        <div>Вес: <span class="weight">[[!$getWeightPage]]</span>, диаметр: <span class="diameter">[[!$getDiameterPage]]</span>.</div>
                        <div>Тесто на выбор: <span class="dough">[[!$getDoughPage]]</span></div>
                        <div>Вкусы начинок: <span class="stuffing">[[!$getStuffingPage]]</span></div>
                        <div>[[!$getInfoPage]]</div>
                    </div>
                    <div class="product-price"><button type="submit" class="order" name="ms2_action" value="cart/add">Заказать</button></div>
                </div>
                <div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[*id]]"></a></div>
                <div class="price">[[*price]] руб./шт.</div>
                <input type="hidden" name="type" value="cupcake" />
                <input type="hidden" name="id" value="[[*id]]" />
                <input type="hidden" name="min-count" value="[[*min:default=`[[!pdoField? &id=`[[*parent]]` &field=`min`]]`]]" />
            </form>
        </div>
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                Артикул: <span>[[*article]]</span>
            </div>
            <div class="options">
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <span itemprop="price" content="[[*price]]">[[*price]]</span> 
                <span itemprop="priceCurrency" content="RUB">[[*price:isnot=`Бесплатно`:then=`руб/шт`]]</span><link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                <p><b>Вес:</b> <span itemprop="weight" class="weight">[[!$getWeightPage]]</span>, 
                <b>Диаметр:</b> <span itemprop="width" class="diameter">[[!$getDiameterPage]]</span></p>
                <noindex>[[*addit_info_product:default=`[[!pdoField? &id=`[[*parent]]` &field=`addit_info_product`]]`]]</noindex>
                <p>[[!$getInfoPage]]</p>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
            <div class="options-content">
                <div class="title">Тесто на выбор:</div>
                    <p>[[!$getDoughPage]]</p>
                </div>
                <div class="options-content">
                    <div class="title">Вкусы начинок:</div>
                    <p>[[!$getStuffingPage]]</p>
                </div>
    		</div>
            <div class="clear"></div>
    		    [[$additional_info]]
            {$_modx->getChunk('relevant_goods')}
        </div>
    </div>
</div>