id: 66
source: 1
name: shopProduct-candy-bar
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            <form class="form-horizontal ms2_form" method="post">
            	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image" src="/[[*image]]" title="[[*pagetitle]] | Пироженка.рф" alt="[[*pagetitle]]" /></div>
            	<div class="background"></div>
            	<div class="info">
            		<div class="name"><a href="[[~[[+id]]]]" itemprop="name">[[*pagetitle]]</a></div><div class="article"><a rel="nofollow" href="[[~[[+id]]]]">арт. [[*article]]</a></div>
            			<div class="additional">
            			<input type="hidden" class="productType" name="product-type" value="cake" />
            			<div>[[getResourceField? &id=`1482` &field=`info` &isTV=`1` &processTV=`1` ]]</div>
            		</div>
                	<div class="product-price">
                	    <button type="submit" class="order" name="ms2_action" value="cart/add">Заказать</button>
                	</div>
            	</div>
            	<div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[+id]]"></a></div>
            	<div class="price">[[*price]] <span>руб.</span></div>
            	<input type="hidden" name="type" value="cupcake" />
            	<input type="hidden" name="id" value="[[*id]]" />
            	<input type="hidden" name="min-count" value="[[*min]]" />
        	</form>
        </div>
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                Артикул: <span>[[*article]]</span>
            </div>
            <div class="options">
                <!--noindex-->[[*addit_info_product:default=`[[!pdoField? &id=`[[*parent]]` &field=`addit_info_product`]]`]]<!--/noindex-->
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <meta itemprop="price" content="[[*price]]">[[*price]]
                <meta itemprop="priceCurrency" content="RUB">[[*price:isnot=`Бесплатно`:then=`руб.`]]<link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
            [[If? &subject=`[[*info]]` &operator=`notempty` &then=`
            <div class="options-content">
                <div class="title">Краткое описание:</div>
                <p>[[*info]]</p>
            </div>
            `]]
            [[If? &subject=`[[*includes]]` &operator=`notempty` &then=`
            <div class="options-content">
                <div class="title">В этот сладкий стол входит:</div>
                <p>[[*includes]]</p>
            </div>
            `]]
            </div>
        
        
        	<!--div class="table-candy-bar">
        		<table>
        			<tr>
        				<td colspan="2" class="cb-table-title">Основное</td>
        
        			</tr>
        			<tr>
        				<td>Актикул</td>
        				<td>[[*article]]</td>
        			</tr>
        			<tr>
        				<td>Цена</td>
        				<td>[[*price]] руб.</td>
        			</tr>
        			[[If? &subject=`[[*info]]` &operator=`notempty` &then=`
        			<tr>
        				<td colspan="2" class="cb-table-title">Дополнительная информация</td>
        
        			</tr>
        
        			<tr>
        				<td colspan="2">[[*info]]</td>
        			</tr>
        			`]]
        
        			[[If? &subject=`[[*includes]]` &operator=`notempty` &then=`
        			<tr>
        				<td colspan="2" class="cb-table-title">В этот сладкий стол входит</td>
        
        			</tr>
        
        			<tr>
        				<td colspan="2">[[*includes]]</td>
        			</tr>
        			`]]
        		</table>
        
        	</div-->
        
        
        <div class="clear"></div>
        [[$additional_info]]
            {$_modx->getChunk('relevant_goods')}
    </div>
</div>