id: 76
source: 1
name: shopProduct-design-cake
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            <div class="image">
                <img width="386" height="386" class="shk-image" src="/{$_modx->resource.image}" title="{$_modx->resource.pagetitle} | Пироженка.рф" alt="{$_modx->resource.pagetitle}" />
            </div>
            <div class="background"></div>
            <div class="info">
                <div class="name" itemprop="name">
                    {$_modx->resource.pagetitle}
                </div>
                <div class="article">
                    <a rel="nofollow" href="{$_modx->makeUrl($_modx->resource.id)}">арт. {$_modx->resource.article}</a>
                </div>
                <div class="additional">
                    <input type="hidden" class="productType" name="product-type" value="cake"/>
                    <div><span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">{$_modx->getChunk('getWeight')}</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">{$_modx->getChunk('getDiameter')}</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">{$_modx->getChunk('!$getHeight')}</span></span></div>
                    <div>Вес: <span class="weight">{$_modx->getChunk('getWeight')}</span>, диаметр: <span class="diameter">{$_modx->getChunk('!getDiameter')}</span>, высота: <span class="height">{$_modx->getChunk('!getHeight')}</span></div>
                    <div>Тесто на выбор: <span class="dough">{$_modx->getChunk('getDough')}</span></div>
                    <div>Вкус начинки: <span class="stuffing">{$_modx->getChunk('getStuffing')}</span></div>

                    <div>{$_modx->getChunk('!getInfo')}
                        <input type="hidden" name="common_stuffing" value="{$_modx->config.common_stuffing}">
                        <input type="hidden" name="common_dough" value="{$_modx->config.common_dough}">
                    </div>
                </div>
                <div class="product-price"><button type="button" class="order">Заказать</button></div>
            </div>
            <div class="zoom"><a href="/{$_modx->resource.image}" data-lightbox="image-{$_modx->resource.id}"></a></div>
            <div class="price">{$_modx->resource.price_cakes} руб. за торт</div>
            <input type="hidden" name="type" value="cakes" />
            <input type="hidden" name="id" value="{$_modx->resource.id}" />
            <input type="hidden" name="additional-type" value="design-cakes" />
            <input type="hidden" name="min-count" value="{$_modx->resource.min}" />
        </div>
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                Артикул: <span>{$_modx->resource.article}</span>
            </div>
            <div class="options">
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <meta itemprop="price" content="{$_modx->resource.price}">{$_modx->resource.price} руб.
                <meta itemprop="priceCurrency" content="RUB">{if $_modx->resource.price != 'Бесплатно'}руб. за торт{/if}<link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                <p><b>Вес:</b> <span class="weight">{$_modx->getChunk('!getWeightPage')}</span>,
                    <b>Диаметр:</b> <span class="diameter">{$_modx->getChunk('!getDiameterPage')}</span>,
                    <b>Высота:</b> <span class="height">{$_modx->getChunk('!getHeightPage')}</span></p>
                <noindex>
                    {if $_modx->resource.addit_info_product == ''}
                        {$_modx->runSnippet('!pdoField', ['id' => $_modx->resource.parent, 'field' => 'addit_info_product'])}
                    {else}
                        {$_modx->resource.addit_info_product}
                    {/if}
                </noindex>
                <p>
                    {if $_modx->resource.info == ''}
                        {$_modx->runSnippet('!pdoField', ['id' => 1371, 'field' => 'info'])}
                    {else}
                        {$_modx->resource.info}
                    {/if}
                </p>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
        </div>
        <div itemprop="description">
            <img src="/assets/img/fillings.jpg">

            <div class="clear"></div>
            {$_modx->getChunk('additional_info')}
            {$_modx->getChunk('relevant_goods')}
        </div>
    </div>
</div>
</div>