id: 70
source: 1
name: shopProduct-box
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
        	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image" src="/[[*image]]" title="[[*pagetitle]] | Пироженка.рф" alt="[[*pagetitle]]" /></div>
        	<div class="background"></div>
        	<div class="info">
        		<div class="name" itemprop="name">[[*pagetitle]]</div>
        	</div>
        	<div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[*id]]"></a></div>
        	<div class="price">[[*price]]</div>
        	<input type="hidden" name="type" value="cupcake" />
            <input type="hidden" name="id" value="[[*id]]" />
            <input type="hidden" name="min-count" value="[[*min]]" />
        </div>
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                [[*pagetitle]]
            </div>
            <div class="options">
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <meta itemprop="price" content="[[*price]]">[[*price]] 
    		    <span itemprop="priceCurrency" content="RUB">[[*price:isnot=`Бесплатно`:then=`руб`]]</span><link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                <noindex>[[*addit_info_product:default=`[[!pdoField? &id=`[[*parent]]` &field=`addit_info_product`]]`]]</noindex>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
		</div>
        <div class="clear"></div>
            {$_modx->getChunk('relevant_goods')}
    </div>
    </div>
</div>