id: 23
source: 1
name: shopProduct.deprecated
description: ''
properties: 'a:0:{}'

-----

<div class="page">
<div id="page-product">
<div class="product shk-item" style="width: 320px !important;">
	<div class="image"><img class="shk-image" src="/[[*image]]" alt="[[*pagetitle]]" /></div>
	<div class="background"></div>
	<div class="info">
		<div class="name">[[*pagetitle]]</div><div class="article">арт. [[*article]]</div>
			<div class="additional">
			<input type="hidden" class="productType" name="product-type" value="cake" />
			<div>Вес: <span class="weight">[[!$getWeight]]</span>, диаметр: <span class="diameter">[[!$getDiameter]]</span>, высота: <span class="height">[[!$getHeight]]</span></div>
			<div>Тесто на выбор: <span class="dough">[[!$getDough]]</span></div>
			<div>Вкусы начинок: <span class="stuffing">[[!$getStuffing]]</span></div>
			<div>[[!$getInfo]]</div>
		</div>
    	<div class="product-price"><button type="button" class="order">Заказать</button></div>
	</div>
	<div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[*id]]"></a></div>
	<div class="price">[[!$getPricePage]]</div>
	<input type="hidden" name="type" value="cupcake" />
	            <input type="hidden" name="id" value="[[*id]]" />
</div>
<div class="clear"></div>
<div class="see_also">
		<h3>Похожие товары</h3>
		[[!getResources? &parents=`12` &tpl=`see_alsoTPL` &limit=`8` &includeTVs=`1` &processTVs=`1` &sortby=`RAND()`]]
	</div>
</div>
</div>
</div>