id: 71
source: 1
name: shopProduct-cakes
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            
        	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image" src="/[[*image]]" title="[[*pagetitle]] | Пироженка.рф" alt="[[*pagetitle]]" /></div>
        	<div class="background"></div>
        	<div class="info">
        		<div itemprop="name" class="name">[[*pagetitle]]</div><div class="article"><a rel="nofollow" href="[[~[[*id]]]]">арт. [[*article]]</a></div>
        			<div class="additional">
        			<input type="hidden" class="productType" name="product-type" value="cake"/>
        			<div><span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">[[$getWeightPage]]</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">[[$getDiameterPage]]</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">[[!$getHeightPage]]</span></span></div>
        			<div>Тесто на выбор: <span class="dough">[[!$getDoughPage]]</span></div>
        			<div data-ot="Дополнительно можем добавить в крем свежие ягоды или орехи<br>(+ 300 руб./кг.)" data-ot-delay="0">Вкус крема*: <span class="stuffing">[[!$getStuffingPage]]</span></div>
        			<div>[[!$getInfoPage]]
        			<input type="hidden" name="common_stuffing" value="[[++common_stuffing]]">
        			<input type="hidden" name="common_dough" value="[[++common_dough]]">
        			</div>
        		</div>
            	<div class="product-price"><button type="submit" class="order" name="ms2_action" value="cart/add">Заказать</button></div>
        	</div>
        	<div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[*id]]"></a></div>
        	<div class="price">[[*price]] руб./кг</div>
        	<input type="hidden" name="type" value="cakes" />
        	            <input type="hidden" name="id" value="[[*id]]" />
        	<input type="hidden" name="productType" value="[[*productType]]" />
        </div>
        
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                Артикул: <span>[[*article]]</span>
            </div>
            <div class="options">
                <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <meta itemprop="price" content="[[*price]]">[[*price]]
                <meta itemprop="priceCurrency" content="RUB">[[*price:isnot=`Бесплатно`:then=`руб./кг`]]<link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                <p><b>Вес:</b> <span itemprop="weight" class="weight">[[$getWeightPage]]</span>, 
                <b>Диаметр:</b> <span itemprop="width" class="diameter">[[$getDiameterPage]]</span>, 
                <b>Высота:</b> <span itemprop="height" class="height">[[$getHeightPage]]</span></p>
                <!--noindex-->[[*addit_info_product:default=`[[!pdoField? &id=`[[*parent]]` &field=`addit_info_product`]]`]]<!--/noindex-->
                <p>[[$getInfoPage]]</p>
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
                <div class="options-content">
                    <div class="title">Тесто на выбор:</div>
                    <p>[[$getDoughPage]]</p>
                </div>
                <div class="options-content">
                    <div class="title">Вкус крема:</div>
                    <p>[[$getStuffingPage]]</p>
                    <p>Дополнительно можем добавить в крем банан/киви/клубнику или свежие ягоды<br>(+ 500 руб. к стоимости)</p>
                </div>
    		</div>
        </div>
        <div class="clear"></div>
        [[$additional_info]]
            {$_modx->getChunk('relevant_goods')}
    </div>
</div>