id: 118
source: 1
name: shopProduct
description: ''
properties: 'a:0:{}'

-----

{set $id = $_modx->resource.id}
{set $parentIds = $_modx->getParentIds($id)}
{set $productType = $_modx->resource.productType}
{set $weight = $_modx->getChunk('getProductField', ['field' => 'weight_custom','producttype' => $productType])}

{set $min = $_modx->getChunk('getProductField', ['field' => 'min','producttype' => $productType])}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {set $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[0], 'field' => 'min'])}
{/if}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {set $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[1], 'field' => 'min'])}
{/if}
{if $min == '' || $min == 'NULL' || $min == ' '}
    {set $min = $_modx->runSnippet('pdoField', ['id' => $parentIds[2], 'field' => 'min'])}
{/if}


{*$productType $weight*}
{set $diameter = $_modx->getChunk('getProductField', ['field' => 'diameter','producttype' => $productType])}
{set $height = $_modx->getChunk('getProductField', ['field' => 'height','producttype' => $productType])}
{set $info = $_modx->getChunk('getInfo', ['parent' => $_modx->resource.parent])}

{set $dough = $_modx->getChunk('getProductField', ['field' => 'dough','producttype' => $productType])}
{set $stuffing = $_modx->getChunk('getProductField', ['field' => 'stuffing','producttype' => $productType])}
{if $_modx->resource.addit_info_product == ''}
    {set $addInfo = $_modx->runSnippet('pdoField', ['id' => $_modx->resource.parent, 'field' => 'addit_info_product'])}
{else}
    {set $addInfo = $_modx->resource.addit_info_product}
{/if}

{set $getPrice = $_modx->getChunk('getPrice',['price' => $_modx->resource.price,'price_cupcake' => $_modx->resource.price_cupcake])}

{var $isCupcake = ($_modx->resource.productType == 'cupcake') ? '1' : '0'}
{var $isSets = ('28' in $_modx->getParentIds($id)) ? '1' : '0'}

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            [[!$product.ms2.form?min=`{$min}`&id=`[[*id]]`&productType=`{$productType}`&price_cupcake=`[[*price_cupcake]]`&pagetitle=`{$_modx->resource.pagetitle}`&article=`{$_modx->resource.article}`&price=`{$_modx->resource.price}`]]
            
            
            <div class="image">
                <img width="386" height="386" class="shk-image" src="/{$_modx->resource.image}" title="{$_modx->resource.pagetitle} | Пироженка.рф" alt="{$_modx->resource.pagetitle}" />
            </div>
            <div class="background"></div>
            <div class="info">
                <div class="name" itemprop="name">
                    {$_modx->resource.pagetitle}
                </div>
                <div class="article">
                    <a rel="nofollow" href="{$_modx->makeUrl($_modx->resource.id)}">арт. {$_modx->resource.article}</a>
                </div>
                {if $_modx->resource.template in list [20]}
                    <div class="additional">
                        <input type="hidden" class="productType" name="product-type" value="cake" />
                        <div>Вес: <span class="weight">{$weight}</span>, диаметр: <span class="diameter">{$diameter}</span>.</div>
                        <div>Тесто на выбор: <span class="dough">{$dough}</span></div>
                        <div>Вкусы начинок: <span class="stuffing">{$stuffing}</span></div>
                        <div>{$_modx->getChunk('getInfoPage')}</div>
                        
                    </div>
                {elseif $_modx->resource.template in list [10]}
                    <div class="additional">
                        <input type="hidden" class="productType" name="product-type" value="cake"/>
                        <div>
                            <span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">{$weight}</span></span>, 
                            <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">{$diameter}</span></span>, 
                            <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">{$height}</span></span>
                        </div>
                        <div>Тесто на выбор: <span class="dough">{$dough}</span></div>
                        <div data-ot="Дополнительно можем добавить в крем банан/киви/клубнику или свежие ягоды<br>(+ 500 руб. к стоимости)" data-ot-delay="0">Вкус крема*: <span class="stuffing">{$stuffing}</span></div>
                        <div>
                            {$info}
                            <input type="hidden" name="common_stuffing" value="{$_modx->config.common_stuffing}">
                            <input type="hidden" name="common_dough" value="{$_modx->config.common_dough}">
                        </div>
                    </div>
                {elseif $_modx->resource.template in list [19]}
                    <div class="additional">
                        <input type="hidden" class="productType" name="product-type" value="cake" />
                        <div>
                            {if $weight != '' && $weight != 'NULL' && $weight != ' '}
                                <b>Вес:</b>
                                <span class="weight">{$weight}</span>
                                <br>
                            {/if}
                            {if $diameter != '' && $diameter != 'NULL'&& $diameter != ' '}
                                <b>Диаметр:</b>
                                <span class="diameter">{$diameter}</span>
                                <br>
                            {/if}
                            {if $height != '' && $height != 'NULL'&& $height != ' '}
                                <b>Высота:</b>
                                <span class="height">{$height}</span>
                                <br>
                            {/if}
                            <div class="product-price"><button type="button" class="order">Заказать</button></div>
                        </div>
                        <div class="zoom">
                            <a href="/{$_modx->resource.image}" data-lightbox="image-{$_modx->resource.id}"></a>
                        </div>
                        {*<div class="price">
                            {$_modx->resource.price} руб./шт.
                        </div>*}
                        <input type="hidden" name="type" value="mini-cakes" />
                        <input type="hidden" name="id" value="{$_modx->resource.id}" />
                        <input type="hidden" name="min-count" value="{$min}" />
                    </div>
                {else}
                {*elseif $_modx->resource.template in list [9]*}
                    <div class="additional">
                        <input type="hidden" class="productType" name="product-type" value="cake"/>
                        <div><span class="hint" data-ot="Может быть увеличен по желанию" data-ot-delay="0">Вес*: <span class="weight">{$weight}</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">диаметр*: <span class="diameter">{$diameter}</span></span>, <span class="hint" data-ot="При стандартном весе" data-ot-delay="0">высота: <span class="height">{$height}</span></span></div>
                        <noindex><div>
                            {if $_modx->resource.template in list [9]}
                                <div>Вес: <span class="weight">{$weight}</span>, диаметр: <span class="diameter">{$diameter}</span>, выса: <span class="height">{$height}</span></div>
                                {$_modx->runSnippet('pdoField', [
                                    'id' => 'parent',
                                    'field' => 'addit_info_product'
                                ])}
                            {elseif $_modx->resource.template in list [10]}
                                <div>Вес: <span class="weight">{$weight}</span>, диаметр: <span class="diameter">{$diameter}</span>, высота: <span class="height">{$height}</span></div>
                                {$_modx->runSnippet('pdoField', [
                                    'id' => 'parent',
                                    'field' => 'addit_info_product'
                                ])}
                            {else}
                                {if $weight != '' && $weight != 'NULL' && $weight != ' '}
                                    <b>Вес:</b>
                                    <span class="weight">{$weight}</span>
                                    <br>
                                {/if}
                                {if $diameter != '' && $diameter != 'NULL'&& $diameter != ' '}
                                    <b>Диаметр:</b>
                                    <span class="diameter">{$diameter}</span>
                                    <br>
                                {/if}
                                {if $_modx->resource.template not in list [20]}
                                    {if $height != '' && $height != 'NULL'&& $height != ' '}
                                        <b>Выса:</b>
                                        <span class="height">{$height}</span>
                                        <br>
                                    {/if}  
                                {/if} 
                            {/if}
                            {if $dough !== '' && $dough != 'NULL' && $dough != ' '}
                                <b>Тесто на выбор :</b>
                                <span class="dough">{$dough}</span>
                                <br>
                            {/if}
                            
                            {if $stuffing != '' && $stuffing != 'NULL' && $stuffing != ' '}
                                <b>Вкус начинки:</b>
                                <span class="stuffing">{$stuffing}</span>
                                <br>
                            {/if}
                        </div></noindex>
                        <div>
                            {*$info*}
                            <input type="hidden" name="common_stuffing" value="{$_modx->config.common_stuffing}">
                            <input type="hidden" name="common_dough" value="{$_modx->config.common_dough}">
                            <input type="hidden" name="type" value="{$productType}" />
                        </div>
                    </div>
                {/if}
                <div class="product-price"><button type="button" class="order">Заказать</button></div>
            </div>
            <div class="zoom"><a href="/{$_modx->resource.image}" data-lightbox="image-{$_modx->resource.id}"></a></div>
            <div class="price">{$_modx->resource.price}</div>
            <div style="display:none;">{$getPrice}</div>
            {*if $_modx->resource.template in list [10,11]}
                <input type="hidden" name="type" value="cakes" />
            {elseif $_modx->resource.template in list [9,20,14]}
                <input type="hidden" name="type" value="cupcake" />
            {elseif $_modx->resource.template in list [17,18]}
                <input type="hidden" name="type" value="macaron"/>
            {elseif $_modx->resource.template in list [19]}
                <input type="hidden" name="type" value="mini-cakes" />
            {/if*}
            <input type="hidden" name="type" value="{$productType}" />
            <input type="hidden" name="id" value="{$_modx->resource.id}" />
            <input type="hidden" name="additional-type" value="{$_modx->resource.productType}" />
            <input type="hidden" name="min-count" value="{$min}" />
            {if $isCupcake}
                <input type="hidden" name="isSets" value="{$isSets}" />
            {/if}
        </div>
        
        <div class="function-panel">
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
            <div class="product-code">
                Артикул: <span>{$_modx->resource.article}</span>
            </div>
            <div class="options">
                <p>
                    <b>Цена:</b>
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah">
                        <meta itemprop="price" content="{$_modx->resource.price}">
                        {if 0 && $isCupcake && !$isSets?}
                            от {$getPrice} <span class="hint_cupcake_{$id}"><img src="/assets/img/question3.png" width="15" alt=""></span>
                        {else}
                            {$getPrice}
                        {/if}
                        {*if $_modx->resource.template in list [20,9]} руб/шт {else} руб. {/if*}
                        <meta itemprop="priceCurrency" content="RUB">
                        {if $_modx->resource.price != 'Бесплатно'}{/if}
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    </span>
                </p>
                {*if $_modx->resource.template in list [9]
                    <div><b>Вес:</b> <span class="weight">{$weight}</span>, <b>диаметр:</b> <span class="diameter">{$_modx->getChunk('!getDiameter')}</span>, <b>высота:</b> <span class="height">{$_modx->getChunk('!getHeight')}</span></div>
                
                elseif $_modx->resource.template in list [10]
                    <div><b>Вес:</b> <span class="weight">{$weight}</span>, <b>диаметр:</b> <span class="diameter">{$_modx->getChunk('!getDiameter')}</span>, <b>высота:</b> <span class="height">{$_modx->getChunk('!getHeight')}</span></div>
                else*}
                <!--<div><b>Тесто на выбор:</b> <span class="dough">{*$_modx->getChunk('getDough')*}</span></div>
                <div>Вкусы начинок: <span class="stuffing">{*$_modx->getChunk('getStuffing')*}</span></div>-->
                {if $weight != '' && $weight != ' ' && $weight != 'NULL'}
                    <b>Вес:</b>
                    <span class="weight">{$weight}</span>
                    <br>
                {/if}
                {if $diameter != '' && $diameter != 'NULL' && $diameter != ' '}
                    <b>Диаметр:</b>
                    <span class="diameter">{$diameter}</span>
                    <br>
                {/if}
                {if $_modx->resource.template not in list [20,19]}
                    {if $height != '' && $height != 'NULL' && $height != ' '}
                        <b>Высота:</b>
                        <span class="height">{$height}</span>
                        <br>
                    {/if}
                {/if}
                {if $_modx->resource.template not in list [20,19]}
                    {if $dough != '' && $dough != 'NULL' && $dough != ' '}
                        <b>Тесто на выбор:</b>
                        <span class="dough">{$dough}</span>
                        <br>
                    {/if} 
                {/if} 
                {if $_modx->resource.template not in list [19]}
                    {if $stuffing != '' && $stuffing != 'NULL' && $stuffing != ' '}
                        <b>Вкус начинки:</b>
                        <span class="stuffing">{$stuffing}</span>
                        <br>
                    {/if}
                {/if}
                 
                <noindex>
                    {$addInfo}
                </noindex>
                
                {if $info?}
                    <noindex>
                        <div style="margin-bottom: 20px;">
                            {$info}
                        </div>
                    </noindex>
                {/if}
                
                [[If? &subject=`[[*includes]]` &operator=`notempty` &then=`
                <div class="options-content">
                    <div class="title">В этот сладкий стол входит:</div>
                    <p>[[*includes]]</p>
                </div>
                `]]
                
                {if $_modx->resource.template not in list [10]}
                    {if $min != '' && $min != 'NULL' && $min != ' '}
                        <p><b>Минимальный заказ</b>: {$min} шт.</p>
                        <br>
                    {/if}
                {/if}
                
                {if $_modx->resource.template in list [10]}
                    {if $min != '' && $min != 'NULL' && $min != ' '}
                        <p><b>Минимальный заказ</b>: {$min} кг.</p>
                        {*<br>*}
                    {/if}
                    
                    {if $_modx->resource.production_time > 0}
                        {var $prod_time = $_modx->resource.production_time | split : "-"}
                        
                        <p><b>Срок изготовления:</b> <span class="production_time">{$_modx->resource.production_time ~' '~ ($prod_time[($prod_time|len - 1)] | Declension : "день,дня,дней")}</span></p>
                        <br>
                    {/if}
                {/if}
                
                {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                    <button type="button" class="trigger-order-new">Заказать</button>
                {else}
                    <b>Больше не выпускается.</b>
                    <span> Обратите внимание на похожие товары ниже</span>
                {/if}
            </div>
        </div>
        <div class="clear"></div>
        
        [[!If? &subject=`[[*product_description]]` &operator=`notempty` &then=`
            <div class="product_description">
                <div class="product_description-title">Описание</div>
                [[*product_description]]
            </div>
        `]]
        
        <div itemprop="description">
            <div class="center">
            {if $_modx->resource.show_image_ingredients == 1}
                {if $_modx->resource.template in list  [9]}
                    <div class="nachinki-title">Начинки</div>
                    <img src="/assets/img/fillings-new.jpg" width="987" height="286" alt="Виды теста начинок">
                {elseif $_modx->resource.template in list  [10,11]}
                    <div class="nachinki-title">Начинки</div>
                    <img src="/image/nachinki_torti.jpg" width="987" alt="Виды теста начинок">
                {/if}
            {/if}
            </div>
            <div class="clear"></div>
            {$_modx->getChunk('additional_info')}
            {$_modx->getChunk('relevant_goods')}
        </div>
    </div>
</div>
<!--</div>-->

{*if $isCupcake && !$isSets?}
    {var $js_cupcake_tips = $_modx->getPlaceholder('js_cupcake_tips')}
    {var $js_cupcake_tips[$id]}
    <script>
        $(document).ready(function()
        {
            {var $hint = $_modx->getChunk('!hintPricesCupcakesWithUpperprice', [
                'price' => $_modx->resource.price,
            ])}
            var cupcakeOpentip_{$id} = new Opentip($('.hint_cupcake_{$id}'), { tipJoint: "top" });
            cupcakeOpentip_{$id}.setContent("{$hint|replace:"\r":""|replace:"\n":""}");
        });
    </script>
    {/var}
    {$_modx->setPlaceholder('js_cupcake_tips', $js_cupcake_tips)}
{/if*}

{if $isCupcake && !$isSets?}
    <script>
        //$(document).ready(function()
        //{
    	    {var $hint = $_modx->getChunk('!hintPricesCupcakesWithUpperprice', [
                'price' => $_modx->resource.price,
            ])}
            window.cupcakeTooltips = window.cupcakeTooltips || {};
            window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
    	    window.cupcakeTooltips[{$id}] = '.hint_cupcake_{$id}';
            window.cupcakeTooltipsContent[{$id}] = "{$hint|replace:"\r":""|replace:"\n":""}";
        //});
    </script>
{/if}