id: 74
source: 1
name: shopProduct-macarons
description: ''
properties: 'a:0:{}'

-----

<div itemscope itemtype="http://schema.org/Product" class="page">
    <div id="page-product">
        <div class="product shk-item">
            <div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/{$_modx->resource.image}"
                                    title="{$_modx->resource.pagetitle} | Пироженка.рф" alt="{$_modx->resource.pagetitle}"/></div>
            <div class="background"></div>
            <div class="info">
                <div class="name" itemprop="name">{$_modx->resource.pagetitle}</div>
                <div class="article"><a rel="nofollow"
                                        href="{$_modx->makeUrl($_modx->resource.id)}">арт. {$_modx->resource.article}</a>
                </div>
                <div class="additional">
                    <input type="hidden" class="productType" name="product-type" value="cake"/>

                    <div>
                        Вес: <span class="weight">{$_modx->getChunk('getWeightPage')}</span>.
                        {if $_modx->resource.diameter != ''}диаметр:
                            <span class="diameter">{$_modx->resource.diameter}</span>
                            ,{/if}
                        {if $_modx->resource.height != ''}высота:
                            <span class="height">{$_modx->resource.height}</span>
                            ,{/if}
                        </div>
                        <div>{$_modx->getChunk('!getInfoPage')}</div>
                    </div>
                    <div class="product-price">
                        <button type="button" class="order">Заказать</button>
                    </div>
                </div>
                <div class="zoom"><a href="/{$_modx->resource.image}" data-lightbox="image-{$_modx->resource.id}"></a>
                </div>
                <div class="price">{$_modx->resource.price} руб./шт.</div>
                <input type="hidden" name="type" value="macaron"/>
                <input type="hidden" name="id" value="{$_modx->resource.id}"/>
                <input type="hidden" name="min-count" value="{$_modx->resource.min}"/>
            </div>
            <div class="function-panel">
                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
                <div class="product-code">
                    Артикул: <span itemprop="productID">{$_modx->resource.article}</span>
                </div>
                <div class="options">
                    <p><b>Цена:</b> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="uah" > <meta itemprop="price" content="{$_modx->resource.price}">{$_modx->resource.price}
                    <meta itemprop="priceCurrency" content="RUB">руб./шт.<link itemprop="availability" href="http://schema.org/InStock" /></span></p>
                    <p><b>Вес:</b> <span class="weight">{$_modx->getChunk('!getWeightPage')}</span>,
                        {if $_modx->resource.diameter != ''}
                            <b>Диаметр:</b>
                            <span class="diameter">{$_modx->resource.diameter}</span>
                            ,{/if}
                        {if $_modx->resource.height != ''}
                            <b>Высота:</b>
                            <span class="height">{$_modx->resource.height}</span>
                            ,{/if}
                    </p>
                    <noindex>
                        {if $_modx->resource.addit_info_product == ''}
                            {$_modx->runSnippet('!pdoField', ['id' => $_modx->resource.parent, 'field' => 'addit_info_product'])}
                        {else}
                            {$_modx->resource.addit_info_product}
                        {/if}
                    </noindex>
                    <p>{$_modx->getChunk('!getInfoPage')}</p>
                    {if $_modx->resource.archive == '0' or $_modx->resource.archive == '' }
                        <button type="button" class="trigger-order">Заказать</button>
                    {else}
                        <b>Больше не выпускается.</b>
                        <span> Обратите внимание на похожие товары ниже</span>
                    {/if}
                </div>
            </div>
            <div itemprop="description">
                <img src="/assets/img/fillings.jpg">

                <div class="clear"></div>
                {$_modx->getChunk('additional_info')}
            {$_modx->getChunk('relevant_goods')}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>