id: 84
source: 1
name: shopProduct-cupcake-old
description: ''
properties: 'a:0:{}'

-----

<div class="page">
<div id="page-product">
<div class="product shk-item">
	<div class="image"><img width="386" height="386" class="shk-image" src="/[[*image]]" alt="[[*pagetitle]]" /></div>
	<div class="background"></div>
	<div class="info">
		<div class="name">[[*pagetitle]]</div><div class="article"><a rel="nofollow" href="[[~[[+id]]]]">арт. [[*article]]</a></div>
			<div class="additional">
			<input type="hidden" class="productType" name="product-type" value="cake" />
			<div>Вес: <span class="weight">[[!$getWeight]]</span>, диаметр: <span class="diameter">[[!$getDiameter]]</span>, высота: <span class="height">[[!$getHeight]]</span></div>
			<div>Тесто на выбор: <span class="dough">[[!$getDough]]</span></div>
			<div>Вкусы начинок: <span class="stuffing">[[!$getStuffing]]</span></div>

			<div>[[!If?&subject=`[[*info]]`&operator=`empty`&then=`[[getResourceField? &id=`[[*parent]]` &field=`info` &isTV=`1` &processTV=`1` ]]`&else=`[[*info]]`]]</div>

		</div>
    	<div class="product-price"><button type="button" class="order">Заказать</button></div>
	</div>
	<div class="zoom"><a href="/[[*image]]" data-lightbox="image-[[*id]]"></a></div>
	<div class="price">[[*price]] <span>руб.</span></div>

</div>
	<input type="hidden" name="type" value="cupcake" />
	            <input type="hidden" name="id" value="[[*id]]" />
	<input type="hidden" name="min-count" value="[[*min]]" />
</div>


<div>
<img src="/assets/img/fillings.png">
</div>


<div style="    margin: 20px 0;">
  <div class="additional_info">
  <div class="delivery">
	<div class="title">Доставка</div>
	<p>Мы доставляем заказ в указанное вами время и по указанному адресу.
  Стоимость доставки по Москве в пределах МКАД - 400 руб.
  При заказе на сумму свыше 10 000 руб - доставка бесплатно.
  Стоимость доставки за пределами МКАД, по Московской области и в регионы - договорная.
  Минимальная стоимость заказа для доставки - 1000 руб. 
  При самовывозе ограничений на сумму заказа нету. Адреса пунктов самовывоза в разделе <a href="http://пироженка.рф/contacts">Контакты</a></p>
	</div>

	<div class="pay">
	  <div class="title">Оплата</div>
	  <p>При доставке - оплата производится курьеру наличными при получении.
  При самовывозе - оплата производится картой минимум за день до даты получения (после оформления заказа и подтверждения его нашим менеджером, вам на почту придет форма для оплаты заказа).
  Также вы можете оплатить заказ заранее и мы доставим ваш подарок-сюрприз получателю. Укажите об этом в комментариях при оформлении заказа. </p>
	</div>

  </div>
  <div class="see_also" width="40%">
		  <h3>Похожие товары</h3>
		  [[!getResources? &parents=`12` &tpl=`see_alsoTPL` &limit=`11` &includeTVs=`1` &processTVs=`1` &sortby=`RAND()`]]
	  </div>
  </div>
</div>

<div class="clear"></div>
</div>
</div>