id: 34
source: 1
name: subMenu
description: ''
properties: 'a:0:{}'

-----

<div class="bg-sub-menu">
    <div class="sub-menu sub-menu-btn hamburger-wrap" style="padding:0;">
        [[-<div class="hamburger hamburger--elastic-r">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
            <span class="hamburger-label">Menu</span>
        </div>]]
        <button class="hamburger hamburger--elastic-r hamburger--accessible js-hamburger" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">Меню</span>
        </button>
    </div>
    
    <div class="sub-menu sub-menu-hide">
        <div class="wrap">
            <div style="width: 80%; float: left; z-index: 2; position: relative;"><span class="title"><a class="sub-link" href="/" title="Капкейки">Капкейки</a>:</span>[[!pdoMenu@subMenu? &startId=`12`]] </div>
            <div style="width: 80%; float: left; z-index: 2; position: relative;"><span class="title"><a class="sub-link" href="[[~13]]" title="Тортики">Тортики</a>:</span>[[!pdoMenu@subMenu? &startId=`13` &level=`1`]]<br><span class="title"><a class="sub-link" href="[[~1482]]" title="Сладкий стол">Сладкий стол</a>:</span>[[!pdoMenu@subMenu? &startId=`1482` &level=`1`]]<span class="title"><a class="sub-link" href="[[~1353]]" title="Кейкпопсы">Кейкпопсы</a></span><span class="title"></span></div>
            <div style="width: 80%; float: left; z-index: 2; position: relative;"><span class="title"><a class="sub-link" href="[[~1371]]" title="Имбирное печенье">Имбирное печенье</a>:</span>[[!pdoMenu@subMenu? &startId=`1371` &level=`1`]] </div>
            <div style="width: 80%; float: left; z-index: 2; position: relative;"><span class="title"><a class="sub-link" href="[[~1286]]" title="Макаруны">Макаруны</a>:</span>[[!pdoMenu@subMenu? &startId=`1286` &level=`1`]]<br>
            [[-!pdoMenu@subMenu? &startId=`1353` &level=`1`]]</div>
            <!--div style="float: right;"-->
            <div class="button-menu-order">
                <ul>
                    <li><a id="own-design-link" href="#">Заказать свой дизайн</a></li>
                </ul>
            </div>
            <div class="product reason menu-reason"></div>
            <div class="clear"></div>
           <!-- <div class="product reason menu-reason"></div>-->
        </div>
    </div>
</div>
<div class="hlw">
    <div class="wrap">
        [[-helloween? &class=`sub`]]
    </div>
</div>