id: 152
source: 1
name: test_form_cart
description: ''
properties: 'a:0:{}'

-----

<div itemscope="" itemtype="http://schema.org/Product" class="product shk-item" style="width: 305.5px; height: 305.5px;">
	<div class="image"><img width="386" height="386" itemprop="image" class="shk-image no-image" src="/image/makaruny-na-svadbu-2.jpg" alt="Макаруны на свадьбу с табличками - 2" title="Макаруны на свадьбу с табличками - 2 | Пироженка.рф"></div>
	<div class="background"></div>
	<div class="info info-list">
		<div class="name" itemprop="name">Макаруны на свадьбу с табличками - 2</div><div class="article">арт. 10М</div>
		<noindex><div class="additional">
			<input type="hidden" class="productType" name="product-type" value="cake">
			<div>Вес: <span class="weight">    
    20</span>.
			 
			</div>
			<div>                    
    <p>Вы можете выбрать любые макаруны из нашего ассортимента!  
Просто напишите комментарий к заказу.</p>	
</div>
		</div></noindex>
		<div class="product-price"><a href="macarons-makaruny-na-svadbu-s-tablichkami-2/" class="detail_link" title="Макаруны на свадьбу с табличками — 2">Подробнее</a></div>
	</div>
	<div class="zoom"><a href="/image/makaruny-na-svadbu-2.jpg" data-lightbox="image-1582"></a></div>
	<input type="hidden" name="type" value="macaron">
	<input type="hidden" name="productType" value="macarons">
	<input type="hidden" name="id" value="1582">
	<input type="hidden" name="min-count" value="5">
	<div class="price-order">
		<div class="price price-list">
                    85 <span>руб./шт.</span>
                    
    </div>
		<div><button type="button" class="order">Заказать</button></div>
	</div>

		<form class="product-form" style="display: block;">
			<div class="form-close"></div>
			<div class="form-data">
			<div class="form-data-product">
			    <div class="heading">Макаруны на свадьбу с табличками - 2 	(арт. 10М)</div>
			    <div class="field" style="display: none;">
                    <label class="label-dough">Тесто:</label>
                    <select class="dough"><option value="не имеет значения">не имеет значения</option></select>
                </div>
                                <div class="field" style="display: none;">
                    <label class="label-stuffing">Вкус начинки:</label>
                    <select class="stuffing"><option value="не имеет значения">не имеет значения</option></select>
                </div>
                                <div id="other-info"></div>
                                <div class="field">
                    <label class="label1">Количество:</label> 
                    <span class="btn-count-change btn-count-minus" data-operation="-">-</span><input type="text" data-type="number" class="field-count" name="count" value="5" min="5" onblur="return proverka(this,5);" onchange="return proverka(this,5);"><span class="btn-count-change btn-count-plus" data-operation="+">+</span> шт<div class="intro-price">x 85 = 425 руб.</div>
                   
                                         <div class="alert_num" style="display:none;">Минимальное количество для заказа - <span id="alert_num_detail">5</span></div>
                                   </div>
                            </div>
            <div class="motivational-phrases" style="
    display: none;
    color: #fff;
    border: 2px solid #D374A4;
    padding: 7px 10px;
    line-height: 120%;
    margin-top: 10px;
            "></div>
			<div class="field decision">
 				<button type="button" class="decision-continue">Продолжить покупки</button>
				<p>или</p>
				<button type="button" class="decision-order">Оформить заказ</button>

			<p>Нажмите "Оформить заказ" для оформления заказа или "Продолжить покупки", тогда выбранные вами сладости будут ждать вас в корзине.</p>
			</div>

			<div class="hidden-data">

			<div class="heading-2">Оформление заказа</div>

			<div class="field">
				<input type="text" class="field-name" name="name" placeholder="Имя*">
			</div>
			<div class="field">
				<input type="text" id="mask-phone" class="field-phone phone_mask" name="phone" placeholder="Телефон*" value="7">
			</div>
            {ignore}
			<div class="field" data-ot="Для подтверждения, спамить не будем" data-ot-delay="0">
				<input type="email" class="field-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="" name="email" placeholder="Email*">
			</div>
            {/ignore}
			<div class="field">
				<input type="text" class="field-date" name="date" placeholder="Дата и время доставки*">
			</div>


			<p style="padding: 10px 0;">Вы уже можете отправить заказ. Мы вам перезвоним и уточним все подробности. Но мы будем вам признательны, если вы предоставите нам полную информацию.</p>


			<div class="field">
				<input type="text" class="field-address" name="address" placeholder="Адрес доставки">
			</div>

			<div class="field">
				<input type="text" class="field-comment" name="comment" placeholder="Комментарий">
			</div>

			<div class="field">
				<input type="checkbox" name="delivery">
				<span class="delivery-text">Я хочу сэкономить <span class="delivery-price">400</span> руб. и заберу самостоятельно.</span>
				<span class="delivery-text-more">Я заберу заказ самостоятельно.<br>(При заказе на сумму больше <span class="free-delivery">10000</span> руб. доставка - бесплатно).</span>

</div>


			<div class="field" style="text-align: right;">
				Стоимость заказа: <span class="order-price">
                    85 руб./шт.
                    
    </span>
			</div>

			<div class="field">
				<button type="button" class="product-order-send">Отправить заказ</button>
			</div>

			</div>

			</div>


		</form>
</div>