id: 183
source: 1
name: tpl.up2User.Edit.change.email
description: ''
properties: null
static_file: core/components/userprofile2/elements/chunks/chunk.up2_user_edit_change_email.tpl

-----

<p>Вы изменили email в своём профиле на сайте [[++site_name]].</p>

<p>Для подтверждения нового адреса вам нужно <a href="[[+link]]">пройти по ссылке</a>.</p>