id: 162
source: 1
name: tpl.Office.auth.logout
description: ''
category: Office
properties: 'a:0:{}'
static_file: core/components/office/elements/chunks/chunk.auth.logout.tpl

-----

<!-- <div class="wind prof logOut ">
<div class="avat">
<img src="[[+photo:default=`[[+gravatar]]?s=100`]]" alt="[[+fullname]]" title="[[+fullname]]"  class="office-avatar" width="100" />
</div>
<span class="ha-info">
[[%office_auth_welcome]] <b>[[+username]]</b> [[+fullname]]
<br>
<a href="[[~[[*id]]]]?action=auth/logout">[[%office_auth_logout]]</a>
     
</span>
<div class="social">
<small>[[%ha.providers_available]]:</small><br/>
[[+providers]]
</div>
</div> -->