id: 163
source: 1
name: tpl.Office.remote.login
description: ''
category: Office
properties: null
static_file: core/components/office/elements/chunks/chunk.remote.login.tpl

-----

<div class="office-remote-login">
	<a href="[[+remote]]" rel="nofollow">[[%office_auth_remote_login]]</a>
	[[+error:notempty=`
		<div class="alert alert-block alert-danger alert-error">[[+error]]</div>
	`]]
</div>