id: 180
source: 1
name: tpl.up2User.small.Info
description: ''
properties: null
static_file: core/components/userprofile2/elements/chunks/chunk.up2_user_small_info.tpl

-----

<div class="up2-small-info">
    <div class="up2-avatar-wrapper">
        <img src="[[+avatar]]" class="up2-avatar" />
    </div>
</div>
<h3>&nbsp;&nbsp;[[+firstname]]</h3>
<div class="clearfix"></div>
<br/>