id: 96
source: 1
name: tpl.msMiniCart
description: ''
category: miniShop2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_minicart.tpl

-----

<div id="msMiniCart" [[+total_count:isnot=`0`:then=`class="full"`:else=``]] data-cupcakescount="[[+total_cupcakescount]]">
	<div class="empty">
	    <div class="title">[[%ms2_minicart]]</div>
		<div class="descr">В корзине пусто. Добавьте что-то.</div>
	</div>
	<div class="not_empty">
	    <div class="title">[[%ms2_minicart]]</div>
	    <div class="descr">
    	    В вашей корзине <strong class="ms2_total_count">[[+total_count]]</strong> [[+total_count:msWordEnd=`товар`]] на сумму <strong class="ms2_total_cost">[[+total_cost]]</strong> руб.
		</div>
	</div>
</div>