id: 210
source: 1
name: tpl.msMiniCartNew
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_minicart.tpl

-----

<div id="msMiniCart" [[+total_count:isnot=`0`:then=`class="full"`:else=`class="empty"`]] data-cupcakescount="[[+total_cupcakescount]]">
    <div class="overCart [[+total_count:isnot=`0`:then=``:else=`hide`]]">
        
        <div class="productsContainer">
            [[!msMiniCartProductsGet]]
        </div>
        
        <div class="buttons">
            <a href="[[~3136]]" class="one">Оформить заказ ></a>
            <div class="one oneClick fastOrderOpenForm"><span>Заказать в один клик</span></div>
        </div>
        
    </div>
	<div class="empty">
	    <span  class="title">[[%ms2_minicart]]</span>
		<div class="descr">В вашей корзине совсем пусто</div>
	</div>
	<div class="not_empty">
	    <a href="[[~3136]]" class="title">[[%ms2_minicart]]</a>
	    <div class="descr">
    	    В вашей корзине <strong class="ms2_total_count">[[+total_count]]</strong> <span class="ms2_total_count_word">[[+total_count:msWordEnd=`товар`]]</span> на сумму <strong class="ms2_total_cost">[[+total_cost]]</strong> руб.
		</div>
	</div>
</div>