id: 131
source: 1
name: tpl.mSearch2.row
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.row.tpl

-----

<div class="mse2-row">
	[[+idx]]. <a href="[[+uri]]" class="search-link">[[+pagetitle]]</a>[[+weight]]
	[[+intro]]
</div>
<!--msearch2_weight  ([[%mse2_weight]]: [[+weight]])-->
<!--msearch2_intro <p>[[+intro]]</p>-->