id: 166
source: 1
name: tpl.Office.auth.register
description: ''
category: Office
properties: 'a:0:{}'
static_file: core/components/office/elements/chunks/chunk.auth.register.tpl

-----

<p>Вы успешно зарегистрировались на сайте [[++site_name]], указав почту [[+email]].</p>

<p>Пройдите, пожалуйста, <a href="[[+link]]">по ссылке</a>, чтобы активировать свою учетную запись.
<br/>Ваш пароль: <strong>[[+password]]</strong></p>