id: 211
source: 1
name: tpl.msMiniCartNew.one
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_minicart.tpl

-----

<a href="[[~[[+id]]?scheme=`full`]]" class="one">
    <div class="photo">
        <img src="[[+image]]" alt="" />
    </div>
    <div class="descr">
        <div class="title">[[+pagetitle]]</div>
        <div class="options">
            <small>
                [[+options.dough:notempty=`Тесто: [[+options.dough]]<br />`]]
                [[+options.stuffing:notempty=`Начинка: [[+options.stuffing]]<br />`]]
                [[+options.productType:is=`cakes`:then=`Вес торта`:else=`Количество`]]: [[+count]] [[+options.productType:is=`cakes`:then=`кг.`:else=`шт.`]]<br/>
                [[+options.cupcakes_count:notempty=`[[+options.cupcakes_count]] [[+options.cupcakes_count:msWordEnd=`капкейк`]]`]]
            </small>
        </div>
    </div>
</a>