id: 181
source: 1
name: tpl.up2User.Info
description: ''
properties: null
static_file: core/components/userprofile2/elements/chunks/chunk.up2_user_info.tpl

-----

<table class="table up2-user-info">
    <tbody>
    <tr>
        <td class="col-md-2"></td>
        <td class="col-md-10"><big>[[+firstname]]</big></td>
    </tr>
    <tr>
        <td>[[%up2_tickets]]</td>
        <td>[[!+up2.total.tickets]]</td>
    </tr>
    <tr>
        <td>[[%up2_comments]]</td>
        <td>[[!+up2.total.comments]]</td>
    </tr>
    <tr>
        <td>[[%up2_registration]]</td>
        <td>[[!+registration_format]]</td>
    </tr>
    <tr>
        <td>[[%up2_lastactivity]]</td>
        <td>[[!+lastactivity_format]]</td>
    </tr>
    </tbody>
</table>

[[+tabs]]