id: 167
source: 1
name: tpl.Office.profile.form
description: ''
category: Office
properties: 'a:0:{}'
static_file: core/components/office/elements/chunks/chunk.profile.form.tpl

-----

<style>
    .form-group {
        align-items: baseline !important;
    }
    .form-info {
        text-align: left;
        padding-left: 15px !important;;
    }
    form#office-profile-form {
        width: 80%;
    }
    .wind.prof.edit .form-group {
        margin: 0px 0px;
    }
</style>

<div style="height: calc(100% - 20px);">
[[$lkMenu]]
<div class="wind prof edit" style="border: 1px solid #a8434e;width: 100%;margin-top: -25px; 
            border-radius: 0 10px 10px 10px; {*box-shadow: 3px 3px 10px rgba(0,0,0,1), -3px -3px 10px rgba(0,0,0,1), -3px 3px 10px rgba(0,0,0,1), 3px -3px 10px rgba(0,0,0,1)*}">
    <form action="" method="post" class="form-horizontal well" id="office-profile-form" enctype="multipart/form-data">
    	<!--<div class="header">-->
    	<!--	<small>[[%office_profile_header]]</small>-->
    	<!--</div>-->
    	<!--<div class="form-group avatar">
    		<label class="control-label">[[%office_profile_avatar]]</label>
    		<div class="wind">
    		    <div class="avat">
        			<img src="[[+photo:empty=`[[+gravatar]]?s=100`]]" id="profile-user-photo" data-gravatar="[[+gravatar]]?s=100" width="100" />
    			</div>
    			<div class="info">
        			<a href="#" id="office-user-photo-remove" [[+photo:is=``:then=`style="display:none;"`]]>
        				[[%office_profile_avatar_remove]]
        				<i class="glyphicon glyphicon-remove"></i>
        			</a>
        			<p class="help-block">[[%office_profile_avatar_desc]]</p>
        			<input type="hidden" name="photo" value="[[+photo]]" />
        			<input type="file" name="newphoto" id="profile-photo" />
    			</div>
    		</div>
    	</div>-->
    
  <!--       <div class="form-group form-info">
      <label class="control-label">[[%office_profile_username]]<sup class="red">*</sup></label>
      <div class="wind">
          <input type="text" name="username" value="[[+username]]" placeholder="[[%office_profile_username]]"  class="form-control" />
          <p class="help-block message">[[+error_username]]</p>
          <p class="help-block desc">[[%office_profile_username_desc]]</p>
      </div>
  </div> -->
    	<div class="form-group form-info" style="display:none;">
    		<label class="control-label">[[%office_profile_username]]<sup class="red">*</sup></label>
    		<div class="wind">
    			<input type="text" name="fullname" value="[[+fullname]]" placeholder="[[%office_profile_fullname_desc]]" class="form-control" />
    			<input type="hidden" name="username" value="[[+username]]"/>
    			<p class="help-block message">[[+error_fullname]]</p>
    			<!--<p class="help-block desc">[[%office_profile_fullname_desc]]</p>-->
    		</div>
    	</div>
    	
    	<div class="form-group form-info">
    		<label class="control-label">Имя *</label>
    		<div class="wind">
    			<input type="text" name="extended[field][firstname]" value="[[+extended.field.firstname]]" placeholder="Имя" class="form-control" />
    		</div>
    	</div>
    	<div class="form-group form-info">
    		<label class="control-label">Фамилия</label>
    		<div class="wind">
    			<input type="text" name="extended[field][lastname]" value="[[+extended.field.lastname]]" placeholder="Фамилия" class="form-control" />
    		</div>
    	</div>

    	<div class="form-group form-info">
    		<label class="control-label">[[%office_profile_email]]<sup class="red">*</sup></label>
    		<div class="wind">
    			<input type="text" name="email" value="[[+email]]" placeholder="[[%office_profile_email]]" class="form-control" />
    			<p class="help-block message">[[+error_email]]</p>
    			<!--<p class="help-block desc">[[%office_profile_email_desc]]</p>-->
    		</div>
    	</div>
    	
    	<div class="form-group form-info">
    		<label class="control-label">Телефон</label>
    		<div class="wind">
    			<input type="text" name="phone" value="[[+phone:empty=`7`]]" placeholder="Телефон" class="form-control field-phone phone_mask" />
    			<p class="help-block message">[[+error_phone]]</p>
    		</div>
    	</div>
    	
    	<div class="form-group form-info">
    		<label class="control-label">Дата рождения</label>
    		<div class="wind">
    			<input type="text" name="dob" class="datePickMeUp" data-pmu-mode="single" data-pmu-format="Y-d-m" value="[[+dob:is=`0`:or:is=`1970-01-01`:then=`1990-01-01`:else=`[[+dob]]`]][[-+dob:strtotime:date=`%d.%m.%Y`]]" placeholder="Дата рождения" class="form-control" id="mask-dob" />
    			<p class="help-block message">[[+error_dob]]</p>
    		</div>
    	</div>  
    	
    	<div class="form-group form-info">
    		<label class="control-label">Адрес доставки</label>
    		<div class="wind">
    			<input type="text" name="extended[field][address]" value="[[+extended.field.address]]" placeholder="Адрес доставки" class="form-control" />
    		</div>
    	</div>
    
    	<div class="form-group form-info">
    		<label class="control-label">[[%office_profile_password]]</label>
    		<div class="wind">
    			<input type="password" name="specifiedpassword" value="" placeholder="********" class="form-control" />
    			<p class="help-block message">[[+error_specifiedpassword]]</p>
    			<!--<p class="help-block desc">[[%office_profile_specifiedpassword_desc]]</p>-->
    		</div>
    	</div>
    	
    	<div class="form-group form-info">
    		<label class="control-label">Повтор пароля</label>
    		<div class="wind">
    			<input type="password" name="confirmpassword" value="" placeholder="********" class="form-control" />
    			<p class="help-block message">[[+error_confirmpassword]]</p>
    			<!--<p class="help-block desc">[[%office_profile_confirmpassword_desc]]</p>-->
    		</div>
    	</div>
    
    	<div class="form-group social form-info">
    		<label class="control-label">[[%ha.providers_available]]</label>
    		<div class="wind" style="text-align: left;">
    			[[+providers]]
    		</div>
    	</div>
    
    	<div class="form-group">
    		<div class="wind">
    			<button type="submit" class="btn btn-primary butt">[[%office_profile_save]]</button>
    			<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
    			<!--<a class="btn btn-danger butt" href="[[~1]]?action=auth/logout">[[%office_profile_logout]]</a>-->
    		</div>
    	</div>
    </form>
</div>
</div>
<script>
    //$('a[href="lk/profile/"]').css('background','#fff');
</script>