id: 91
source: 1
name: tpl.AdminPanel.link
description: ''
category: AdminPanel
properties: null
static_file: core/components/adminpanel/elements/chunks/chunk.link.tpl

-----

<li class="[[+class]]">
	<a href="[[+link]]" target="[[+target]]">[[%ap_[[+title]]]]</a>
</li>