id: 168
source: 1
name: tpl.Office.profile.activate
description: ''
category: Office
properties: null
static_file: core/components/office/elements/chunks/chunk.profile.activate.tpl

-----

<p>Вы изменили email в своём профиле на сайте [[++site_name]].</p>

<p>Для подтверждения нового адреса вам нужно <a href="[[+link]]">пройти по ссылке</a>.</p>