id: 213
source: 1
name: tpl.msOrder.outer.new
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_order_outer.tpl

-----

<div id="table-main">
<form class="form-horizontal ms2_form" id="msOrder" method="post">
    
    
    <div id="continue-shopping"><a href="/"><span id="continue-button">&#8656;</span>Продолжить покупки</a></div>
    <div class="wrap" id="checkCandyBarVisible">
        
        <div class="table-immitate">
            <div class="radios">
                <div class="radio-wrap">
                    <input type="radio" checked class="radio" id="pack_1" name="pack" data-price="0" value="0" [[+pack:is=`0`:then=`checked="checked"`]] />
                    <label for="pack_1">Обычная надежная упаковка (бесплатно)</label>
                </div>
                <div class="radio-wrap">
                    <input type="radio" class="radio" id="pack_2" name="pack" data-price="300" value="300" [[+pack:is=`300`:then=`checked="checked"`]] />
                    <label for="pack_2">Подарочная упаковка (300 руб) <span class="hint_pack_192342"><img src="/assets/img/question3.png" width="15" alt=""></span></label>
                    
                    <script>
                    	//$(document).ready(function()
                    	//{
                    		{var $hint = "<img src='./assets/images/upakovka.jpg' style='width: 170px;'  >"}
                    		window.cupcakeTooltips = window.cupcakeTooltips || {};
                    		window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
                    		
                    		window.cupcakeTooltips["192342"] = '.hint_pack_192342';
                    		window.cupcakeTooltipsContent["192342"] = "{$hint|replace:"\r":""|replace:"\n":""}";
                    	//});
                    </script>
                </div>
            </div>
            <div class="price">
                <span id="packPriceResult">0</span> руб
            </div>
        </div>
    </div>
    
    
    
    <div class="wrap">
        
        <div class="table-immitate">
            <div class="radios">
                [[+deliveries]]
            </div>
            <div class="price">
                <span id="deliveryPriceResultFrom" style="display: none;">от </span><span id="deliveryPriceResult">0</span> руб
            </div>
            <div class="wrap" style="text-align: center;" id="deliveryPriceResultInfo">
    	<div class="promote-sale">Доставка при заказе от 10 тыс. рублей по Москве бесплатна</div>
    </div>
        </div>
    </div>
    
    
    
    
    <div class="span6 col-md-6" id="payments" style="display: none;">
		<h4>[[%ms2_frontend_payments]]:</h4>
		<div class="form-group">
			<label class="col-sm-4 control-label" ><span class="required-star">*</span> [[%ms2_frontend_payment_select]]</label>
			<div class="col-sm-6">
				[[+payments]]
			</div>
		</div>
	</div>
    
    <div id="total-result">
        <div class="details">
            <h2>Сумма к оплате: <b class="ms2_order_cost">[[+order_cost:default=`0`]]</b> руб</h2>
            [[-<p id="cartEconomRubContainer">Вы сэкономили  <b id="cartEconomRub"></b> руб.</p>]]
            <!--p>&#9885;	+185 на бонусный счёт</p-->
            <div class="make-order">
                <button type="button" id="orderSubmitGoCheck" class="" data-href="#orderSubmitGo">Оформить заказ</button>
            </div>
            <div class="make-order-1-click">
                <div class="ili">или</div>
                <span class="fastOrderOpenForm"><span>Заказать в один клик</span></span>
            </div>
        </div>
    </div>
    
    
    <div id="orderSubmitGo">
        <div class="name">
            <h3>Информация о доставке</h3>
        </div>
        
        <div class="tabs-choice-container">
        <div class="tabs-choice" style="text-align: left;">
			<button type="button" class="active button-tab-switch non-registered">Персональные данные</button>
			[[+modx.user.id:isnotloggedin:is=`1`:then=`
			<button type="button" class="button-tab-switch registered" style="margin-left: -0.36em">Я уже зарегистрирован</button>
			`]]

		</div>
		</div>
		<div class="clear"></div>
        
        <div id="delivery-info">
            
    		<div class="users-info">
    			
    			<div id="register-window" class="users-data">
    				<div class="input form-group input-parent required [[!+receiver:notempty=`statusOk`]]">
    					<label for="receiver">Как к Вам обращаться? <span class="required-star">*</span></label>
    					<input required tabindex="1" name="receiver" type="text" id="receiver" placeholder="Укажите имя" value="[[!+receiver]]" class="[[+errors.receiver]]" />
    					<i class="status done"></i> <i class="status notdone"></i>
    				</div>
    				<div class="input form-group input-parent required [[!+phone:ne=`7`:and:ne=``:then=`statusOk`]]">
    					<label for="phone">Как мы можем с Вами связаться? <span class="required-star">*</span> <span class="hint">Например: +7(911)123-45-67</span></label>
    					<input required tabindex="2" type="tel" id="phone" name="phone" placeholder="Укажите телефон" value="[[!+phone:empty=`7`]]"  class="phone-mask [[+errors.phone]]">
    					<i class="status done"></i> <i class="status notdone"></i>
    				</div>
    				<div class="input form-group input-parent required [[!+email:notempty=`statusOk`]]">
    					<label for="email" class="control-label">Куда отправить номер заказа? <span class="required-star">*</span> <span class="hint">Например: example@mail.ru</span></label>
    				    	<input required tabindex="3" type="email" name="email" id="email" placeholder="Укажите e-mail" value="[[!+email]]" class="[[+errors.email]]" />
    					<i class="status done"></i> <i class="status notdone"></i>
    				</div>
    				
    				<div class="input form-group input-parent required [[+street:notempty=`statusOk`]] [[!ms2GetLastAddress:notempty=`statusOk`]]" id="deliveryPickupStreet">
    					<label for="street">Куда доставить? <span class="required-star">*</span></label>
    					<input    tabindex="4" name="street" type="text" id="street" placeholder="Укажите адрес доставки" value="[[+street:empty=`[[!ms2GetLastAddress]]`]]" class="[[+errors.street]]" />
    					<i class="status done"></i> <i class="status notdone"></i>
    					
    					
    					[[!ms2GetLastAddress:ne=``:then=`
    					<select name="listAddressesBefore" class="select_ili">
				            <option value=" ">или выбрать из списка</option>
				            [[!ms2GetLastAddress?tpl=`1`]]
				        </select>
				        
				        `?tpl=`1`]]
    				        
    				</div>
    				
    			</div>
    		</div>
        	<div class="special-info">
        		<div class="time-choice">
        			<div id="calendar" class="input form-group input-parent required">
        				<label for="city">Дата получения заказа  <span class="required-star" style="display:inline;">*</span></label>
        				<input readonly required tabindex="5" type="text" id="city" name="cityDate" class="datePickMeUp" data-pmu-min=" [[+phx:input=`now`:strtotime:date=`%d/%m/%Y`]]" data-pmu-mode="single" data-pmu-format="d/m/Y" value="[[+cityDate]]" />
        				<i class="status done"></i> <i class="status notdone"></i>
        			</div>
        			<div class="input form-group input-parent required">
        				<label for="delivery-time">Желаемое время  <span class="required-star"  style="display:inline;">*</span></label>
        				<input required tabindex="6" type="tel" name="cityCron" class="timeInput" id="delivery-time" min="00:00" value="" max="24:00"  />

        				<i class="status done"></i> <i class="status notdone"></i>
        			</div>
        			<input type="hidden" name="city" value="[[+city]]" />
        			<div class="input form-group input-parent">
        			    <label for="comment">Комментарий к заказу  <span class="required-star">*</span></label>
        				<textarea tabindex="7" id="comment" name="comment" placeholder="Комментарий к заказу">[[+comment]]</textarea>
        			</div>
        
        			<div class="input form-group input-parent input-gift">
        				<input type="checkbox" name="thisIsPresent" value="1" [[+thisIsPresent:is=`1`:then=`checked="checked"`]] /> Это подарок <span class="hint_cupcake_thisIsPresent"><img src="/assets/img/question3.png" width="15" alt=""></span>

                        <script>
                        	//$(document).ready(function()
                        	//{
                        		{var $hint = 'Мы доставим получателю сюрприз и не сообщим ему стоимость. Всю информацию об оплате Вы получите на электронную почту.'}
                        		window.cupcakeTooltips = window.cupcakeTooltips || {};
                        		window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
                        		
                        		window.cupcakeTooltips["thisIsPresent"] = '.hint_cupcake_thisIsPresent';
                        		window.cupcakeTooltipsContent["thisIsPresent"] = "{$hint|replace:"\r":""|replace:"\n":""}";
                        	//});
                        </script>
        				<div class="message" style="display: none;">
        				    <input id="gift_name" name="country" type="text" value="[[+country]]" placeholder="Имя получателя *"><br/>
        				    <input name="index" type="tel" id="gift-phone" class="phone-mask" value="[[!+index:empty=`7`]]" placeholder="Контактный телефон получателя *">
        				</div>
        			</div>
        			<div class="input form-group input-parent">
        				<div><input type="checkbox" name="ostavitZapisku" value="1" [[+ostavitZapisku:is=`1`:then=`checked="checked"`]] /> Добавить записку</div>
        				<div class="message" style="display: none;">
        				    <input name="region" type="text" value="[[+region]]" maxlength="80" placeholder="Пример: Катеньке от любящего мужа">
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        
    </div>
	
	<div class="well cart-price-end">
		<div class="col-md-offset-2">
			<h3>Сумма к оплате: <b class="ms2_order_cost">[[+order_cost:default=`0`]]</b> [[%ms2_frontend_currency]]</h3>
			<div style="text-align: center; padding-bottom: 25px;"><button type="submit" name="ms2_action" value="order/submit" class="orderCompleteButton">Подтвердить заказ</button></div>
		</div>
	</div>
</form>
</div>