id: 169
source: 1
name: tpl.Office.ms2.outer
description: ''
category: Office
properties: 'a:0:{}'
static_file: core/components/office/elements/chunks/chunk.ms2.outer.tpl

-----

[[$lkMenu]]
<div id="office-minishop2-grid">
	<div id="office-preloader"></div>
</div>