id: 142
source: 1
name: tpl.mFilter2.outer.2
description: ''
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.outer.tpl

-----

<div class="msearch2" id="mse2_mfilter">
    
	<noindex>
	    <form action="" method="post" id="mse2_filters" style="display:none">
    		[[+filters]]
    		<br/>
    		[[+filters:isnot=``:then=`
    			<button type="reset" class="btn btn-default">[[%mse2_reset]]</button>
    			<button type="submit" class="btn btn-success pull-right hidden">[[%mse2_submit]]</button>
    			<div class="clearfix"></div>
    		`]]
    	</form>
    
    	[[-<h3>[[%mse2_filter_total]] <span id="mse2_total">[[+total:default=`0`]]</span></h3>]]

	    [[!+results:is=`-`:then=``:else=`
    	<div id="mse2_sort" class="">
            <div class="wrap">
                <ul class="">
                    <li class="sort-label">Сортировать по: </li>
                    <li><a data-sort="ms|price" data-dir="[[+mse2_sort:is=`ms|price:asc`:then=`asc`]]" data-default="asc" class="sort sort-number [[+mse2_sort:is=`ms|price:asc`:then=`active`]]">Цене <span></span></a></li>
                    <li><a data-sort="orders" data-dir="[[+mse2_sort:is=`orders:desc`:then=`desc`]]" data-default="desc" class="sort [[+mse2_sort:is=`orders:desc`:then=`active`]]">Популярности <span></span></a></li>
                    <li><a data-sort="resource|publishedon" data-dir="[[+mse2_sort:is=`resource|publishedon:desc`:then=`desc`]]" data-default="desc" class="sort">Новизне <span></span></a></li>
                    [[+mse2_sort:ne=`ms|article:asc`:then=`<li><a data-sort="default" data-dir="asc" data-default="asc" class="sort">Сбросить</a></li>`]]
                </ul>
            </div>
    	</div>
	    `]]
	</noindex>

	<div id="mse2_results">
		[[!+results:is=`-`:then=`[[!$searchNotFound]]`:else=`[[!+results]]`]]
	</div>
    
    <div class="clear"></div>
    
	<div class="mse2_pagination">
		[[!+page.nav]]
	</div>
</div>