id: 190
source: 1
name: tpl.RecentlyViewed.row
description: ''
category: RecentlyViewed
properties: 'a:0:{}'
static_file: core/components/recentlyviewed/elements/chunks/chunk.row.tpl

-----

<div class="col-md-4">
    <div class="row">
    <div class="col-md-6">
        {if $thumb?}
            <img src="{$thumb}" alt="{$pagetitle}" title="{$pagetitle}"/>
        {else}
            <img src="{'assets_url' | option}components/minishop2/img/web/ms2_small.png"
                 srcset="{'assets_url' | option}components/minishop2/img/web/ms2_small@2x.png 2x"
                 alt="{$pagetitle}" title="{$pagetitle}"/>
        {/if}
    </div>
    <div class="col-md-6">
            <a href="{$id | url}">{$pagetitle}</a>
            <span class="price">
                {$price} {'ms2_frontend_currency' | lexicon}
            </span>
            {if $old_price?}
                <span class="old_price">{$old_price} {'ms2_frontend_currency' | lexicon}</span>
            {/if}
    </div>
    </div>
</div>