id: 218
name: tpl.AjaxForm.fastorder
description: ''
category: AjaxForm
properties: 'a:0:{}'

-----

<div id="fastOrderForm" data-loc="[[~606?scheme=`full`]]"><div class="form-cash-close"></div>
<div class="titleForm">Быстрый заказ</div>
    <form action="[[~[[*id]]]]" method="post">
        <label class="input">
            <div class="caption">Как к Вам обращаться? <span class="required">*</span></div>
            <input type="text" name="receiver" value="[[+modx.user.id:userinfo=`fullname`]]" placeholder="Укажите имя" />
        </label>
        
        <label class="input">
            <div class="caption">Как мы можем с Вами связаться? <span class="required">*</span></div>
            <input type="text" name="phone" value="[[+modx.user.id:userinfo=`phone`:empty=`7`]]" placeholder="Укажите телефон" class="phone_mask" />
        </label>
        
        <label class="input">
            <div class="caption">Куда отправить номер заказа? <span class="required">*</span></div>
            <input type="text" name="email" value="[[+modx.user.id:userinfo=`email`]]" placeholder="Укажите e-mail" />
        </label>
        
        <label class="input">
            <div class="caption">Дата доставки <span class="required">*</span></div>
            <input type="text" name="city" readonly value="[[+cityDate]]" placeholder="" class="datePickMeUpQuick" data-pmu-min="[[+phx:input=`now`:strtotime:date=`%d/%m/%Y`]]" data-pmu-mode="single" data-pmu-format="d/m/Y"  />
        </label>
        
        <label class="input">
            <div class="caption">Комментарий</div>
            <textarea name="comment" value="" placeholder="Комментарий к заказу"></textarea>
        </label>
        
        <div class="submit">
            <button  onsubmit="alert('submit');return false" type="submit" name="ms2_action">Оформить заказ</button>
        </div>
        
    </form>
    
</div>