id: 102
source: 1
name: tpl.msOptions.outer
description: ''
category: miniShop2
properties: null
static_file: core/components/minishop2/elements/chunks/chunk.ms_options_outer.tpl

-----

<div class="form-group">
	<label class="col-sm-2 control-label">[[%ms2_product_[[+name]]]]:</label>
	<div class="col-sm-3">
		<select name="options[[[+name]]]" class="form-control">[[+rows]]</select>
	</div>
</div>