id: 140
source: 1
name: tpl.mFilter2.filter.radio
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.radio.tpl

-----

<label for="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" class="[[+disabled]]">
	<input type="radio" name="[[+filter_key]]" id="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" value="[[+value]]" [[+checked]] [[+disabled]]/> [[+title]] <sup>[[+num]]</sup>
</label><br/>