id: 212
source: 1
name: tpl.msOrder.delivery.new
description: ''
category: ms2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_order_delivery.tpl

-----

<div class="radio-wrap">
    <input type="radio" class="radio" name="delivery" value="[[+id]]" id="delivery_[[+id]]" data-payments='[[+payments]]' [[+checked]] data-price="[[+price]]" />
    <label for="delivery_[[+id]]">
    [[+id:is=`1`:then=`
        <span class="cupcakes deliveryPickUp">[[+name]] (м. Полежаевская, ул. 1-я Магистральная, д.22)</span>
        <span class="others deliveryPickUp">[[+name]] (м. Водный Стадион, ул. Адмирала Макарова д.22)</span>
    `]]
    [[+id:is=`2`:then=`
        [[+name]]
    `]]
    [[+id:is=`3`:then=`
        [[+name]]
    `]]
        [[+description:notempty=`<span class="hint_cupcake_[[+id]]"><img src="/assets/img/question3.png" width="15" alt=""></span>

        <script>
        	//$(document).ready(function()
        	//{
        		{var $hint = '[[+description]]'}
        		window.cupcakeTooltips = window.cupcakeTooltips || {};
        		window.cupcakeTooltipsContent = window.cupcakeTooltipsContent || {};
        		
        		window.cupcakeTooltips["[[+id]]"] = '.hint_cupcake_[[+id]]';
        		window.cupcakeTooltipsContent["[[+id]]"] = "{$hint|replace:"\r":""|replace:"\n":""}";
        	//});
        </script>
        `]]
    </label>
</div>

<!--minishop2_logo <img src="[[+logo]]" />-->
<!--minishop2_description <p><small>[[+description]]</small></p>-->