id: 139
source: 1
name: tpl.mFilter2.filter.number
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.number.tpl

-----

<div class="form-group col-md-6">
	<label for="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]">[[+title]]
		<input type="text" name="[[+filter_key]]" id="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" value="[[+value]]" class="form-control input-sm" />
	</label>
</div>