id: 189
source: 1
name: tpl.profileOrdersList.row
description: ''
properties: 'a:0:{}'

-----

<tr class="order_content">
    <td>[[+id]]</td><td>[[+createdon:strtotime:date=`%d.%m.%Y %H:%I`]]</td><td>[[+cost]]</td><td>[[+delivery]]</td><td>
        <a href="" onclick="show_order_info([[+id]]); return false;" title="Подробности" style="cursor: pointer;">Просмотреть заказ</a>
        <div class="order_table_info order_table_info_[[+id]]">
            <div style="text-align:left;float:left;">Заказ №<b>[[+id]]</b></div><div style="text-align:right;">
                <img src="http://www.iconsearch.ru/uploads/icons/minimal/64x64/gtk-close.png" style="cursor: pointer;" width="24" border=0 onclick="hide_order_info([[+id]])">
            </div>
            <hr>
            <div style="text-align:left;">
                Покупатель: <b>[[+receiver]]</b><br>
                Стоимость покупок: <b>[[+cart_cost]]</b><br>
                Стоимость доставки: <b>[[+delivery_cost]]</b><br>
                Стоимость заказа: <b>[[+cost]]</b><br>
                Адрес: <b>[[+street]]</b><br>
                Комментарий: <b>[[+comment]]</b><br><br>

                <table style="width:600px;" class="order_table"><tr class="order_title"><td>Товар</td><td>Цена</td><td>Количество</td><td>Стоимость</td></tr>
                <script>
                    var info = [[+fullInfo]];
                    var products = info.products;
                    for (var key in products)
                    {
                        document.write("<tr class='order_content'><td><a href='"+products[key].uri+"' target='_blank'>"  +products[key].name+"</a></td><td>"+products[key].price+"</td><td>"+products[key].count+"</td><td>"+products[key].cost+"</td></tr>"); 
                    }
                </script>
                </table>
            </div>
        </div>
    </td>
</tr>    