id: 113
source: 1
name: tpl.msGetOrder.row
description: ''
category: miniShop2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_get_order_row.tpl

-----

<tr>
	<td class="image"><img src="[[++site_url]][[+thumb:default=`[[++assets_url]]components/minishop2/img/web/ms2_small.png`]]" /></td>
	<td class="title">[[+link:isnot=``:then=`<a href="[[+link]]">[[+name]]</a>`:else=`[[+name]]`]]<br/>
		<small><i>[[+option.color]] [[+option.size]]</i></small>
	</td>
	<td class="count">[[+count]] [[%ms2_frontend_count_unit]]</td>
	<td class="weight">[[+weight]] [[%ms2_frontend_weight_unit]]</td>
	<td class="price">[[+price]] [[%ms2_frontend_currency]]</td>
</tr>
<!--minishop2_option.color [[%ms2_frontend_color]]: [[+option.color]];-->
<!--minishop2_option.size [[%ms2_frontend_size]]: [[+option.size]];-->
