id: 90
source: 1
name: tpl.AdminPanel.group
description: ''
category: AdminPanel
properties: null
static_file: core/components/adminpanel/elements/chunks/chunk.group.tpl

-----

<li class="ap-dropdown">
	<a href="#" class="ap-dropdown-toggle" data-toggle="ap_dropdown">[[%ap_[[+title]]]] <b class="ap-caret"></b></a>
	<ul class="ap-dropdown-menu [[+title]]">
		[[+links]]
	</ul>
</li>