id: 144
source: 1
name: tpl.mSearch2.ac.2
description: ''
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.ac.tpl

-----

{var $isCupcake = ($productType == 'cupcake') ? '1' : '0'}
{var $isSets = ('28' in $_modx->getParentIds($id)) ? '1' : '0'}
{var $price = (($isCupcake && !$isSets) ? 'от ' : '') ~ $_modx->runSnippet('pdoField', ['class' => 'msProductData', 'id' => $id, 'field' => 'price'])}

{*
<div class="mse2-ac-item">
	<img src="{$_modx->runSnippet('phpthumbon', ['input' => $_pls['image'], 'options' => 'w=40&h=40'])}" style="vertical-align:middle"> <span style="vertical-align:middle">{$H1}</span> <span class="mse2-ac-weight"><small>{$price}</small></span>
</div>
*}

<div class="mse2-ac-item" style="padding: 0;">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	        <td width="50">
	            <img src="{$_modx->runSnippet('phpthumbon', ['input' => $_pls['image'], 'options' => 'w=40&h=40'])}">
	        </td>
	        <td>{$H1}</td>
	        <td width="60" align="right">
	            <small>{$price}</small>
	        </td>
	    </tr>
	</table>
</div>

<!--msearch2_weight <span class="mse2-ac-weight"><small>[[%mse2_weight]]: [[+weight]]</small></span>-->
<!--msearch2_intro <br/><small>[[+intro]]</small>-->