id: 188
source: 1
name: tpl.profileOrdersList.outer
description: ''
properties: 'a:0:{}'

-----

<style>
    .order_table {
        border: solid #a8434e 0px;
        border-collapse: collapse;
    }
    .order_title {
        text-align: center;
        color: #df476e;
        height: 35px;
        {*background-color: #F6CEF5;*}
        font-weight: bold;
    }
    .order_content {
        height: 35px;
        text-align: center;
    }
    .order_table_info {
        display:none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 60%;
        height: 40%;
        background-color: #FFFFFF;
        z-index: 110;
        padding: 15px;
        border: solid #a8434e 3px;
        overflow: auto;
    }
    @media (max-width: 899px) {
        #order_table_info {
            width: 60%;
        }
    }
</style>
<script>
    function show_order_info(id) {
        $(".order_table_info").hide();
        $(".order_table_info_" + id).toggle();
    }
    function hide_order_info(id) {
        $(".order_table_info_" + id).hide();
    }
</script>
<div style="height: calc(100% - 20px);">
[[$lkMenu]]
<div class="wind prof edit" style="border: 1px solid #a8434e;width: 100%;margin-top: -25px; border-radius: 0 10px 10px 10px; padding-bottom:10px;">
<table style="width: 800px;" class="order_table">
    <tr class="order_title">
        <td style="width: 227px;">Номер заказа</td><td style="width: 227px;">Дата создания</td><td style="width: 227px;">Стоимость</td><td style="width: 227px;">Доставка</td><td style="width: 227px;">Действия</td>
    </tr>
    [[+orders]]
</table>
</div>
</div>
<script>
    //$('a[href="lk/orders/"]').css('background','#fff');
</script>