id: 165
source: 1
name: tpl.Office.auth.activate
description: ''
category: Office
properties: null
static_file: core/components/office/elements/chunks/chunk.auth.activate.tpl

-----

<p>Вы (или кто-то другой) запросил сброс пароля для вашего email на сайте [[++site_name]].</p>

<p>Если это действительно были вы, то вам нужно <a href="[[+link]]">пройти по ссылке</a>, для активации нового пароля: <strong>[[+password]]</strong>
<br/>В противном случае, просто удалите это письмо.</p>