id: 143
source: 1
name: tpl.mSearch2.form.2
description: ''
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.form.tpl

-----

<form action="[[~[[+pageId]]]]" method="get" class="well msearch2" id="mse2_form">
	<input class="form-control" type="text" name="{$queryVar|unescape:"url"}" data-pageurl="[[~[[+pageId]]? &scheme=`full`]]" placeholder="[[%mse2_search]]" value="[[+mse2_query]]" />
	<button type="submit">Искать</button>
</form>