id: 115
source: 1
name: tpl.msProductOptions.row
description: ''
category: miniShop2
properties: null
static_file: core/components/minishop2/elements/chunks/chunk.ms_product_options_row.tpl

-----

<tr>
    <td>
        <b>[[+caption]]:</b>
    </td>
    <td>
        [[+value]]
    </td>
</tr>