id: 192
name: tpl.msOptionsQuickView.outer
description: ''
category: miniShop2
properties: null

-----

<div class="form-group">
    <label class="col-sm-2 control-label">[[%ms2_product_[[+name]]]]:</label>
    <div class="col-sm-3">
        <select name="options[[[+name]]]" data-key="[[+key]]" class="form-control">[[+rows]]</select>
    </div>
</div>