id: 184
source: 1
name: tplAuth
description: ''
properties: 'a:0:{}'

-----

<noindex>
<div class="upload-photo" style="text-align: center;position:static;">
<!-- Размеры формы -->
<div itemscope="" itemtype="http://schema.org/RegisterAction" class="product shk-item" style="width: 300; height: 800;position:static;">

    <style>
        .forms * {
            padding: 2px 0;
        }
    </style>
    <div id="office-auth-form" class="pos_fix switch hidden sw1 [[*id:is=`3136`:then=`inCart`]]">
        <div class="h"></div>
        <div class="forms">
            <!-- Форма логина123 -->
            <div class="cls">
                <div class="s_label cls" style="margin: 0px 0px;text-align:center;">
                    <div class="switch" style="margin-right: -6px;">
                        <label for="s1" class='active' style="border-radius:0;">Авторизация</label>
                    </div>
                    <div class="switch">
                        <label for="s2" style="border-radius:0;">Регистрация</label>
                    </div>
                </div>
        		<div class="form-cash-close switcher_button sw1 f-right"  ></div>
            </div>
          
            <div class="s_radio cls">
                <div class="switch">
                    <input type="radio" name="switch" id="s1" checked >
                    <div class="cont">
                        <form method="post" class="form-horizontal product-form ajax_form" id="office-auth-login">
                            <div class="form-group">
                                <div class="heading" style="font-weight: 800; text-align: center;">Вход в личный кабинет</div>
                                <label for="office-auth-login-email" class="col-md-3 control-label"><span class="authCheckValidateInput active" data-type="email">E-mail</span> или <span class="authCheckValidateInput" data-type="phone">номер телефона</span></label>
                                <div class="col-md-8">
                                    <input type="text" name="username" placeholder="example@mail.com или 79011234567" class="form-control" id="office-auth-login-username" value="" />
                                    <!--<p class="help-block"><small>[[%office_auth_login_username_desc]]</small></p>-->
                                </div>

                                <label for="office-auth-login-password" class="col-md-3 control-label">[[%office_auth_login_password]]</label>
                                <div class="col-md-8">
                                    <input type="password" name="password" placeholder="" class="form-control" id="office-login-form-password" value="" />
                                    <div class="row" style="padding-top:5px;">
                                    <div class="col-sm-2" style="margin: auto; display: block; text-align: center; padding-right:3px;">
                                        <button type="submit" class="btn btn-primary">[[%office_auth_login_btn]]</button>
                                    </div>
                                    <div class="col-sm-6" style="line-height:1;font-size:12px;">
                                        [[%office_auth_login_password_desc]]
                                    </div>
                                    </div>
                                </div>

                                <input type="hidden" name="action" value="authCustom/formLogin" />
                                <input type="hidden" name="return" value="" />
                             <!--    <div class="col-sm-offset-3 col-sm-8">
                                 <button type="submit" class="btn btn-primary">[[%office_auth_login_btn]]</button>
                             </div> -->
                            </div>
                            <div class="bord">
                                <div class="field">
                                    <p>У Вас еще нет своего профиля?<br>
                                    
                                        <span style="font-weight: 600; cursor: pointer; color: #df476e;" class="jsclick">Создайте его</span>, и получайте преимущества в полной мере</p>
                                </div>
                                <!--<label>[[%office_auth_login_ha]]</label>-->
                                <div style="text-align: center;">[[+providers]]</div>
                                <p class="help-block"><small>[[%office_auth_login_ha_desc]]</small></p>
                                [[+error:notempty=`
                                <div class="alert alert-block alert-danger alert-error">[[+error]]</div>
                                `]]
                            </div>
                        </form>
                        <div class="heading" id="passLost" style="display:none;text-align:left;margin-top:15px;">Дальнейшие инструкции отправлены в письме. <br>Проверьте свой почтовый ящик.</div>
                    </div>
                </div>
                <div class="switch">
                    <input type="radio" name="switch" id="s2" >
                    <div class="cont">
                        <form method="post" class="form-horizontal product-form ajax_form" id="office-auth-register" >
                                <!-- <div class="form-cash-close" onclick="disp(document.getElementById('office-auth-register'))"></div> -->
                                <div class="form-group">
                                    <div class="heading">Регистрация на сайте</div>
                                    <div class="bord">
                                        <div class="field ">
                                            <ul style="list-style-type: none;">
                                                <li>✓ Первыми знакомьтесь со скидками и акциями</li>
                                                <li>✓ Сохраняйте желаемые товары в Список желаний</li>
                                                <li>✓ Экономьте время при заказах</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <label for="office-authw-register-email" class="col-md-3 control-label">[[%office_auth_register_email]]&nbsp;<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <input type="email" name="email" placeholder="" class="form-control" id="office-auth-register-email" value="" />
                                        <p class="help-block"><small>[[%office_auth_register_email_desc]]</small></p>
                                    </div>
                                    <label for="office-auth-register-password" class="col-md-3 control-label">[[%office_auth_register_password]]&nbsp;<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <input type="password" name="password" placeholder="" class="form-control" id="office-register-form-password" value="" />
                                        <p class="help-block"><small>[[%office_auth_register_password_desc]]</small></p>
                                    </div>
                                    <label for="office-auth-register-fullname" class="col-md-3 control-label">[[%office_auth_register_fullname]]&nbsp;<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <input type="text" name="fullname" placeholder="" class="form-control" id="office-register-form-fullname" value="" />
                                        <p class="help-block"><small>[[%office_auth_register_fullname_desc]]</small></p>
                                    </div>
                                    <input type="hidden" name="action" value="auth/formRegister" />
                                    <div class="col-sm-offset-3 col-sm-8" style="text-align:center;">
                                        <button type="submit" class="btn btn-danger">[[%office_auth_register_btn]]</button>
                                    </div>
                                </div>
                        </form>
                        <div class="heading" id="registerMess" style="display:none;text-align:left;margin-top:15px;">Регистрация прошла успешно<br>Перейдите по ссылке, отправленной на электронную почту, для активации аккаунта</div>
                    </div>
                </div>
            </div>
            <!--<div class="s_label cls">-->
            <!--    <div class="switch">-->
            <!--        <label for="s1" class='active' >Вход</label>-->
            <!--    </div>-->
            <!--    <div class="switch">-->
            <!--        <label for="s2">Регистрация</label>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</noindex>
