id: 187
source: 1
name: tplAuthLogoutHead
description: ''
properties: 'a:0:{}'

-----


<style>
    .logout_menu {
        position: relative;
        text-align:left;
        z-index: 120;
    }
    .logout_menu div {
        background-color: #FFFFFF;
        border: solid #000000 1px;
        width: 200px;
    }
    .logout_menu div:hover {
        background-color: #A72B39;
        color: #fff;
    }
    .logout_menu div a {
        text-decoration: none;
        display: block; 
        height: 100%;
        width: 100%;
        color:#df476e;
        margin: 6px;
    }
    .logout_menu div a:hover {
        color: #FFFFFF;
    }
</style>
<noindex>
<div class="logout_menu">
    <div class='profile'><a href="/lk/profile/">Профиль</a></div>
    <div class='exit-profile'><a href="/?action=auth/logout">Выход</a></div>
</div>
<input type="hidden" id="user-fullname" value="[[+fullname]]">
<input type="hidden" id="user-email" value="[[+email]]">
<input type="hidden" id="user-address" value="[[+extended.field.address]]">
</noindex>