id: 60
name: trust-us
description: ''
category: 'Основной шаблон'
properties: 'a:0:{}'

-----

<p class="reviews_title">Нам доверяют</p>
<div id="trust-us">
<img class="trust-us-img" src="/assets/img/1.jpg" alt="">
<img class="trust-us-img" src="/assets/img/2.jpg" alt="">
<img class="trust-us-img" src="/assets/img/3.jpg" alt="">
<img class="trust-us-img" src="/assets/img/4.jpg" alt="">
<div class="clear"></div>
</div>