id: 172
source: 1
name: up2.list.users
description: ''
properties: null
static_file: core/components/userprofile2/elements/chunks/chunk.up2_list_users.tpl

-----

<div id="tickets-wrapper">
    <div id="tickets-rows">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"></div>
            <div class="col-md-2">[[%up2_tickets]]</div>
            <div class="col-md-2">[[%up2_comments]]</div>
        </div>
        <br>

        [[!pdoPage?
            &element=`up2Users`
            &showInactive=`1`
            &limit=`10`
        ]]

        [[!+page.nav]]

    </div>
</div>
