id: 129
name: valentines-day
description: ''
properties: 'a:0:{}'

-----

<div class="valentines-day">
<div class="page">
    <img style="float: left;    width: 100px;    margin-left: 210px;    margin-top: 11px;" src="/assets/img/action/valentines-day/009.png" alt="">
<img style="float: right;margin-right: 40px;width: 120px; display: block;" src="/assets/img/action/valentines-day/005.png" alt="">
<h1 style="padding-top: 105px;padding-left: 230px;">Готовите сюрприз на 14 февраля?</h1>
<div class="clear"></div>
<div>
<img class="mob-hidden" style="float: left;margin-right: 20px;width: 200px;" src="/assets/img/action/valentines-day/002.png" alt="">
<p style="padding: 20px;">Уже сталкивались с ситуацией, когда к праздникам все кондитерские переполнены заказами или не могут доставить вовремя? </p></div>
<div class="clear"></div>
<img style="float: right;margin-left: 20px;width: 270px;" src="/assets/img/action/valentines-day/003.png" alt="">
<p style="padding: 18px 0;text-align: right;">Оставьте предварительный заказ и он будет гарантировано выполнен к нужному времени, с учетом всех ваших пожеланий.</p>
<div class="clear"></div>
<img style="float: left;margin-right: 20px;width: 230px;" src="/assets/img/action/valentines-day/004.png" alt="">
<p style="padding: 28px 0;text-align: left;"><strong>При оформлении заказа до 07 февраля</strong> указывайте промокод «Love» в комментарии к заказу и <strong>получите скидку</strong> на все товары ко Дню Влюбленных.</p>
<div class="clear"></div>
<p style="text-align: center;">Размер скидки от 5-ти до 15-ти % и зависит от стоимости вашего заказа.</p>
<div class="button"><a href="/kapkeyki/dlya-vlyublennyh/">Подобрать подарок</a></div>
<div class="clear"></div>

<div class="see-also-block">
<h2>Другие подходящие товары:</h2>
<div><a href="kapkeyki/dlya-vlyublennyh/"><img src="/assets/img/action/valentines-day/see-also/kapkeyki.jpg" alt="Капкейки для влюбленных"><span>Капкейки для влюбленных</span></a></div>
<div><a href="torty/dlya-vlyublennyh/"><img src="/assets/img/action/valentines-day/see-also/torty.png" alt="Торты для влюбленных"><span>Торты для влюбленных</span></a></div>
<div><a href="macarons-priznanie-v-lyubvi/"><img src="/assets/img/action/valentines-day/see-also/macarons.jpg" alt="Макаронс для влюбленных"><span>Макаронс для влюбленных</span></a></div>
<div><a href="imbirnoe-pechenye/dlya-vlyublennyh/"><img src="/assets/img/action/valentines-day/see-also/imbirnoe.jpg" alt="Имбирные пряники для влюбленных"><span>Имбирные пряники для влюбленных</span></a></div>
<div><a href="cakepops/"><img src="/assets/img/action/valentines-day/see-also/cakepops.jpg" alt="Кейкпопсы"><span>Кейкпопсы</span></a></div>
</div>

<div class="clear"></div>
</div>
</div>