id: 7
source: 1
name: video
description: ''
properties: 'a:0:{}'

-----

<div id="main-video">
	<div class="wrap">
		<div class="video">
		  <iframe width="640" height="360" src="//www.youtube.com/embed/Muy7tYrnqV8" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="form">
		  <div class="heading"><div class="top">Узнайте как</div><div class="bottom">Вы заработаете деньги</div></div>
		  <div class="content">
			  <form>
				  <div class="field"><input type="text" placeholder="Введите ваш Email"></div>
				  <div class="field"><input type="submit" value="Отправить"/></div>
			  </form>
		  </div>
		</div>
	</div>
</div>